@charset "utf-8";

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Variable'), url('../../../packages/pretendard/dist/web/variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}

body, table th {
    font-weight: 400;
}

body, button, input, select, textarea {
    font-family: Pretendard, Apple SD Gothic Neo, Segoe UI, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, -apple-system, blinkmacsystemfont, sans-serif;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

*, :after, :before {
    box-sizing: border-box;
}

body > #root, #wadizTopBanner, #page-container {
    transform-origin: 50% 0;
    transition-property: opacity, transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

a, em, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

div {
    display: block;
}

article, main, section {
    display: block;
}

*, :after, :before {
    box-sizing: border-box;
}

a, em, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1097px) {
    html.scroll-top .MainWrapper_content__GZkTa {
        padding-top: 0;
    }
}

html.scroll-top .MainWrapper_content__GZkTa, html.wadiz-app .MainWrapper_content__GZkTa, html.wadiz-app.scroll-top .MainWrapper_content__GZkTa {
    padding-top: 0;
}

@media screen and (min-width: 1097px) {
    .MainWrapper_content__GZkTa {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.MainWrapper_content__GZkTa {
    transition: padding-top .25s;
    padding-top: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

@media screen and (min-width: 1097px) {
    .PaymentLayout_paymentLayoutContainer__3Ef47 {
        display: flex;
        justify-content: space-between;
        margin: 40px auto 0;
        background-color: #fff;
        max-width: 1140px;
    }
}

.PaymentLayout_paymentLayoutContainer__3Ef47 {
    position: relative;
    background-color: #fff;
}

@media screen and (min-width: 1097px) {
    .PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_paymentContainer__2T2nr {
        width: 100%;
        max-width: 729px;
    }
}

@media screen and (min-width: 1097px) {
    .PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_paymentContainer__2T2nr .PaymentLayout_pageTitle__2MXof {
        line-height: 38px;
        letter-spacing: -.6px;
        font-size: 28px;
        font-weight: 700;
        padding: 0 16px 24px;
    }
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_paymentNotice__1o_Hi {
    background-color: #fff;
    padding: 0 16px;
}

.MessageBox_messageBox__2WX5N.MessageBox_basic__1zukz {
    background-color: #f9fafb;
    color: #495057;
}

.StorePaymentNotice_storePaymentNotice__1bIo9 {
    word-break: keep-all;
    overflow-wrap: break-word;
    letter-spacing: -.3px;
}

.MessageBox_messageBox__2WX5N {
    display: flex;
    border-radius: 8px;
    padding: 16px;
}

.MessageBox_messageBox__2WX5N.MessageBox_basic__1zukz .MessageBox_icon__1NYKB {
    color: #868e96;
}

.MessageBox_messageBox__2WX5N .MessageBox_icon__1NYKB {
    margin-top: 2px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.withIcon_icon__3VTbq {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

*, :after, :before {
    box-sizing: border-box;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.MessageBox_messageBox__2WX5N.MessageBox_vertical__2ODEW .MessageBox_title__12hBF {
    margin-bottom: 8px;
}

.MessageBox_messageBox__2WX5N .MessageBox_title__12hBF {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 8px;
    text-align: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.MessageBox_messageBox__2WX5N .MessageBox_title__12hBF + .MessageBox_description__2Fyxq {
    margin-left: -20px;
}

@media screen and (min-width: 1097px) {
    .MessageBox_messageBox__2WX5N .MessageBox_description__2Fyxq {
        line-height: 20px;
    }
}

.MessageBox_messageBox__2WX5N .MessageBox_description__2Fyxq {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    word-break: keep-all;
    overflow-wrap: break-word;
    color: #495057;
}

.MessageBox_messageBox__2WX5N .MessageBox_description__2Fyxq ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li, ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.MessageBox_messageBox__2WX5N .MessageBox_description__2Fyxq ul li {
    display: flex;
    margin-bottom: 4px;
    line-height: 18px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.MessageBox_messageBox__2WX5N .MessageBox_description__2Fyxq ul li:before {
    display: inline-flex;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    content: "\2022";
    box-sizing: border-box;
}

.MessageBox_messageBox__2WX5N .MessageBox_description__2Fyxq ul li {
    display: flex;
    margin-bottom: 4px;
    line-height: 18px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.MessageBox_messageBox__2WX5N .MessageBox_description__2Fyxq ul li:before {
    display: inline-flex;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    content: "\2022";
    box-sizing: border-box;
}

.StorePaymentSection_container__1SdwL {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px;
}

article, main, section {
    display: block;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg {
    position: relative;
}

@media screen and (min-width: 1097px) {
    .StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg .StorePaymentSection_title__DLi4F {
        line-height: 30px;
        letter-spacing: -.6px;
        font-size: 20px;
        font-weight: 700;
    }
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW.StorePaymentSection_active__2fVyM {
    margin-top: 8px;
    height: auto;
    overflow: visible;
    word-break: break-all;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW {
    margin-top: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.StorePaymentInformation_storePaymentInformation__nBaVr {
    background-color: #f9fafb;
    padding: 16px;
}

a, em, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.StorePaymentInformation_storePaymentInformation__nBaVr .StorePaymentInformation_row__OF_TS:first-child {
    margin-top: 0;
}

.StorePaymentInformation_storePaymentInformation__nBaVr .StorePaymentInformation_row__OF_TS span.StorePaymentInformation_label__3Pxe0 {
    width: 90px;
}

.StorePaymentInformation_storePaymentInformation__nBaVr .StorePaymentInformation_row__OF_TS span {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}

.StorePaymentInformation_storePaymentInformation__nBaVr .StorePaymentInformation_row__OF_TS {
    margin-top: 8px;
}

.StorePaymentInformation_storePaymentInformation__nBaVr .StorePaymentInformation_row__OF_TS span.StorePaymentInformation_label__3Pxe0 {
    width: 90px;
}

form {
    display: block;
    margin-top: 0em;
}

button:not(:disabled), input:not(:disabled), input:not(:disabled) + label {
    cursor: pointer;
}

a, input, optgroup, select, textarea {
    color: inherit;
}

body, button, input, select, textarea {
    font-family: Pretendard, Apple SD Gothic Neo, Segoe UI, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, -apple-system, blinkmacsystemfont, sans-serif;
}

input, textarea {
    background: none;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
}

.StorePaymentSection_container__1SdwL {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px;
}

article, main, section {
    display: block;
}

article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg {
    position: relative;
}

@media screen and (min-width: 1097px) {
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg .StorePaymentSection_title__DLi4F {
    line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW.StorePaymentSection_active__2fVyM {
    margin-top: 8px;
    height: auto;
    overflow: visible;
    word-break: break-all;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW {
    width: 100%;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T {
    position: relative;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_productInfoContainer__3ulGA .StorePaymentProductInfo_productInfoTextContainer__CId20 {
    float: left;
    width: 100%;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_productInfoContainer__3ulGA .StorePaymentProductInfo_productInfoTextContainer__CId20 .StorePaymentProductInfo_productName__1TK1V {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_productInfoContainer__3ulGA .StorePaymentProductInfo_productInfoTextContainer__CId20 .StorePaymentProductInfo_productDescription__3-3a_ {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_productInfoContainer__3ulGA:after {
    display: block;
    clear: both;
    content: "";
}

*, :after, :before {
    box-sizing: border-box;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_priceInfo__35XLT {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
    width: 100%;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_priceInfo__35XLT .StorePaymentProductInfo_qty__3MWOa {
    vertical-align: bottom;
    line-height: 28px;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_priceInfo__35XLT .StorePaymentProductInfo_price__2pYbN {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 700;
    float: right;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_priceInfo__35XLT:after {
    display: block;
    clear: both;
    content: "";
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_divider__2dEYa {
    margin: 14px 0 16px;
    background-color: #e6eaed;
    width: 100%;
    height: 1px;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T:after {
    display: block;
    clear: both;
    content: "";
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T .StorePaymentProductInfo_divider__2dEYa {
    margin: 14px 0 16px;
    background-color: #e6eaed;
    width: 100%;
    height: 1px;
}

.StorePaymentProductInfo_storePaymentProductInfoContainer__1nu6T:after {
    display: block;
    clear: both;
    content: "";
}

.StorePaymentDeliveryNotice_storePaymentDeliveryNotice__1486h {
    margin-top: 24px;
}

.StorePaymentDeliveryNotice_storePaymentDeliveryNotice__1486h .StorePaymentDeliveryNotice_deliveryNoticeField__3kuo2 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.StorePaymentDeliveryNotice_storePaymentDeliveryNotice__1486h .StorePaymentDeliveryNotice_deliveryNotice__koswG {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}

.StorePaymentSection_container__1SdwL {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px;
}

article, main, section {
    display: block;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg {
    position: relative;
}

div {
    display: block;
}

@media screen and (min-width: 1097px) {
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg .StorePaymentSection_title__DLi4F {
    line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW.StorePaymentSection_active__2fVyM {
    margin-top: 8px;
    height: auto;
    overflow: visible;
    word-break: break-all;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW {
    width: 100%;
}

.select-menu {
    word-break: keep-all;
    overflow-wrap: break-word;
}

.css-14jk2my-container {
    pointer-events: none;
    position: relative;
    box-sizing: border-box;
}

.css-7pg0cj-a11yText {
    z-index: 9999;
    border: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    white-space: nowrap;
}

.medium .select-menu__control {
    height: 48px;
    min-height: 48px;
}

.css-1fhf3k1-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
    border-color: rgb(230, 230, 230);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}

.select-menu__control {
    border: 1px solid #dde2e6;
    border-radius: 3px;
    box-shadow: none;
}

.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.css-1wa3eu0-placeholder {
    color: rgb(128, 128, 128);
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.css-62g3xt-dummyInput {
    background: 0px center;
    border: 0px;
    font-size: inherit;
    outline: 0px;
    padding: 0px;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    transform: scale(0);
}

input:disabled {
    cursor: default;
}

.css-1wy0on6 {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}

.css-tlfecz-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}

.select-menu__indicator {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 24px;
}

.withIcon_icon__3VTbq {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;

}

.StorePaymentSection_container__1SdwL {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px;
}

article, main, section {
    display: block;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg {
    position: relative;
}

@media screen and (min-width: 1097px) {
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg .StorePaymentSection_title__DLi4F {
    line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW.StorePaymentSection_active__2fVyM {
    margin-top: 8px;
    height: auto;
    overflow: visible;
    word-break: break-all;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW {
    width: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.StorePaymentChooseMode_storePaymentChooseMode__2yXk6 ul li {
    margin-top: 16px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59.StorePaymentNicePay_checked__14ngZ {
    border-color: #00BBFF;
    padding: 12px 16px;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 {
    display: inline-block;
    position: relative;
    border: 1px solid #dde2e6;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 343px;
    height: auto;
    color: #495057;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay {
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 24px;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59.StorePaymentNicePay_single__3-vFW .StorePaymentNicePay_checkIcon__3gaNh {
    margin-right: 12px;
    color: #00BBFF;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay svg {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay * {
    vertical-align: top;
}

.withIcon_icon__3VTbq {
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59.StorePaymentNicePay_single__3-vFW .StorePaymentNicePay_radio__2Zx3M {
    display: none;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay .StorePaymentNicePay_radio__2Zx3M {
    margin: 0 12px 0 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay * {
    vertical-align: top;
}

label.Radio_radio__qgo5c {
    position: relative;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay * {
    vertical-align: top;
}

label.Radio_radio__qgo5c > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

button:not(:disabled), input:not(:disabled), input:not(:disabled) + label {
    cursor: pointer;
}

a, input, optgroup, select, textarea {
    color: inherit;
}

input, textarea {
    background: none;
}

body, button, input, select, textarea {
    font-family: Pretendard, Apple SD Gothic Neo, Segoe UI, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, -apple-system, blinkmacsystemfont, sans-serif;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="radio" i] {
    appearance: auto;
}

label.Radio_radio__qgo5c > input:checked + .Radio_icon__TTjQX, label.Radio_radio__qgo5c > input:checked:hover + .Radio_icon__TTjQX {
    border-color: #00BBFF !important;
    background-color: #fff;
}

label.Radio_radio__qgo5c.Radio_lg__3pVSs > .Radio_icon__TTjQX {
    font-size: 24px;
}

label.Radio_radio__qgo5c.Radio_lg__3pVSs > span {
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 700;
}

label.Radio_radio__qgo5c > .Radio_icon__TTjQX {
    display: block;
    position: relative;
    transition-property: opacity, border-color, background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 999em;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay * {
    vertical-align: top;
}

label.Radio_radio__qgo5c.Radio_lg__3pVSs > span {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
}

label.Radio_radio__qgo5c .Radio_label__3ufjh {
    vertical-align: -1px;
    color: #495057;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay svg {
    display: inline-block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay * {
    vertical-align: top;
}

.withIcon_icon__3VTbq {
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

*, :after, :before {
    box-sizing: border-box;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_title__1Ppay > span {
    vertical-align: middle;
}

.StorePaymentNicePay_storePaymentNicePay__1Yb59 .StorePaymentNicePay_notification__D1ZcP {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    padding-left: 36px;
    color: #adb5bd;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

@media screen and (min-width: 1097px) {
}

.PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_floatingSectionContainer__2QCzS {
    margin-top: 24px;
    width: 343px;
}

@media screen and (min-width: 1097px) {
}

.PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_floatingSectionContainer__2QCzS .PaymentLayout_floatingSection__31pLD {
    position: sticky;
    top: 40px;
}

@media screen and (min-width: 1097px) {
}

.PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_floatingSectionContainer__2QCzS .PaymentLayout_floatingSection__31pLD .PaymentLayout_floating__3iHN0 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.StorePaymentSection_container__1SdwL {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px;
}

article, main, section {
    display: block;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg {
    position: relative;
}

@media screen and (min-width: 1097px) {
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_titleContainer__gkoqg .StorePaymentSection_title__DLi4F {
    line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW.StorePaymentSection_active__2fVyM {
    margin-top: 8px;
    height: auto;
    overflow: visible;
    word-break: break-all;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW {
    width: 100%;
}

.DefaultPrice_container__1gf10 {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #f9fafb;
    cursor: pointer;
    padding: 16px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.DefaultPrice_container__1gf10 .DefaultPrice_title__3iw65 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
    display: inline-flex;
    margin-bottom: 8px;
    color: #212529;
}

.DefaultPrice_container__1gf10 .DefaultPrice_title__3iw65 .DefaultPrice_radioButton__1nTXN {
    display: inline-block;
    margin: 0 8px 0 0;
    cursor: pointer;
}

label.Radio_radio__qgo5c {
    position: relative;
}

label.Radio_radio__qgo5c > input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

button:not(:disabled), input:not(:disabled), input:not(:disabled) + label {
    cursor: pointer;
}

a, input, optgroup, select, textarea {
    color: inherit;
}

input, textarea {
    background: none;
}

label.Radio_radio__qgo5c > input:checked + .Radio_icon__TTjQX, label.Radio_radio__qgo5c > input:checked:hover + .Radio_icon__TTjQX {
    border-color: #00BBFF !important;
    background-color: #fff;
}

label.Radio_radio__qgo5c.Radio_md__1hsD9 > .Radio_icon__TTjQX {
    font-size: 20px;
}

label.Radio_radio__qgo5c.Radio_md__1hsD9 > span {
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
}

label.Radio_radio__qgo5c > .Radio_icon__TTjQX {
    display: block;
    position: relative;
    transition-property: opacity, border-color, background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 999em;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

label.Radio_radio__qgo5c > input:checked + .Radio_icon__TTjQX:before, label.Radio_radio__qgo5c > input:checked:hover + .Radio_icon__TTjQX:before {
    background-color: #00BBFF;
}

label.Radio_radio__qgo5c > .Radio_icon__TTjQX:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: background-color;
    transition-duration: .15s;
    border-radius: 999em;
    width: 0.5em;
    height: 0.5em;
    content: "";
}

*, :after, :before {
    box-sizing: border-box;
}

label.Radio_radio__qgo5c.Radio_md__1hsD9 > span {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

label.Radio_radio__qgo5c .Radio_label__3ufjh {
    vertical-align: -1px;
    color: #495057;
}

.TitleValuePrice_container__Hcpla {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.TitleValuePrice_container__Hcpla dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    color: #495057;
}

dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

.TitleValuePrice_container__Hcpla dd {
    display: inline-flex;
    align-items: center;
}

dd {
    margin-inline-start: 40px;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_money__1Tu-B {
    margin-right: 4px;
}

address, cite, dfn, em, var {
    font-weight: inherit;
    font-style: normal;
}

.TitleValuePrice_container__Hcpla {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.TitleValuePrice_container__Hcpla dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    color: #495057;
}

dt {
    display: block;
}

.TitleValuePrice_container__Hcpla dd {
    display: inline-flex;
    align-items: center;
}

dd {
    margin-inline-start: 40px;
}

.TitleValuePrice_container__Hcpla {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.TitleValuePrice_container__Hcpla dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    color: #495057;
}

.TitleValuePrice_container__Hcpla dd {
    display: inline-flex;
    align-items: center;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

dd {
    margin-inline-start: 40px;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_money__1Tu-B {
    margin-right: 4px;
}

address, cite, dfn, em, var {
    font-weight: inherit;
    font-style: normal;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_details__24aoz {
    margin-top: 8px;
}

.TitleValuePrice_container__Hcpla {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}


.TitleValuePrice_container__Hcpla .TitleValuePrice_divide__2bMnX {
    margin: 12px -16px 2px !important;
    border: 1px solid #e6eaed;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_total__oJwm4 {
    margin-top: 12px;
    color: #212529;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
}

.TitleValuePrice_container__Hcpla dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

dt {
    display: block;
}

.TitleValuePrice_container__Hcpla dd {
    display: inline-flex;
    align-items: center;
}

dd {
    margin-inline-start: 40px;
}

.TitleValuePrice_container__Hcpla .TitleValuePrice_total__oJwm4 em {
    letter-spacing: -.6px;
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
}

@media screen and (min-width: 1097px) {
}

.PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_floatingSectionContainer__2QCzS .PaymentLayout_floatingSection__31pLD .PaymentLayout_floating__3iHN0 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.StorePaymentSection_container__1SdwL {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px;
}

article, main, section {
    display: block;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW.StorePaymentSection_active__2fVyM {
    margin-top: 8px;
    height: auto;
    overflow: visible;
    word-break: break-all;
}

.StorePaymentSection_container__1SdwL .StorePaymentSection_sectionContent__1a3aW {
    width: 100%;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsCheckbox__3gruT {
    cursor: pointer;
}

.Checkbox_checkbox__KagcU.Checkbox_labeled__2WxRV {
    display: inline-flex;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

button:not(:disabled), input:not(:disabled), input:not(:disabled) + label {
    cursor: pointer;
}

a, input, optgroup, select, textarea {
    color: inherit;
}

input[type="checkbox" i] {
    appearance: auto;
}

.Checkbox_checkbox__KagcU.Checkbox_lg__1DyUN .Checkbox_icon__1OUUf {
    font-size: 24px;
}

.Checkbox_checkbox__KagcU.Checkbox_labeled__2WxRV .Checkbox_icon__1OUUf {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf {
    position: relative;
    transition-property: opacity, border-color, background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 2px;
    background-color: #fff;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_checkIcon__2qiC_, .Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_removeIcon__7dzQx {
    opacity: 0;
}

.Checkbox_checkbox__KagcU.Checkbox_lg__1DyUN .Checkbox_removeIcon__7dzQx {
    width: 12px;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    height: 0.7791666667em;
    fill: #fff;
}

.withIcon_icon__3VTbq {
    display: block;
    transition: transform .3s ease-out;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_checkIcon__2qiC_, .Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_removeIcon__7dzQx {
    opacity: 0;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    width: 0.7791666667em;
    height: 0.7791666667em;
    fill: #fff;
}

.withIcon_icon__3VTbq {
    display: block;
    transition: transform .3s ease-out;
}

.Checkbox_checkbox__KagcU.Checkbox_labeled__2WxRV.Checkbox_lg__1DyUN .Checkbox_content__3UZwe {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
}

.Checkbox_checkbox__KagcU.Checkbox_labeled__2WxRV .Checkbox_content__3UZwe {
    display: inline-block;
    color: #495057;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i {
    margin-top: 16px;
    padding: 0 8px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    display: block;
    position: relative;
    margin-top: 24px;
    padding-left: 24px;
}

label {
    cursor: default;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_smallCheckBox__YwfQ5 {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

button:not(:disabled), input:not(:disabled), input:not(:disabled) + label {
    cursor: pointer;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU.Checkbox_sm__2_Gjh .Checkbox_icon__1OUUf {
    font-size: 16px;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf {
    display: block;
    position: relative;
    transition-property: opacity, border-color, background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 2px;
    background-color: #fff;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_checkIcon__2qiC_, .Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_removeIcon__7dzQx {
    opacity: 0;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU.Checkbox_sm__2_Gjh .Checkbox_removeIcon__7dzQx {
    width: 8px;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    height: 0.7791666667em;
    fill: #fff;
}

.withIcon_icon__3VTbq {
    display: block;
    transition: transform .3s ease-out;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_checkIcon__2qiC_, .Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_removeIcon__7dzQx {
    opacity: 0;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    width: 0.7791666667em;
    height: 0.7791666667em;
    fill: #fff;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_text__1tYhe {
    display: block;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    display: block;
    position: relative;
    margin-top: 24px;
    padding-left: 24px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_smallCheckBox__YwfQ5 {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU.Checkbox_sm__2_Gjh .Checkbox_icon__1OUUf {
    font-size: 16px;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf {
    display: block;
    position: relative;
    transition-property: opacity, border-color, background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 2px;
    background-color: #fff;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_checkIcon__2qiC_, .Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_removeIcon__7dzQx {
    opacity: 0;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU.Checkbox_sm__2_Gjh .Checkbox_removeIcon__7dzQx {
    width: 8px;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    height: 0.7791666667em;
    fill: #fff;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_checkIcon__2qiC_, .Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_removeIcon__7dzQx {
    opacity: 0;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    width: 0.7791666667em;
    height: 0.7791666667em;
    fill: #fff;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_text__1tYhe {
    display: block;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_termsDetailButton__29smA {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
}

.Button_button__2FuOU.Button_iconOnly__F0Izx {
    height: auto;
    line-height: 1;
}

.Button_button__2FuOU.Button_sm__16X6h {
    font-size: 12px;
}

.Button_button__2FuOU.Button_text__2-UCU {
    border-color: rgba(0, 0, 0, 0);
}

button[class*=Button_button] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:not(:disabled) {
    cursor: pointer;
}

.Button_button__2FuOU {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
}

button {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}

.Button_button__2FuOU span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_termsDetailButton__29smA svg {
    width: 16px;
    height: 16px;
}

.withIcon_icon__3VTbq {
    display: block;
    transform: scale(1);
    transition: transform .3s ease-out;
    fill: currentColor;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.Button_button__2FuOU.Button_primary__2mZni.Button_contained__2SIAT {
    border-color: #00BBFF;
    background-color: #00BBFF;
    color: #fff;
}

.PaymentLayout_paymentLayoutContainer__3Ef47 .PaymentLayout_submitButton__1fQJ4 {
    margin-top: 26px;
}

.Button_button__2FuOU.Button_lg__1Dftp {
    padding: 9px 24px;
    line-height: 1.75;
    font-size: 16px;
}

.Button_button__2FuOU.Button_block__1-g8w {
    width: 100%;
}

button[class*=Button_button] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:not(:disabled) {
    cursor: pointer;
}

.Button_button__2FuOU span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button__2FuOU .Button_children__ilFun {
    vertical-align: top;
}

.Button_button__2FuOU span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

html.scroll-top .FloatingButtons_container__2E5Fl {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.FloatingButtons_container__2E5Fl {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    right: 16px;
    bottom: 20px;
    transition-property: transform, scale;
    transition-duration: .25s;
    z-index: 1200;
}

a, em, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.scroll-top.scroll-apex .FloatingTopButton_pageTop__2gqm9 {
    opacity: 0;
    pointer-events: none;
}

.FloatingTopButton_pageTop__2gqm9.FloatingTopButton_visible__2sh_N {
    display: block;
}

button:not(:disabled) {
    cursor: pointer;
}

@media screen and (min-width: 1097px) {
}

.FloatingTopButton_pageTop__2gqm9 {
    width: 60px;
    height: 60px;
    font-size: 32px;
}

.FloatingTopButton_pageTop__2gqm9 {
    display: none;
    position: relative;
    border: 1px solid #babdc0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .8);
    cursor: pointer;
    padding: 0 0 env(safe-area-inset-bottom);
    width: 44px;
    height: 44px;
    color: #babdc0;
    font-size: 24px;
    box-sizing: border-box;
}

a, button {
    outline: none;
}

.FloatingTopButton_pageTop__2gqm9 svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.withIcon_icon__3VTbq {
    display: block;
    transition: transform .3s ease-out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

element.style {
    display: none;
}

button:not(:disabled) {
    cursor: pointer;
}

.RecentView_container__1boAT {
    width: 60px;
    height: 60px;
}

.RecentView_container__1boAT {
    display: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #dde2e6;
    transition-property: transform;
    transition-duration: .25s;
    transform: translateY(0);
    overflow: hidden;
    z-index: 1200;
    box-shadow: 0 6px 6px -1px rgba(10, 22, 70, .1), 0 0 5px rgba(10, 22, 70, .06);
    cursor: pointer;
}

a, button {
    color: inherit;
}

a, button {
    outline: none;
}

element.style {
    background-image: url("https://cdn2.wadiz.kr/2022/12/13/b1c973d0-aae9-4778-9751-71c3f2953a13.jpg/wadiz/resize/400/format/jpg/quality/85/");
}

.RecentView_container__1boAT .RecentView_thumbnail__1lnV0 {
    border-radius: 50%;
}

.RecentView_container__1boAT * {
    pointer-events: none;
}

.CardThumbnail_noanimation__23cSf {
    transition: none;
}

.CardThumbnail_visible__343f4 {
    opacity: 1;
}

.CardThumbnail_thumbnail__3bDBJ {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
    background: no-repeat 50%/cover border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 10px;
    opacity: 0;
}

.Input_input__3VoZt {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 3px;
    background-color: #fff;
    padding-left: 16px;
    width: 100%;
    color: #212529;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

button:not(:disabled), input:not(:disabled), input:not(:disabled) + label {
    cursor: pointer;
}

.Input_input__3VoZt.Input_sm__3KLFX {
    height: 40px;
    min-height: 40px;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_inputField__2Qhu8 .MobileAuthField_input__1xduV {
    padding-right: 55px;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_cta__3SLeA {
    margin-left: 8px;
}

.Button_button__2FuOU.Button_sm__16X6h {
    padding: 6px 11px;
    line-height: 1.5;
    font-size: 12px;
}

.MobileAuthField_inputFieldContainer__2EIrA {
    display: flex;
    align-items: center;
}

.MobileAuthField_cta__3SLeA {
    margin-left: 10px;
}

.Button_button__2FuOU.Button_secondary__LNLsN {
    border-color: #cdd3d8;
    color: #495057;
}

.Button_button__2FuOU.Button_sm__16X6h {
    padding: 6px 11px;
    line-height: 1.5;
    font-size: 12px;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_cta__3SLeA {
    margin-left: 8px;
}

.Button_button__2FuOU span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button__2FuOU .Button_children__ilFun {
    vertical-align: top;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_helperMessage__3sZnE {
    line-height: 18px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_helperMessage__3sZnE.MobileAuthField_error__29I4S {
    color: #f66;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_inputField__2Qhu8 .MobileAuthField_count__cBcmt {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 50%;
    margin-left: 200px;
    transform: translateY(-50%);
    color: #e54545;
}

.MobileAuthField_mobileAuthField__3Aupu:nth-child(2) {
    margin-top: 10px;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_fieldLabel__ols7n {
    line-height: 28px;
    letter-spacing: -.3px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.MobileAuthField_mobileAuthField__3Aupu .MobileAuthField_inputField__2Qhu8 {
    position: relative;
    width: 33%;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    display: block;
    position: relative;
    margin-top: 24px;
    padding-left: 24px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 .StorePaymentTerms_smallCheckBox__YwfQ5 {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf {
    display: block;
    position: relative;
    transition-property: opacity, border-color, background-color;
    transition-duration: .15s;
    opacity: 1;
    z-index: 1;
    border: 1px solid #cdd3d8;
    border-radius: 2px;
    background-color: #fff;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.Checkbox_checkbox__KagcU.Checkbox_sm__2_Gjh .Checkbox_icon__1OUUf {
    font-size: 16px;
}

.StorePaymentTerms_StorePaymentTerms__1PQlB .StorePaymentTerms_termsList__1ki8i .StorePaymentTerms_termsItem__CAG90 * {
    vertical-align: middle;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    height: .7791666667em;
    fill: #fff;
}

.Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_checkIcon__2qiC_, .Checkbox_checkbox__KagcU .Checkbox_input__Ge9vr + .Checkbox_icon__1OUUf .Checkbox_removeIcon__7dzQx {
    opacity: 0;
}

.Checkbox_checkbox__KagcU.Checkbox_sm__2_Gjh .Checkbox_removeIcon__7dzQx {
    width: 8px;
}

.Checkbox_checkbox__KagcU .Checkbox_icon__1OUUf svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: opacity, width, fill;
    transition-duration: .15s;
    width: .7791666667em;
    height: .7791666667em;
    fill: #fff;
}

