<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>포인트 상세 | 위게더</title>
    <link rel="stylesheet" href="/css/mypage/point/point.css">
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/mypage/project/list.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <title>문의 등록 | 위게더</title>
  </head>
  <header th:replace="~{/fix/header :: #header}"></header>
  <body>
    <div id="wadizContainer">
      <div id="mypageWrap">
        <div class="mybenefit-wrap">
          <h2 class="mypage-top-title short">포인트</h2>
          <div class="mypage-project short">
            <p class="point-guide">포인트 적립, 사용내역입니다.</p>
            <div class="usable-point">
              <p>현재 사용가능 포인트 <em th:text="${member.memberPoint + 'P'}"></em></p>
            </div>

            <div class="point-list">
              <!--            <p id="emptyProjectText" style="display: block">포인트 거래 내역이 없습니다.</p> -->
              <ul class="CardList_container__39oS4" style="width: calc(100% - 0px)">
<!--                <li-->
<!--                  class="CardList_itemContainer__2c_vS"-->
<!--                  style="width: calc((50% - 0px) - 0.01px); margin: 0 auto"-->
<!--                >-->
<!--                  <div class="PurchaseSummaryCard_item__3LlZ3">-->
<!--                    <dl class="PurchaseSummaryCard_etcArea__3Ummh"></dl>-->
<!--                    <div class="PurchaseSummaryCard_content__21XLk">-->
<!--                      <div class="PurchaseSummaryCard_thumbnailArea__2BT7p" aria-hidden="true">-->
<!--                        <div class="PurchaseSummaryCard_thumbnailPlaceholder__3O0tl">-->
<!--                          <div-->
<!--                            aria-hidden="true"-->
<!--                            class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"-->
<!--                            style="background-image: url('')"-->
<!--                          ></div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <dl class="PurchaseSummaryCard_titleArea__3qDl4">-->
<!--                        <dd title="" class="PurchaseSummaryCard_title__uCiz5">3000 Point 사용</dd>-->
<!--                      </dl>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                     <div class="PurchaseSummaryCard_detailText__2GWWi" aria-hidden="true">-->
<!--                      상세보기<svg-->
<!--                        viewBox="0 0 40 40"-->
<!--                        focusable="false"-->
<!--                        role="presentation"-->
<!--                        class="withIcon_icon__3VTbq PurchaseSummaryCard_arrowIcon__2WltX"-->
<!--                        aria-hidden="true"-->
<!--                      >-->
<!--                        <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>-->
<!--                      </svg>-->
<!--                    </div> &ndash;&gt;-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li-->
<!--                  class="CardList_itemContainer__2c_vS"-->
<!--                  style="width: calc((50% - 0px) - 0.01px); margin: 0 auto"-->
<!--                >-->
<!--                  <div role="link" class="PurchaseSummaryCard_item__3LlZ3">-->
<!--                    <dl class="PurchaseSummaryCard_etcArea__3Ummh"></dl>-->
<!--                    <div class="PurchaseSummaryCard_content__21XLk">-->
<!--                      <div class="PurchaseSummaryCard_thumbnailArea__2BT7p" aria-hidden="true">-->
<!--                        <div class="PurchaseSummaryCard_thumbnailPlaceholder__3O0tl">-->
<!--                          <div-->
<!--                            aria-hidden="true"-->
<!--                            class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"-->
<!--                            style="background-image: url('')"-->
<!--                          ></div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <dl class="PurchaseSummaryCard_titleArea__3qDl4">-->
<!--                        <dd title="" class="PurchaseSummaryCard_title__uCiz5">5000 Point 적립</dd>-->
<!--                        <dd class="PurchaseSummaryCard_description__245z_">-->
<!--                          <span class="PurchaseSummaryCard_makerName__1n7dA"></span>-->
<!--                        </dd>-->
<!--                      </dl>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </li>-->
              </ul>

              <div class="bottom-notice">
                <h4>포인트 이용안내</h4>
                <p>
                  1. 해당 포인트는 Wegather 전용으로 Wegather홈페이지에서만 사용할 수 있습니다.
                  <br />
                  2. 1 Point 당 1 원과 동일한 가치로 사용할 수 있습니다.<br />
                  <br />
                  <br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script th:inline="javascript">
    let points = [[${points}]];
    console.log(points);
  </script>
  <script src="/js/mypage/point/point.js"></script>
</html>
