<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../my-page/mypage.css" />
    <link rel="stylesheet" href="../purchase/purchase-detail.css" />
    <link rel="stylesheet" href="../purchase/cancle-purchase-modal.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="OrderDetailPage_container__RWOmx">
      <div>
        <div class="OrderDetailPage_inner__1PF1V">
          <div class="OrderDetailPage_cardInfoArea__m9xa0">
            <div
              class="PurchaseDetailHeaderCard_item__2Ki-i PurchaseDetailHeaderCard_normal__3VSo7"
            >
              <div class="PurchaseDetailHeaderCard_etcArea__2kh9o">
                <span>주문번호 230510-032814-0001</span><span>2023-05-10 03:28 구매</span>
              </div>
              <div class="PurchaseDetailHeaderCard_content__1Vhic">
                <div class="PurchaseDetailHeaderCard_titleArea__2fhIz">
                  <a
                    title="<3천원대 안심 투자> 마스크 안쪽까지 보호하는 마스크 스트랩 #마스클립"
                    class="PurchaseDetailHeaderCard_title__2CKaX"
                    href="/web/store/detail/320"
                    >&lt;3천원대 안심 투자&gt; 마스크 안쪽까지 보호하는 마스크 스트랩 #마스클립</a
                  >
                  <div class="PurchaseDetailHeaderCard_makerName__3MvHq">팝코즈(popcoz)</div>
                </div>
              </div>
            </div>
          </div>
          <div class="StateMessageBox_container__1BnqE">
            <div>
              <span class="Badge_container__9G9PS Badge_visible__3LNXv"
                ><span
                  class="Badge_badge__ovUKI Badge_label__2Rft2 Badge_md__1Ck0w Badge_primary__tTdjx Badge_tertiary__3uYKh"
                  >상품 준비 중</span
                ></span
              >
            </div>
            <div class="StateMessageBox_messageBox__29LF7">
              <span>메이커가 상품을 준비하고 있어요.</span><span></span>
            </div>
            <div class="StateMessageBox_footer__1y6oY"></div>
          </div>
          <div class="OrderDetailPage_buttonArea__3FU0C">
            <div class="OrderDetailPageButton_buttonContainer__2Lla4">
              <button
                class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_lg__1Dftp OrderDetailPageButton_button__3IIXz cancle-button"
                type="button"
              >
                <span><span class="Button_children__ilFun">주문 취소</span></span>
              </button>
            </div>
          </div>
          <div>
            <div>
              <div class="OrderDetailPage_paymentInfoHeader__qUXsa">
                <h3>결제 정보</h3>
                <p class="OrderDetailPage_printReceipt__2xe-S">영수증 출력</p>
              </div>
              <div class="LabelValueListContainer_container__3xnyC">
                <div class="LabelValueList_container__91xOp">
                  <dl class="">
                    <dt class="undefined"><span>상품 금액</span></dt>
                    <dd class="LabelValueList_alignRight__37Uj6">
                      <span title="3,800 원">3,800 원</span>
                    </dd>
                  </dl>
                  <dl class="">
                    <dt class="undefined"><span>배송비</span></dt>
                    <dd class="LabelValueList_alignRight__37Uj6">
                      <span
                        ><div class="OrderDetailPage_supporterClubDiscount__2rOLJ">
                          <span>2,500 원</span>
                        </div></span
                      >
                    </dd>
                  </dl>
                </div>
                <div class="LabelValueList_container__91xOp">
                  <dl class="LabelValueList_strong__2qLag">
                    <dt class="undefined"><span>최종 결제 금액</span></dt>
                    <dd class="LabelValueList_alignRight__37Uj6">
                      <span title="6,300 원">6,300 원</span>
                    </dd>
                  </dl>
                  <dl class="">
                    <dt class="undefined"><span>결제 수단</span></dt>
                    <dd class="LabelValueList_alignRight__37Uj6">
                      <span title="신용(체크) 카드">신용(체크) 카드</span>
                    </dd>
                  </dl>
                  <dl class="">
                    <dt class="undefined"><span>결제 카드</span></dt>
                    <dd class="LabelValueList_alignRight__37Uj6">
                      <span title="하나 / 552133**********">하나 / 552133**********</span>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div>
              <h3>배송 정보</h3>
              <div class="LabelValueListContainer_container__3xnyC">
                <div class="LabelValueList_container__91xOp">
                  <dl class="">
                    <dt class="undefined"><span>받는 분</span></dt>
                    <dd
                      class="LabelValueList_alignRight__37Uj6 LabelValueList_preventEllipsis__2O0Jb"
                    >
                      <span title="이종문">이종문</span>
                    </dd>
                  </dl>
                  <dl class="">
                    <dt class="undefined"><span>연락처</span></dt>
                    <dd
                      class="LabelValueList_alignRight__37Uj6 LabelValueList_preventEllipsis__2O0Jb"
                    >
                      <span title="010-4057-3327">010-4057-3327</span>
                    </dd>
                  </dl>
                  <dl class="">
                    <dt class="undefined"><span>주소</span></dt>
                    <dd
                      class="LabelValueList_alignRight__37Uj6 LabelValueList_preventEllipsis__2O0Jb"
                    >
                      <span title="[05779]서울 송파구 양산로8길 8 102동 803호"
                        >[05779]서울 송파구 양산로8길 8 102동 803호</span
                      >
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div>
              <h3>상품 정보</h3>
              <div class="LabelValueListContainer_container__3xnyC">
                <div class="OrderCard_container__sICKL">
                  <div class="OrderCard_content__3TN63">
                    <span class="OrderCard_title__SVEo-">마스클립 차콜블랙</span
                    ><span class="OrderCard_option__2tR0h">1개</span
                    ><span class="OrderCard_price__2XsK_">3,800원</span>
                  </div>
                  <div class="OrderCard_thumbnailPlaceholder__JWTqc">
                    <div
                      class="OrderCard_thumbnail__3LNsT"
                      style="
                        background-image: url('https://cdn2.wadiz.kr/2021/09/03/4ed811d3-9489-440e-9fd8-89028552c4b0');
                      "
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <h3>메이커 정보</h3>
              <div class="LabelValueListContainer_container__3xnyC">
                <div class="LabelValueList_container__91xOp">
                  <dl class="">
                    <dt class=""><span>메이커명</span></dt>
                    <dd class="LabelValueList_alignLeft__vu8QS">
                      <span title="팝코즈(popcoz)">팝코즈(popcoz)</span>
                    </dd>
                  </dl>
                  <dl class="">
                    <dt class=""><span>연락처</span></dt>
                    <dd class="LabelValueList_alignLeft__vu8QS">
                      <span title="0432191173">0432191173</span>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="OrderDetailPage_space__FUk4b" />
        <div class="OrderDetailPage_inner__1PF1V">
          <div class="OrderDetailPage_messageBoxArea__4IvPw">
            <div
              color="basic"
              class="MessageBox_messageBox__2WX5N MessageBox_basic__1zukz MessageBox_vertical__2ODEW"
            >
              <span
                ><svg
                  viewBox="0 0 40 40"
                  focusable="false"
                  role="presentation"
                  class="withIcon_icon__3VTbq MessageBox_icon__1NYKB"
                  aria-hidden="true"
                >
                  <path fill="none" d="M0 0h40v40H0z"></path>
                  <path
                    d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm1 28.6h-2v-13h2zm-1-15.84A1.8 1.8 0 1 1 21.8 12a1.8 1.8 0 0 1-1.8 1.76z"
                  ></path></svg
              ></span>
              <div class="MessageBox_content__3Yza8">
                <p class="MessageBox_title__12hBF">주문 및 환불 시 참고해 주세요</p>
                <div class="MessageBox_description__2Fyxq">
                  <ul>
                    <li>
                      서포터 단순 변심에 의한 교환/반품은 상품 수령 후 7일 이내에 신청할 수
                      있습니다.(반품 배송비 서포터 부담)
                    </li>
                    <li>
                      상품의 내용이 표시∙광고 내용과 다르거나 계약내용과 다르게 이행된 경우에는 해당
                      상품 등을 수령한 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터
                      30일 이내에 교환/반품을 신청할 수 있습니다.(반품 배송비 메이커 부담)
                    </li>
                    <li>다음의 경우에는 교환/반품을 신청할 수 없습니다.</li>
                    <ul class="OrderDetailPage_message2Depth__3fexc">
                      <li>
                        서포터의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우(다만, 상품 등의
                        내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외함)
                      </li>
                      <li>
                        서포터의 사용 또는 일부 소비로 인하여 상품 등의 가치가 현저히 감소한 경우
                      </li>
                      <li>
                        시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한
                        경우
                      </li>
                      <li>복제 가능한 상품 등의 포장을 훼손한 경우</li>
                      <li>
                        용역 또는 “문화산업진흥 기본법” 제2조 제5호의 디지털콘텐츠의 제공이 개시된
                        경우(다만, 가분적 용역 또는 가분적 디지털콘텐츠로 구성된 계약의 경우에는
                        제공이 개시되지 아니한 부분에 대하여는 제외함)
                      </li>
                      <li>
                        주문에 따라 개별적으로 생산되는 상품 등 그에 대하여 청약철회 등을 인정할
                        경우 메이커에게 회복할 수 없는 중대한 피해가 예상되는 경우로서, 사전에 해당
                        거래에 대하여 별도로 그 사실을 고지하고 서포터의 서면(전자문서를 포함)에
                        의한 동의를 받은 경우
                      </li>
                      <li>그 밖에 관련 법령에 따른 반품 제한 사유에 해당되는 경우</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ReactModalPortal" style="display: none">
      <div
        class="ReactModal__Overlay ReactModal__Overlay--after-open ConfirmModal_overlay__9xcDs waffle__modal__overlay"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        <div
          class="ReactModal__Content ReactModal__Content--after-open ConfirmModal_confirmModal__1x2Tw ConfirmModal_sizeLg__KHkYl"
          tabindex="-1"
          role="dialog"
          aria-modal="true"
        >
          <div class="ConfirmModal_header__gkXhb">
            <div title="주문 취소하시겠어요?" class="ConfirmModal_title__ubaBW">
              주문 취소하시겠어요?
            </div>
          </div>
          <div class="ConfirmModal_content__3KM88 ConfirmModal_hasTitle__3rvSc">
            <div class="ConfirmModal_message__Mi2Ur">주문하신 상품을 받아 볼 수 없게 됩니다.</div>
          </div>
          <div class="ConfirmModal_footer__gfGBl">
            <div class="ConfirmModal_buttonGroup__3YCl5">
              <button
                class="Button_button__2FuOU Button_text__2-UCU Button_md__46Ai- ConfirmModal_negativeButton__3VxAF xbutton"
                type="button"
              >
                <span><span class="Button_children__ilFun">닫기</span></span></button
              ><button
                class="Button_button__2FuOU Button_primary__2mZni Button_text__2-UCU Button_md__46Ai- ConfirmModal_positiveButton__Fafi9"
                type="button"
              >
                <span><span class="Button_children__ilFun">주문 취소</span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $('.cancle-button').on('click', function () {
      $('.ReactModalPortal').css('display', 'block');
    });

    $('.xbutton').on('click', function () {
      $('.ReactModalPortal').css('display', 'none');
    });
  </script>
</html>
