<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
    />

    <link rel="stylesheet" href="../../../static/css/common/common.css">
    <link rel="stylesheet" href="../../../static/css/common/style.css">
    <link rel="stylesheet" href="../../../static/css/project/studio/intro.css">
    <link rel="stylesheet" href="../../../static/css/project/studio/studio-header.css">

    <title>프로젝트 스튜디오 | 위게더</title>



</head>
<body class="ReactModal__Body--open">
<div id="root">
    <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
        <!-- [S] Header -->
        <div class="AppNavbar_container__5uOnI">
            <div
                    style="
              background: url('https://static.wadiz.kr/studio/funding/static/media/wadiz-logo.549edcd7.svg')
                50% center / contain no-repeat;
              width: 129px;
              height: 48px;
              cursor: pointer;
            "
            ></div>
            <div class="AppNavbar_maker__2WVfm">
                <div class="Avatar_avatar__2DI5d Avatar_xs__i50kh"><span></span></div>
                <div>윰이</div>
            </div>
            <div class="AppNavbar_buttonGroup__UcLfm">
                <div class="btn_notice AnnouncementButton_container__1p1gr" role="button">
                    <img
                            class="AnnouncementButton_icon__29AtY"
                            src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg"
                            alt=""
                            aria-hidden="true"
                    /><span class="Badge_container__3mdFR AnnouncementButton_badge__2Jq25"></span>
                    <div class="AnnouncementPopover_container__51hBA">
                        <div
                                class="notice_section AnnouncementList_container__3Y83C AnnouncementPopover_list__2F5OR"
                        >
                            <h2 class="AnnouncementList_title__3ydqj">안내</h2>
                            <ul class="AnnouncementList_list__SiNbg">
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX">
                        <span class="Badge_container__3mdFR Badge_visible__2c54z"
                        ><span
                                class="Badge_badge__zKi0D Badge_label__2iNzD Badge_md__YzReR Badge_info__MW_1H Badge_tertiary__-ciUe"
                        >중요</span
                        ></span
                        >
                                    </div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">서비스</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">4월 19일</div>
                                        </div>
                                        <div
                                                class="AnnouncementListItem_title__3s-2e AnnouncementListItem_bold__2IKe5"
                                        >
                                            서포터 안심번호 서비스 도입
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX">
                        <span class="Badge_container__3mdFR Badge_visible__2c54z"
                        ><span
                                class="Badge_badge__zKi0D Badge_label__2iNzD Badge_md__YzReR Badge_info__MW_1H Badge_tertiary__-ciUe"
                        >중요</span
                        ></span
                        >
                                    </div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">서비스</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">4월 19일</div>
                                        </div>
                                        <div
                                                class="AnnouncementListItem_title__3s-2e AnnouncementListItem_bold__2IKe5"
                                        >
                                            프리오더 서비스 정책 변경 안내
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">서비스</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">4월 19일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            정보제공고시 개정에 따른 서비스 변경
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">서비스</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">2월 2일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            SNS 광고 수수료 변경 안내
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">정책</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">12월 13일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            프리오더 서비스 심사 정책 변경
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">정책</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">12월 2일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            펀딩 요금제 수수료 개편 안내
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">서비스</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">11월 4일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            앵콜/글로벌 펀딩의 [프리오더] 노출
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">정책</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">10월 18일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            개인 후원 펀딩 정책 개정 안내
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">서비스</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">8월 30일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            리워드 옵션 단위 제한 수량 설정
                                        </div>
                                    </div>
                                </li>
                                <li class="AnnouncementListItem_container__1RcK9">
                                    <div class="AnnouncementListItem_badgeArea__1SUhX"></div>
                                    <div class="AnnouncementListItem_content__JdK0M">
                                        <div class="AnnouncementListItem_info__3TWyQ">
                                            <div class="AnnouncementListItem_header__72g1V">정책</div>
                                            <div class="AnnouncementListItem_registeredDate__3QNjz">5월 18일</div>
                                        </div>
                                        <div class="AnnouncementListItem_title__3s-2e">
                                            글로벌 펀딩 프로젝트 정책 개정 안내
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div
                                    class="AnnouncementDetailDrawer_container__3upVM AnnouncementPopover_drawer__2SiY_"
                            >
                                <div class="AnnouncementDetailDrawer_buttonGroup__3uOYT">
                                    <button class="AnnouncementDetailDrawer_backButton__29Lhc" type="button">
                                        <svg
                                                viewBox="0 0 40 40"
                                                focusable="false"
                                                role="presentation"
                                                class="withIcon_icon__3lrgp AnnouncementDetailDrawer_icon__1Uxof"
                                                aria-hidden="true"
                                                style="width: 24px; height: 24px"
                                        >
                                            <path d="M12 20L25 7l1.4 1.4L14.8 20l11.6 11.6L25 33 12 20z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                        class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG"
                        type="button"
                >
                    <span><span class="Button_children__q9VCZ">나가기</span></span>
                </button>
            </div>
        </div>
        <!-- [E] Header -->

        <!-- [S] Contents -->
        <div class="AppLayout_main__14bCi">
            <!-- [S]side bar -->
            <div class="AppSidebarLayout_contents__2thGr" id="sidebar">
                <div
                        class="AppSidebarRewardProjectInfo_container__2Ykhp AppSidebarRewardProjectInfo_defaultBackgroundImage__1rWVS"
                >
                    <div class="AppSidebarRewardProjectInfo_projectFlagGroup__2GdB4">
                <span class="AppSidebarRewardProjectInfo_flag__2Ctnr">프로젝트</span
                ><span class="AppSidebarRewardProjectInfo_flag__2Ctnr">작성 중</span>
                    </div>
                    <a
                            class="AppSidebarRewardProjectInfo_projectName__1Hf5o"
                            href="#"
                            target="_blank"
                            rel="nofollow noopener noreferrer"
                    >윰이의<br/>멋진 프로젝트</a
                    >
                    <button
                            class="Button_button__1e2A2 Button_info__Nu98q Button_text__3KyLl Button_md__1FRMG Button_endIcon__3ZOY3 AppSidebarRewardProjectInfo_projectNumberButton__1izF_"
                            type="button"
                    >
                        <span><span class="Button_children__q9VCZ">프로젝트 번호 214158</span></span>
                    </button>
                </div>
                <nav class="AppSidebarMenuList_container__199gJ">
                    <div class="AppSidebarMenuList_margin__3qjoc"></div>
                    <ul>
                        <li>
                            <a
                                    class="AppSidebarMenuList_navLink__1FytL AppSidebarMenuList_active__tbFuL"
                                    href="#"
                                    aria-current="page"
                            >프로젝트 관리<i
                                    class="icon-chevron-left AppSidebarMenuList_chevronIcon__2YV-z AppSidebarMenuList_open__bjhTR"
                                    aria-hidden="true"
                            ></i
                            ></a>
                            <ul class="AppSidebarRewardSubList_container__2zCmr">
                                <li>
                                    <a
                                            class="AppSidebarMenuList_navLink__1FytL AppSidebarRewardSubList_subMenu__iqWsa"
                                            href="/studio/reward/214158/funding/screening"
                                    >프로젝트 정보</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="AppSidebarMenuList_navLink__1FytL AppSidebarRewardSubList_subMenu__iqWsa"
                                            href="/studio/reward/214158/funding/baseinfo"
                                    >기본 정보</a
                                    >
                                </li>

                                <li>
                                    <a
                                            class="AppSidebarMenuList_navLink__1FytL AppSidebarRewardSubList_subMenu__iqWsa"
                                            href="/studio/reward/214158/funding/policy"
                                    >정책</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a
                                    class="AppSidebarMenuList_navLink__1FytL AppSidebarMenuList_disabled__3yitR"
                                    href="/studio/reward/214158/news"
                            >새소식<i
                                    class="icon-lock-o AppSidebarMenuList_lockIcon__3H-rC"
                                    aria-hidden="true"
                            ></i>
                                <div class="AppSidebarMenuList_helpFloating__3uu8D">
                                    프로젝트 공개 후 확인할 수 있어요.<br/>(오픈예정 신청한 경우, 오픈예정 공개
                                    후 가능)
                                </div>
                            </a
                            >
                        </li>

                        <li>
                            <a
                                    class="AppSidebarMenuList_navLink__1FytL AppSidebarMenuList_disabled__3yitR"
                                    href="/studio/reward/214158/dashboard/funding-report"
                            >프로젝트 현황<i
                                    class="icon-lock-o AppSidebarMenuList_lockIcon__3H-rC"
                                    aria-hidden="true"
                            ></i>
                                <div class="AppSidebarMenuList_helpFloating__3uu8D">
                                    프로젝트 공개 후 확인할 수 있어요.
                                </div>
                            </a
                            >
                        </li>

                        <li>
                            <a
                                    href="http://www.wadiz.kr/link/studio_makerguide"
                                    class="AppSidebarMenuList_navLink__1FytL"
                                    target="blank"
                                    rel="nofollow noopener noreferrer"
                            >자료 및 도움말</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- [E]side bar -->

            <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
                <div class="FundingContainer_wrapper__3FtZE">
                    <div class="MouseOverGuide_container__3jDBz">
                        <div class="MouseOverGuide_contents__APrXG">
                            <div class="FundingContainer_mobileNotValid__2y7du">
                                <div>
                                    잠깐! 프로젝트 진행 안내를 위해 <strong>휴대전화 인증</strong>이 반드시
                                    필요합니다.
                                </div>
                                <div class="FundingContainer_btnWrapper__m1fpH">
                                    <button type="button" class="wz button primary dense">휴대전화 인증</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FundingHeader_container__2vEbt">
                        <h2 class="FundingHeader_title__19M9i">프로젝트 관리</h2>
                        <p class="FundingHeader_description__1vRHW">
                            프로젝트를 공개하는 데 필요한 내용을 작성해 주세요.
                        </p>
                    </div>
                    <div class="FundingLayout_container___Cixh">
                        <div class="FundingLayout_contents__12sTn">
                            <div class="FundingStatus_container__3bqGB">
                                <div class="FundingStatus_label__393mk">
                                    프로젝트 준비 상태
                                    <button class="FundingStatus_link__3Dz78" type="button">
                                        지금 나의 단계는?
                                    </button>
                                </div>
                                <div class="FundingStatus_statusView__D10Ag"></div>
                                <div class="FundingStatus_statusView__D10Ag">
                                    <div class="FundingStatus_icon__1Xrqx yellow"></div>
                                    작성 중
                                </div>
                                <div class="FundingStatus_guide__37jtT">
                                    아래의 필수 항목들이 모두 작성 완료 상태로 바뀌면 [제출하기]를 누를 수 있어요.
                                </div>
                            </div>
                            <div class="FundingContainer_listContainer__1jw_z">
                                <div>
                                    <div class="PageMenuList_card__1VyAW PageMenuList_wadizColor__3nQuN">
                                        <div class="PageMenuList_container__1xz-L">
                                            <div class="PageMenuList_name__2nKKm">프로젝트 정보</div>
                                            <div class="PageMenuList_status__3M6fF PageMenuList_wadizColor__3nQuN">
                                                작성 전
                                            </div>
                                            <a
                                                    class="PageMenuList_buttonWrapper__3PXAt"
                                                    href="/studio/reward/214158/funding/screening"
                                            >
                                                <button type="button" class="wz button">작성하기</button>
                                            </a
                                            >
                                        </div>
                                    </div>
                                    <div class="PageMenuList_card__1VyAW PageMenuList_wadizColor__3nQuN">
                                        <div class="PageMenuList_container__1xz-L">
                                            <div class="PageMenuList_name__2nKKm">기본 정보</div>
                                            <div class="PageMenuList_status__3M6fF PageMenuList_wadizColor__3nQuN">
                                                작성 전
                                            </div>
                                            <a
                                                    class="PageMenuList_buttonWrapper__3PXAt"
                                                    href="/studio/reward/214158/funding/baseinfo"
                                            >
                                                <button type="button" class="wz button">작성하기</button>
                                            </a
                                            >
                                        </div>
                                    </div>

                                    <div class="PageMenuList_card__1VyAW PageMenuList_wadizColor__3nQuN">
                                        <div class="PageMenuList_container__1xz-L">
                                            <div class="PageMenuList_name__2nKKm">정책</div>
                                            <div class="PageMenuList_status__3M6fF PageMenuList_wadizColor__3nQuN">
                                                작성 전
                                            </div>
                                            <a
                                                    class="PageMenuList_buttonWrapper__3PXAt"
                                                    href="/studio/reward/214158/funding/policy"
                                            >
                                                <button type="button" class="wz button">작성하기</button>
                                            </a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="FundingSubmit_container__3kwkh">
                                <button
                                        type="button"
                                        disabled=""
                                        class="wz button primary FundingSubmit_button__1Qs0d"
                                >
                                    제출하기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ChannelTalk_container__3OcHU">
                    <button type="button"></button>
                </div>
            </div>
        </div>
        <!-- [E] Contents -->

        <!-- [S] Footer -->
        <!-- [E] Footer -->
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../../static/js/project/studio/studio-header.js"></script>
<script src="../../../static/js/project/studio/intro.js"></script>
</html>
