<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
    />


    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/common/common.css">
    <link rel="stylesheet" href="/project/main.css">

    <title>프로젝트 | 위게더</title>


</head>
<body style="overflow: auto">
<div id="page-container">
    <!-- [S] Header -->
    <!-- [E] Header -->

    <!-- [S] Contents -->
    <div class="MainWrapper_content__GZkTa">
        <!-- [S] banner -->
        <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true">
            <div>
                <div>
                    <a
                            href="https://www.wadiz.kr/web/wcomingsoon/rwd/204277?acid=10030378&amp;_refer_section_st=RCC_6"
                            class="VisualSlide_container__2NDvY"
                            data-promo-acid="10030378"
                            data-promo-id="https://www.wadiz.kr/web/wreward/comingsoon"
                            data-promo-name="집에서 즐기는 카이막과 홈메이드
          간식까지 가능한 메이커"
                            data-promo-position="RCC_6"
                            data-promo-acid-force="true"
                            style="
                  background-image: url('https://cdn1.wadiz.kr/images/20230502/1682987176789.png/wadiz/optimize');
                "
                    >
                        <div class="VisualSlide_wrap__32Lj4">
                            <div class="VisualSlide_text__2SIqN">
                                <p class="VisualSlide_title__3USGy">
                                    집에서 즐기는 카이막과 홈메이드 <br/>간식까지 가능한 메이커
                                </p>
                                <p class="VisualSlide_badge__3nqfs">
                                    요플레이 카이막 그릭요거트메이커 하나면 다 됩니다
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- [E] banner -->

        <!-- [S] static banner -->

        <div class="ComingsoonBanners_container__WFc6L" data-length="1" id="comingsoonBanner">
            <div class="ComingsoonBanners_item__2hKxg">
                <div class="ComingsoonBannerItem_container__2Y2wr">
                    <a
                            href="https://www.wadiz.kr/web/wreward/comingsoon/collection/spacewadiz1?_refer_section_st=RCA_0"
                            rel="noopener nofollow noreferrer"
                            class="ComingsoonBannerItem_banner__1MdjU"
                            style="
                  background-image: url('https://cdn.wadiz.kr/ft/images/green001/2023/0508/20230508094830611_4069.png/wadiz/format/jpg/quality/80');
                "
                    >
                        <div class="ComingsoonBannerItem_text__3qag1">
                            <p class="ComingsoonBannerItem_mainText__OBO3x">먼저 만나보면 더 좋으니까</p>
                            <p class="ComingsoonBannerItem_subText__1QcMt">
                                공간 와디즈에서 미리 체험하고 얼리버드 혜택까지
                            </p>
                        </div>
                    </a
                    >
                </div>
            </div>
        </div>

        <!-- [E] static banner -->

        <!-- [S] category -->

        <div class="CategoryTab_container__1XTA0 undefined" style="top: 0px">
            <div class="TabsMobile_tabRoot__1KBCT">
                <div class="TabsMobile_tabsWrapper__3zP94">
                    <ul class="TabsMobile_tabs__39ewt TabsMobile_hideScrollbar__3v5I5">
                        <!-- list1 -->
                        <li data-index="0">
                            <button
                                    class="ImageTab_tab__3siCY ImageTab_first__2C8Ry ImageTab_active__BGdXu"
                                    data-ga-category="오픈예정(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="전체"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div class="ImageTab_thumbnail__3mZWA"></div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">전체</span>
                                </div>
                            </button>
                        </li>

                        <!-- list2 -->
                        <li data-index="1">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="컴퓨터공학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/computer-science.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">컴퓨터공학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list3 -->
                        <li data-index="2">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="서양화과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/art.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">서양화과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list4 -->
                        <li data-index="3">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="스포츠과학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/athletic.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">스포츠과학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list5 -->
                        <li data-index="4">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="생명과학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/biology.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">생명과학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list6 -->
                        <li data-index="5">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="화학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/chemical.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">화학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list7 -->
                        <li data-index="6">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="기계공학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/Engineering.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">기계공학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list8 -->
                        <li data-index="1">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="전기공학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/electrical-engineering.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">전기공학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list9 -->
                        <li data-index="8">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="수학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/math.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">수학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list10 -->
                        <li data-index="9">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="미디어영상학과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/media.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">미디어영상학과</span>
                                </div>
                            </button>
                        </li>

                        <!-- list11 -->
                        <li data-index="10">
                            <button
                                    class="ImageTab_tab__3siCY"
                                    data-ga-category="스토어(홈)_카테고리"
                                    data-ga-action="클릭"
                                    data-ga-label="실용음악과"
                            >
                                <div class="ImageTab_thumbnailContainer__3Polb">
                                    <div class="ImageTab_thumbnailPlaceholder__3mluI">
                                        <div
                                                class="ImageTab_thumbnail__3mZWA"
                                                style="background-image: url(../../static/image/data/music.png);">
                                        </div>
                                    </div>
                                </div>
                                <div class="ImageTab_labelContainer__2apP3">
                                    <span class="ImageTab_label__SvWW9">실용음악과</span>
                                </div>
                            </button>
                        </li>
                    </ul>
                    <div class="TabsMobile_navigation__3Q7Xi">
                        <svg
                                viewBox="0 0 40 40"
                                focusable="false"
                                role="presentation"
                                class="withIcon_icon__3VTbq"
                                aria-hidden="true"
                                style="width: 20px; height: 20px"
                        >
                            <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- [E] category -->

        <div class="Main_categoryMargin__1RWGF"></div>

        <!-- [S] project list -->

        <div class="Main_container__2oIVn">
            <div class="Main_category__3sabq">
                <p class="Main_categoryName__3YilF">반려동물</p>
                <div class="Main_filterWrap__2l__0">
                    <ul class="OrderSelectDesktop_sortContainer__1YLsr">
                        <li
                                class="OrderSelectDesktop_sortItem__12TKi OrderSelectDesktop_active__YTP2K"
                                data-ga-category="오픈예정(홈)_정렬"
                                data-ga-action="클릭"
                                data-ga-label="추천순"
                        >
                            추천순
                        </li>


                        <li
                                class="OrderSelectDesktop_sortItem__12TKi"
                                data-ga-category="오픈예정(홈)_정렬"
                                data-ga-action="클릭"
                                data-ga-label="최신순"
                        >
                            최신순
                        </li>

                    </ul>
                </div>
            </div>
            <div class="TableLayout_container__1_Ap4 Main_table__UHAm-">
                <!-- list 1 -->
                <div id="list-container" class="Main_cardWrap__qlCoY">


                </div>
            </div>
            <div class="Main_intersection__3-dr2"></div>
        </div>

        <!-- [E] project list -->
    </div>
    <!-- [E] Contents -->

    <!-- [S] Footer -->
    <!-- [E] Footer -->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let projects = [[${project}]];
    let page = [[${projectPagination.page}]]
    console.log(projects);
</script>
<script src="/js/project/main.js"></script>
</html>
