<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/consult/my-consult-detail.css">
    <link rel="stylesheet" href="/css/mypage/project/list.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">

    <title>나의 상담 | 위게더</title>
  </head>
  <header th:replace="~{/fix/header :: #header}"></header>
  <body>
    <div class="Community_contentWrapper__2tclW">
      <div class="RatingFaq_container__1uVo5">
        <div class="RatingFaq_title__EK2eZ">
          <p class="RatingFaq_info__3DGAB" th:text="${member.memberName}+ '님 안녕하세요'">
          </p><br />처음 <strong> 위 열정과 가치에 공감</strong>해주셨듯,<br />마지막까지
            <strong>위게더 회원님들을 응원</strong>해주세요.

        </div>
        <div class="RatingFaq_question__2H7l7">
          <h2 class="inquiry-title">내 상담 내역</h2>
        </div>
        <div class="RatingFaq_wrapper__1NK4g">
          <div class="RewardFaqList_faqList__1FDhJ">
            <div>
              <th:block th:each="consulting : ${consulting}">
              <div class="RewardFaqItem_faqItem__2qbzt" th:onclick="|location.href='@{/consults/detail(id=${consulting.id})}'|">
                <div class="RewardFaqItem_title__2ryy1">
                  <span th:text="${consulting.consultingTitle}"></span>
                  <svg
                          viewBox="0 0 40 40"
                          focusable="false"
                          role="presentation"
                          class="withIcon_icon__3VTbq PurchaseSummaryCard_arrowIcon__2WltX"
                          aria-hidden="true"
                  >
                    <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>
                  </svg>
                </div>

              </div></th:block>



            <div class="RewardFaqList_helpCenterWrap__3RByl">
              <p>더 궁금한 사항이 있다면?</p>
              <div class="RewardFaqList_helpCenterButtons__1ZhAd">
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="/consults/register"
                  class="Button_button__2FuOU Button_primary__2mZni Button_contained__2SIAT Button_sm__16X6h"
                  ><span><span class="Button_children__ilFun">위게더에 상담하기</span></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <footer th:replace="~{/fix/footer :: #footer}"></footer>

  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</html>
