<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/consult/mypage.css">
    <link rel="stylesheet" href="/css/mypage/project/list.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">

    <title>나의 자료 | 위게더</title>
  </head>
  <header th:replace="~{/fix/header :: #header}"></header>
  <body>
    <section class="OrderListPage_container__PZnPd">
      <h2>나의 자료</h2>
      <div class="SatisfactionFilter_container__1q2UL">
        <div class="select-menu small SatisfactionFilter_selectBox__1SsgP" style="visibility: hidden">
          <div class="css-2b097c-container">
            <span
              aria-live="polite"
              aria-atomic="false"
              aria-relevant="additions text"
              class="css-7pg0cj-a11yText"
            ></span>
            <div class="select-menu__control css-yk16xz-control" style="visibility: hidden">
                <div class="select-menu__single-value css-1uccc91-singleValue">전체</div>
                <input
                  id="react-select-4-input"
                  readonly=""
                  tabindex="0"
                  aria-autocomplete="list"
                  class="css-62g3xt-dummyInput"
                  value=""
                />
              </div>
              <div class="select-menu__indicators css-1wy0on6">
                <span class="select-menu__indicator-separator css-0"></span>
                <div
                  class="select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                  aria-hidden="true"
                >
                  <svg
                    viewBox="0 0 32 32"
                    focusable="false"
                    role="presentation"
                    class="withIcon_icon__3VTbq"
                    aria-hidden="true"
                  >
                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="select-menu__menu css-9g7j0m-menu" style="display: none">
              <div class="select-menu__menu-list css-11unzgr">
                <div
                  class="select-menu__option select-menu__option--is-focused select-menu__option--is-selected css-9gakcf-option"
                  id="react-select-6-option-0"
                  tabindex="-1"
                >
                  전체
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-1"
                  tabindex="-1"
                >
                  내가 업로드한 자료
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-2"
                  tabindex="-1"
                >
                  내가 구매한 자료
                </div>

              </div>
            </div>
            <input name="filteringType" type="hidden" value="[object Object]" />
          </div>
        </div>
      </div>
      <ul class="CardList_container__39oS4" style="width: calc(100% - 0px)">

      </ul>
      <div></div>
    </section>
    <footer th:replace="~{/fix/footer :: #footer}"></footer>

  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/mypage/my-data-list.js"></script>

  <script th:inline="javascript">
  let datas = [[${datas}]];
  console.log(datas);
  </script>
</html>

