<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
    <body>
    <script type="text/javascript">
        var naver_id_login = new naver_id_login("yPLfiIWc1PIqc4_vQtH5", "http://localhost:10000/accounts/naver-login");
        // 접근 토큰 값 출력
        // 네이버 사용자 프로필 조회
        naver_id_login.get_naver_userprofile("naverSignInCallback()");
        // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
        function naverSignInCallback() {
            let memberId = naver_id_login.getProfileData('email');
            let nickname = naver_id_login.getProfileData('nickname');
            let id = naver_id_login.getProfileData('id');

            //프로필 사진 링크로가져옴
            let profileImage = naver_id_login.getProfileData('profile_image');

            //프로필사진가져옴
            // alert(profileImage);

            $.ajax({
                url: "check-id",
                type: "POST",
                data: {
                    memberId: memberId
                },
                success: function (memberVO) {
                    if (memberVO == null) {
                        $('#memberId').val(memberId);
                        $('#memberName').val(nickname);
                        $('#memberPassword').val(id);
                        $('#fileName').val(profileImage);
                        $('#naver-form').submit();
                    } else if (memberVO != null && memberVO.memberLoginStatus == 'NAVER') {
                        // alert("들어옴")
                       //네이버 로그인 세션담기
                        memberVO.fileName = profileImage;
                        $.ajax({
                            url: "naver-login",
                            type: "POST",
                            data: JSON.stringify(memberVO),
                            contentType: "application/json; charset=UTF-8;",
                            success: function () {
                                // alert("세션담기 성공")
                                location.href="/index/main";
                            }
                        })

                    }

                    if (memberVO !=null && (memberVO.memberLoginStatus =='WEGETHER' || memberVO.memberLoginStatus=='KAKAO')){console.log("들어옴")
                        location.href = "/accounts/login?status=false";
                    }
                }
            });
        }
    </script>
    <form id="naver-form" th:action="@{naver-register}" method="post">
        <input type="hidden" id="memberId" name="memberId">
        <input type="hidden" id="memberName" name="memberName" >
        <input type="hidden" id="memberPassword" name="memberPassword">
        <input type="hidden" id="fileName" name="fileName">
    </form>
    </body>
</html>