<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,viewport-fit=cover"
    />
    <link rel="stylesheet" href="/css/community/community-register.css"/>
    <title>커뮤니티 등록</title>

    <!-- 커뮤니티 등록 css -->
    <link href="https://static.wadiz.kr/studio/funding/static/css/5.6aa6dee4.chunk.css" rel="stylesheet" />

    <link href="https://static.wadiz.kr/studio/funding/static/css/main.2b8a3946.chunk.css" rel="stylesheet" />

    <link
            rel="stylesheet"
            type="text/css"
            href="https://static.wadiz.kr/studio/funding/static/css/6.eb91f874.chunk.css"
    />
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/fix/header.css">
</head>
<body>
<header th:replace="~{/fix/header :: #header}"></header>
<div data-react-modal-body-trap="" tabindex="0" style="position: absolute; opacity: 0"></div>
<div id="root">
    <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
        <div class="AppLayout_main__14bCi">
            <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
                <div
                        id="container"
                        class="ContentsLayout_container__11k-W"
                        style="display: flex; justify-content: center"
                >
                    <div class="FundingStoryContainer_container__33WY0">
                        <div class="HeaderLayout_container__3fXkO">
                            <div class="HeaderLayout_contents__F4hlC">
                                <h2 class="FundingStoryContainer_title__1r0ZE">커뮤니티 작성</h2>
                                <p class="FundingStoryContainer_description__1sMTR">
                                    커뮤니티 관련 내용을 작성해주세요.
                                </p>
                            </div>
                        </div>
                        <form
                                class="wz form FundingStoryFormContainer_form__326Zc Form_form__3ASTU writeForm"
                                th:action="@{/community/modify}" method="post" th:object="${community}" name="writeForm">
                            <input type="hidden" th:field="${community.id}" th:value="${community.id}">
                            <div class="Loader_loader__d9YUC Form_loader__1YJ5I"></div>

                            <!-- 커뮤니티 큰 제목 -->
                            <section class="Section_container__3md8M spacing-9" style="max-width: 630px">
                                <div class="Section_header__1qwS7 spacing-4">
                                    <h2 class="Section_title__ikPIm Section_isRequired__F8rij">
                                        커뮤니티 제목
                                    </h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>
                                <div class="Section_content__3OkLZ">
                                    <div class="TextField_textField__23rCe TextField_md__2zsQn">
                                        <label></label>
                                        <div class="TextField_field__1E9vt">
                                            <input th:field="${community.communityTitle}" th:value="${community.communityTitle}" placeholder="제목을 입력해 주세요" class="Input_input__2kAAL Input_md__3-eZ6" id="title-area"/>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- 커뮤니티 소 제목 -->
                            <section class="Section_container__3md8M spacing-9" style="max-width: 630px">
                                <div class="Section_header__1qwS7 spacing-4">
                                    <h2 class="Section_title__ikPIm Section_isRequired__F8rij">
                                        커뮤니티 소 제목
                                    </h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>
                                <div class="Section_content__3OkLZ">
                                    <div class="TextField_textField__23rCe TextField_md__2zsQn">
                                        <label></label>
                                        <div class="TextField_field__1E9vt">
                                            <input th:field="${community.communitySubtitle}" th:value="${community.communitySubtitle}" placeholder="소제목을 입력해 주세요" class="Input_input__2kAAL Input_md__3-eZ6" id="sub-title-area"/>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- 사진 등록 -->
                            <section class="Section_container__3md8M" style="max-width: 630px">
                                <div class="Section_header__1qwS7">
                                    <h2 class="Section_title__ikPIm Section_isRequired__F8rij">썸네일 등록</h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>
                                <div class="Section_description__10Uwo">
                                    커뮤니티 대표 사진을 등록해 주세요.
                                </div>
                                <div class="Section_content__3OkLZ">
                                    <div class="StoryVideoOrImageField_container__1lnfV">
                                        <div
                                                class="field Form_field__35I9T required ImageFormField_field__X1jTW StoryImageField_field__3O6yy"
                                                style="padding-left: 0px"
                                        >
                                            <div class="attach-wrap">
                                                <label for="upload1" class="attach">
                                                    <img src="" class="thumbnail">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>대표 이미지</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                                <label for="upload2" class="attach">
                                                    <img src="" class="thumbnail">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>이미지 추가</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                                <label for="upload3" class="attach">
                                                    <img src="" class="thumbnail">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>이미지 추가</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                                <label for="upload4" class="attach">
                                                    <img src="" class="thumbnail">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>이미지 추가</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                            </div>
                                            <input type="file" id="upload1" class="upload" style="display: none;">
                                            <input type="file" id="upload2" class="upload" style="display: none;">
                                            <input type="file" id="upload3" class="upload" style="display: none;">
                                            <input type="file" id="upload4" class="upload" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section class="Section_container__3md8M" style="max-width: 630px">
                                <div class="Section_header__1qwS7">
                                    <h2 class="Section_title__ikPIm Section_isRequired__F8rij">
                                        커뮤니티 내용
                                    </h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>
                                <br />(여기에 썸머노트 라이브러리 필요, 실제로 저장이 되는지도 같이 확인을
                                해야해서 기능 구현하면서 넣어서 진행하면 될듯)
                                <div class="Section_description__10Uwo">
                                    커뮤니티 소개 사진과 함께 보이는 글이에요. 커뮤니티를 쉽고 간결하게 소개해
                                    주세요.
                                </div>
                                <div class="Section_content__3OkLZ">
                                    <div class="StorySummaryField_container__25ePA">
                                        <div class="field Form_field__35I9T FormFieldTextarea_field__33Ncu">
                                            <div class="wide column-2"></div>
                                            <div class="wide column-4">
                                                <div class="wz input">
                                                    <textarea th:field="${community.communityContent}" th:value="${community.communityContent}" placeholder="내용 입력" id="textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="StoryEditorForComingWrapper_container__1cngW"></div>
                            <div class="FundingStoryContainer_btnWrapper__32tvJ">
                                <button
                                        class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_lg__3vRQD ok-button"
                                        type="button"
                                        style="width: 100%"
                                >
                                    <span><span class="Button_children__q9VCZ">저장하기</span></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Toast_toast__1b_B2"><div class="Toast_content__G-bTq"></div></div>
</div>

<div data-react-modal-body-trap="" tabindex="0" style="position: absolute; opacity: 0"></div>

<!-- 모달 부분 -->
<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>
<footer th:replace="~{/fix/footer :: #footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
    let files = [[${community.files}]]
</script>
<script src="/js/community/modify.js"></script>
<!-- 모달 부분 js -->
<script>
    let modalCheck;
    function showWarnModal(modalMessage) {
        modalCheck = false;
        $('div#content-wrap').html(modalMessage);
        $('div.warn-modal').css('animation', 'popUp 0.5s');
        $('div.modal').css('display', 'flex').hide().fadeIn(500);
        setTimeout(function () {
            modalCheck = true;
        }, 500);
    }

    $('div.modal').on('click', function () {
        if (modalCheck) {
            $('div.warn-modal').css('animation', 'popDown 0.5s');
            $('div.modal').fadeOut(500);
        }
    });

    $("#title-area").on('input', checkInput);
    $("#sub-title-area").on('input', checkInput);
    $("#textarea").on('input', checkInput);

    /* 등록버튼 활성화 함수 */
    function checkInput() {
        if($("#title-area").val() && $("#sub-title-area").val() && $("#textarea").val()) {
            console.log("활성화")
            $('.ok-button').attr('disabled', false);
        }else{
            console.log("비활성화")
            $('.ok-button').attr('disabled', 'disabled');
        }

    }

    $(".ok-button").on("click", function(){
        showWarnModal('저장이 완료되었습니다');
        setTimeout(function () {
            $(".writeForm").submit();
        }, 2500)
    })
</script>
<script src="/js/community/list.js"></script>
</html>