<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지- 회원 정보 목록</title>

        <link rel="stylesheet" href="/css/admin/admin_common.css" />
        <link rel="stylesheet" href="/css/admin/sidemenu.css" />
        <link rel="stylesheet" href="/css/admin/admin_member_list.css" />
        <link rel="stylesheet" href="/css/admin/modal.css" />
        <link rel="stylesheet" href="/css/admin/admin_board.css">
        <link rel="stylesheet" href="/css/admin/admin_board_proposal.css">
        <link rel="stylesheet" href="/css/admin/admin_common.css">
        <link rel="icon" href="/image/logo/favicon.png" />
    </head>
    <body>
        <div>
            <!-- 모달 부분 -->
            <div class="modal">
                <div class="warn-modal">
                    <div id="content-wrap"></div>
                </div>
            </div>

            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box" onclick="location.href='/index/main'">
                        <img src="/image/admin/wegether.svg" style="padding-top: 17px" />
                    </div>
                </div>
                <div>
                    <div class="select-name">
                        <span>강연 목록</span>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <!-- 사이드 바 -->
                 <div th:replace="~{admins/side-bar :: sidebar}"></div>

                <div class="container">
                    <div class="container-margin">
                        <div style="display: flex; justify-content: space-between">
                            <!-- 헤더 -->
                            <div class="DesktopSearchApp_container__2VF9O">
                                <form>
                                    <div class="SearchController_container__35K5i">
                                        <!-- 검색창 -->
                                        <div class="SearchController_keyword__3FcFo">
                                            <input class="search-input deleteButton delete-button" type="search" name="keyword" placeholder="제목을 입력하세요" style="width: 450px; padding: 11px;">
                                        </div>
                                        <!-- 검색 버튼 누르기 -->
                                        <button style="display: none" type="submit"></button>
                                    </div>
                                </form>
                                <!-- 검색창 눌렀을 때 나오는 메뉴 -->
                            </div>

                            <div class="update-button-flex">
                                <div class="delete-box-layout">
                                    <div class="delete-box">
                                        <button class="register-button">
                                            <a th:href="@{/lectures/register}">강연 등록</a>
                                        </button>
                                    </div>
                                </div>
                                <div class="delete-box-layout">
                                    <div class="delete-box">
                                        <button
                                            class="deleteButton delete-button"
                                            onclick="deleteLectures(getSelectedLectureIds())"
                                        >
                                            강연 삭제
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>강연 목록</span>
                                </div>

                                <div class="info-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="checkbox-line">
                                                    <input type="checkbox" id="allSelect" />
                                                </th>
                                                <th>No</th>
                                                <th>강연 제목</th>
                                                <th>강연 날짜</th>
                                                <th>강연 시간</th>
                                                <th>강연 위치</th>
                                                <th>강연 총 인원</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="lectures : ${lectures}">
                                                <td class="checkbox-line">
                                                    <input
                                                        type="checkbox"
                                                        class="lectureCheckbox"
                                                        name="check"
                                                        th:value="${lectures.id}"/>
                                                </td>
                                                <td th:text="${lectures.id}"></td>
                                                <td th:text="${lectures.lectureTitle}"></td>
                                                <td th:text="${lectures.lectureDate}"></td>
                                                <td th:text="${lectures.lectureTime}"></td>
                                                <td th:text="${lectures.lectureLocation}"></td>
                                                <td th:text="${lectures.lectureTotalPersonnel}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <!-- 폼태그 -->

                        <!-- 페이지 부분 -->
                        <div id="paging-wrap">
                            <a th:if="${adminPagination.prev}" th:href="${adminPagination.startPage - 1}" class="lecture-change-page paging paging-move">
                                <img src="/image/admin/prev.png" width="15px"></a>
                            <th:block th:each="page:${#numbers.sequence(adminPagination.startPage, adminPagination.endPage)}">
                                <a th:if="${page eq adminPagination.page}" class="paging paging-checked" th:text="${page}"></a>
                                <a th:unless="${page eq adminPagination.page}" th:href="${page}" class="lecture-change-page paging" th:text="${page}"></a>
                            </th:block>
                            <a th:if="${adminPagination.next}" th:href="${adminPagination.endPage + 1}" class="lecture-change-page paging paging-move">
                                <img src="/image/admin/next.png" width="15px"></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="/js/admin/checkbox.js"></script>
    <script src="/js/admin/page.js"></script>
    <script src="/js/admin/paging.js"></script>
    <script src="/js/admin/sidemenu.js"></script>
    <script src="/js/admin/modal.js"></script>
    <script>
        let lectures = [[${lectures}]];
        console.log(lectures);
    </script>
    <script th:inline="javascript">
        let text = "";

        function getSelectedLectureIds() {
            const lectureIds = [];
            $(".lectureCheckbox:checked").each(function() {
                lectureIds.push($(this).val());
            });
            return lectureIds;
        }

        function deleteLectures(lectureIds) {
            $.ajax({
                url: "/admins/lecture/delete",
                type: "POST",
                // method: "DELETE",
                // dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(lectureIds),
                success: function() {
                    console.log(lectureIds);
                    showWarnModal("삭제에 성공 하였습니다.");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },
                error: function() {
                    showWarnModal("삭제에 실패 하였습니다.");
                }
            });
        }
    </script>

</html>
