@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*, :after, :before {
    box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body, button, input, select, textarea {
    font-family: Pretendard,Apple SD Gothic Neo,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,-apple-system,blinkmacsystemfont,sans-serif;
}

body, table th {
    font-weight: 400;
}

body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}

body>#root, #wadizTopBanner, #page-container {
    transform-origin: 50% 0;
    transition-property: opacity,transform;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

article, main, section {
    display: block;
}

article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}

#wadiz-about-landing .header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 56px;
}

#wadiz-about-landing .header .inner {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    justify-content: space-between;
    transform: translate(-50%);
    z-index: 500;
    padding: 0 24px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .header .inner {
    padding: 0;
}
}

a, button {
    outline: none;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

a, input, optgroup, select, textarea {
    color: inherit;
}

#wadiz-about-landing .header .inner .logo a {
    display: block;
    height: 100%;
    line-height: 56px;
}

#wadiz-about-landing .header .inner .logo a {
    display: block;
    height: 100%;
    line-height: 56px;
}

#wadiz-about-landing .header .inner .logo {
    width: 85px;
    height: 56px;
}

li, ol, ul {
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li, ol, ul {
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wadiz-about-landing .header .inner .lnb .lnbItem {
    position: relative;
    float: left;
    width: 41px;
    text-align: center;
}

#wadiz-about-landing .header .inner .lnb .lnbItem:first-child {
    margin-right: 24px;
}

#wadiz-about-landing .header .inner .lnb .lnbItem>a {
    display: inline-block;
    position: relative;
    line-height: 56px;
    color: #fff;
    font-size: 15px;
}

#wadiz-about-landing .header .inner .lnb .lnbItem.active>a {
    font-weight: 700;
}

#wadiz-about-landing .header .inner .lnb .lnbItem.active>a:after {
    display: block;
    position: absolute;
    bottom: 15px;
    border-bottom: 2px solid #fff;
    width: 100%;
    content: "";
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wadiz-about-landing .header .inner .lnb .lnbItem {
    position: relative;
    float: left;
    width: 41px;
    text-align: center;
}

#wadiz-about-landing .header .inner .lnb .lnbItem:first-child {
    margin-right: 24px;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wadiz-about-landing .header .inner .lnb .lnbItem {
    position: relative;
    float: left;
    width: 41px;
    text-align: center;
}

#wadiz-about-landing .header .inner .lnb .lnbItem+.lnbItem {
    margin-left: 10px;
}

#wadiz-about-landing .header .inner .lnb .lnbItem+.lnbItem:before {
    display: block;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-left: 1px solid rgba(255,255,255,.3);
    height: 10px;
    content: "";
}

#wadiz-about-landing .header .inner .lnb .lnbItem>a {
    display: inline-block;
    position: relative;
    line-height: 56px;
    color: #fff;
    font-size: 15px;
}

#wadiz-about-landing .header+.background {
    display: block;
    position: fixed;
    top: 0;
    transition: background-color .15s linear;
    background-color: #0000;
    width: 100%;
    height: 56px;
}

article, main, section {
    display: block;
}

#wadiz-about-landing .visualContainer {
    position: relative;
    background: url(/img/background.jpg) no-repeat 54%/cover;
    background-color: #0000004d;
}


#wadiz-about-landing .visualContainer .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 160px 24px 80px;
    max-width: 1000px;
}


@media screen and (min-width: 1097px){
#wadiz-about-landing .visualContainer .content {
    padding: 340px 0 110px;
}
}

#wadiz-about-landing .visualContainer .content .title {
    line-height: 40px;
    letter-spacing: -.6px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

@media screen and (min-width: 1201px){
#wadiz-about-landing .visualContainer .content .title {
    line-height: 48px;
    letter-spacing: -.8px;
    font-size: 40px;
}
}

@media screen and (min-width: 769px){
#wadiz-about-landing .mobileOnly {
    display: none;
}
}

@media screen and (min-width: 1201px){
#wadiz-about-landing .visualContainer .content .title {
    line-height: 56px;
    letter-spacing: -1px;
    font-size: 48px;
}
}


#wadiz-about-landing .visualContainer .content .desc {
    line-height: 24px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 16px;
    word-break: keep-all;
    color: #fff;
    font-weight: 400;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .visualContainer .content .desc {
    margin-top: 24px;
}
}

@media screen and (min-width: 769px){
#wadiz-about-landing .desktopOnly {
    display: block;
}
}

#wadiz-about-landing .visualContainer:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000026;
    content: "";
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .valueContainer {
    margin-top: 0;
}
}

#wadiz-about-landing .section .inner .summary {
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 30px;
    color: #0097D2;
    font-weight: 700;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .section .inner .titleWrapper {
    float: left;
    width: 410px;
}
}

#wadiz-about-landing .section .inner .title {
    line-height: 32px;
    word-break: keep-all;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .valueContainer .titleWrapper .title {
    line-height: 40px;
    font-size: 32px;
}
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .section .inner .descWrapper {
    float: right;
    width: 500px;
}
}

#wadiz-about-landing .section .inner .desc {
    display: block;
    margin-top: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .section .inner .desc {
    margin-top: 0;
}
}

#wadiz-about-landing .section .inner .desc {
    display: block;
    margin-top: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

#wadiz-about-landing .section .inner .desc {
    margin-top: 0;
}

address, cite, dfn, em, var {
    font-weight: inherit;
    font-style: normal;
}


#wadiz-about-landing .section .inner .desc {
    margin-top: 0;
}

#wadiz-about-landing .section .inner .desc {
    display: block;
    margin-top: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

#wadiz-about-landing .valueContainer .inner .descWrapper .slogan {
    margin-top: 34px;
    color: #0097D2;
    font-weight: 700;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .section .inner:after {
    display: block;
    clear: both;
    content: "";
}
}

#wadiz-about-landing .quoteContainer {
    background-color: #f2f4f6;
}

#wadiz-about-landing .quoteContainer .inner {
    margin: 0 auto;
    padding: 80px 0;
    max-width: 380px;
    text-align: center;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .quoteContainer .inner {
    max-width: 1000px;
}
}

#wadiz-about-landing .quoteContainer .inner .icon {
    color: #0000008a;
    font-size: 24px;
}

.icon-quote-before::before, .icon.quote-before::before {
    content: "";
}

.icon-quote-before:before, .icon-quote:before, .icon.quote-before:before, .icon.quote:before {
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
}

#wadiz-about-landing .quoteContainer .inner .desc {
    padding: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .quoteContainer .inner .desc {
    line-height: 30px;
    font-size: 19px;
}
}

#wadiz-about-landing .quoteContainer .inner .icon {
    color: #0000008a;
    font-size: 24px;
}

.icon-print:before, .icon-quote-after:before, .icon.print:before, .icon.quote-after:before {
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: wadizicon!important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
}

.icon-quote-after::before, .icon.quote-after::before {
    content: "";
}

#wadiz-about-landing .quoteContainer {
    background-color: #f2f4f6;
}

article, main, section {
    display: block;
}


#wadiz-about-landing .missionContainer {
    margin-top: 80px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .missionContainer {
    margin-top: 0;
}
}


#wadiz-about-landing .section .inner {
    margin: 0 auto;
    padding: 120px 24px 120px;
    max-width: 1000px;
}

@media screen and (min-width: 1097px){
    #wadiz-about-landing .section .inner {
        padding: 120px 0;
    }
    }


@media screen and (min-width: 1097px){
#wadiz-about-landing .section .inner .descWrapper {
    float: right;
    width: 500px;
}
}

#wadiz-about-landing .section .inner .desc {
    display: block;
    margin-top: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .section .inner .desc {
    margin-top: 0;
}
}


@media screen and (min-width: 1097px){
#wadiz-about-landing .visionContainer {
    border-top: 1px solid #e9ecef;
}
}


@media screen and (min-width: 1097px){
#wadiz-about-landing .principleContainer {
    border-top: 1px solid #e9ecef;
}
}


#wadiz-about-landing .section .inner .desc {
    display: block;
    margin-top: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}

#wadiz-about-landing .section .inner .desc {
    margin-top: 0;
}


#wadiz-about-landing .principleContainer .principleList {
    clear: both;
    padding-top: 42px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .principleContainer .principleList {
    padding-top: 120px;
}
}

li, ol, ul {
    list-style: none;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


#wadiz-about-landing .principleContainer .principleItem {
    position: relative;
    z-index: -1;
    margin-top: 24px;
    font-weight: 700;
}

@media screen and (min-width: 1097px){
    #wadiz-about-landing .principleContainer .principleItem {
        float: left;
        margin-top: 0;
        border-left: 1px solid #dde2e6;
        padding: 30px 14px 0;
        width: 20%;
        height: 118px;
    }
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .principleContainer .principleItem:first-child {
    border-left: none;
    padding: 30px 14px 0 0;
}
}

#wadiz-about-landing .principleContainer .principleItem .num {
    position: absolute;
    top: 2.5px;
    left: 0;
    font-size: 15px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .principleContainer .principleItem .num {
    top: 0;
    left: 14px;
    font-size: 19px;
}
}

#wadiz-about-landing .principleContainer .principleItem:first-child .num {
    left: 0;
}



#wadiz-about-landing .principleContainer .principleItem .num {
    position: absolute;
    top: 2.5px;
    left: 0;
    font-size: 15px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .principleContainer .principleItem .num {
    top: 0;
    left: 14px;
    font-size: 19px;
}
}

#wadiz-about-landing .incruitContainer {
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
}


#wadiz-about-landing .incruitContainer .inner {
    padding: 80px 0;
    text-align: center;
}

strong {
    font-weight: 700;
}


#wadiz-about-landing .incruitContainer .inner .join {
    display: block;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 17px;
}


@media screen and (min-width: 1097px){
#wadiz-about-landing .incruitContainer .inner .join {
    margin-bottom: 32px;
}
}

#wadiz-about-landing .incruitContainer .inner .coloring {
    color: #0097D2;
    font-weight: 700;
}

#wadiz-about-landing .wdButton {
    display: inline-block;
    position: relative;
    transition-property: background-color,border-color,color,opacity;
    transition-duration: .15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: #0000;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box!important;
    -webkit-appearance: none;
}

button:not(:disabled) {
    cursor: pointer;
}

#wadiz-about-landing .identityContainer {
    padding: 80px 0 160px;
}

#wadiz-about-landing .identityContainer .inner .titleWrapper .title {
    padding: 0 24px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .identityContainer .inner .titleWrapper .title {
    padding: 0;
    line-height: 40px;
    font-size: 32px;
}
}

#wadiz-about-landing .identityContainer .inner .titleWrapper .biImage {
    margin-top: 32px;
    background: url(/assets/about/img-bi.jpg) no-repeat 50%/cover;
    padding-top: 67.788%;
    width: 100%;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .identityContainer .inner .titleWrapper .biImage {
    padding-top: 80%;
}
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .section .inner .descWrapper {
    float: right;
    width: 500px;
}
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .identityContainer .inner .descWrapper {
    padding: 64px 0 0;
}
}


#wadiz-about-landing .section .inner .desc {
    display: block;
    margin-top: 30px;
    line-height: 28px;
    word-break: keep-all;
    font-size: 17px;
}


#wadiz-about-landing .section .inner .desc {
    margin-top: 0;
}

#wadiz-about-landing .identityContainer .inner .descWrapper .desc {
    margin: 0;
    word-break: break-all;
}

#wadiz-about-landing .wdButton.bi {
    margin-top: 65px;
}

#wadiz-about-landing .identityContainer .inner .descWrapper .info {
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0 24px;
    color: #0000008a;
}

#wadiz-about-landing .identityContainer .inner .descWrapper .guideline {
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: #0000008a;
}

#wadiz-about-landing .identityContainer .inner .descWrapper .guideline em {
    font-weight: 700;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .valueContainer {
    margin-top: 0;
}
}

#wadiz-about-landing .identityContainer .inner {
    padding: 0;
}

#wadiz-about-landing .identityContainer .inner .summary {
    display: block;
    padding: 0 24px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .identityContainer .inner .summary {
    padding: 0;
}
}

#wadiz-about-landing .principleContainer .principleItem .desc {
    display: inline-block;
    margin: 0;
    padding-left: 20px;
}

@media screen and (min-width: 1097px){
#wadiz-about-landing .principleContainer .principleItem .desc {
    padding-left: 0;
    line-height: 30px;
    font-size: 19px;
}

.FooterMenu_bar__2_OJF{
    display: block;
}
}
