<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../static/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="../../../static/css/mypage/project/list.css">
    <title>프로젝트 목록 | 위게더</title>
  </head>
  <body>
    <section class="OrderListPage_container__PZnPd">
      <h2>나의 프로젝트</h2>
      <div class="SatisfactionFilter_container__1q2UL">
        <div class="select-menu small SatisfactionFilter_selectBox__1SsgP">
          <div class="css-2b097c-container">
            <span
              aria-live="polite"
              aria-atomic="false"
              aria-relevant="additions text"
              class="css-7pg0cj-a11yText"
            ></span>
            <div class="select-menu__control css-yk16xz-control">
              <div
                class="select-menu__value-container select-menu__value-container--has-value css-1hwfws3"
              >
                <div class="select-menu__single-value css-1uccc91-singleValue">전체</div>
                <input
                  id="react-select-4-input"
                  readonly=""
                  tabindex="0"
                  aria-autocomplete="list"
                  class="css-62g3xt-dummyInput"
                  value=""
                />
              </div>
              <div class="select-menu__indicators css-1wy0on6">
                <span class="select-menu__indicator-separator css-0"></span>
                <div
                  class="select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                  aria-hidden="true"
                >
                  <svg
                    viewBox="0 0 32 32"
                    focusable="false"
                    role="presentation"
                    class="withIcon_icon__3VTbq"
                    aria-hidden="true"
                  >
                    <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="select-menu__menu css-9g7j0m-menu" style="display: none">
              <div class="select-menu__menu-list css-11unzgr">
                <div
                  class="select-menu__option select-menu__option--is-focused select-menu__option--is-selected css-9gakcf-option"
                  id="react-select-6-option-0"
                  tabindex="-1"
                >
                  전체
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-1"
                  tabindex="-1"
                >
                  상품 준비 중
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-2"
                  tabindex="-1"
                >
                  배송 대기 중
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-3"
                  tabindex="-1"
                >
                  배송 중
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-4"
                  tabindex="-1"
                >
                  배송・수령 완료
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-5"
                  tabindex="-1"
                >
                  교환・반품 신청
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-6"
                  tabindex="-1"
                >
                  교환・반품 처리 중
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-7"
                  tabindex="-1"
                >
                  구매 확정
                </div>
                <div
                  class="select-menu__option css-yt9ioa-option"
                  id="react-select-6-option-8"
                  tabindex="-1"
                >
                  취소・환불
                </div>
              </div>
            </div>
            <input name="filteringType" type="hidden" value="[object Object]" />
          </div>
        </div>
      </div>
      <ul class="CardList_container__39oS4" style="width: calc(100% - 0px)">
        <li
          class="CardList_itemContainer__2c_vS"
          style="
            width: calc((100% - 0px) - 0.01px);
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
          "
        >
          <div role="link" class="PurchaseSummaryCard_item__3LlZ3">
            <dl class="PurchaseSummaryCard_etcArea__3Ummh">
              <dd>230510-030046-0001</dd>
              <dd>2023-05-10 03:02:19 참여</dd>
            </dl>
            <div class="PurchaseSummaryCard_content__21XLk">
              <div class="PurchaseSummaryCard_thumbnailArea__2BT7p" aria-hidden="true">
                <div class="PurchaseSummaryCard_thumbnailPlaceholder__3O0tl">
                  <div
                    aria-hidden="true"
                    class="CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                    style="
                      background-image: url('https://cdn2.wadiz.kr/2021/09/02/f67b77a5-cc10-48ad-bf87-a7c5100b84f2.png/wadiz/resize/200/format/jpg/quality/85/');
                    "
                  ></div>
                </div>
              </div>
              <dl class="PurchaseSummaryCard_titleArea__3qDl4">
                <dd
                  title="<컴퓨터 공학과> 사이트 개발 프로젝트"
                  class="PurchaseSummaryCard_title__uCiz5"
                >
                  &lt;컴퓨터 공학과&gt; 사이트 개발 프로젝트
                </dd>
                <dd class="PurchaseSummaryCard_description__245z_">
                  <span class="PurchaseSummaryCard_makerName__1n7dA">Spring Boot</span>
                </dd>
              </dl>
            </div>
            <div class="PurchaseSummaryCard_detailText__2GWWi" aria-hidden="true">
              상세보기<svg
                viewBox="0 0 40 40"
                focusable="false"
                role="presentation"
                class="withIcon_icon__3VTbq PurchaseSummaryCard_arrowIcon__2WltX"
                aria-hidden="true"
              >
                <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path>
              </svg>
            </div>
          </div>
        </li>
      </ul>
      <div></div>
    </section>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../../../static/js/mypage/project/list.js"></script>
</html>
