<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지- 공지사항 게시판 작성</title>
        <!-- <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/css/admin/admin_board_notice_write.css">
    <link rel="icon" href="/image/logo/favicon.png"> -->
        <link rel="stylesheet" href="../../../../static/css/admin/sidemenu.css" />
        <link rel="stylesheet" href="../../../../static/css/admin/admin_board_notice_write.css" />
        <link rel="icon" href="../../../../static/image/logo/favicon.png" />
    </head>

    <body>
        <div>
            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <img src="../../../static/image/admin/wegether.svg" style="padding-top: 17px" />
                    </div>
                    <div class="logo-title">
                        <span>Jar</span>
                    </div>
                </div>
                <div>
                    <div class="select-name">
                        <span>공지사항 게시판 관리</span>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <!-- 사이드 바 -->
                <div th:replace="~{admin/side_bar :: sidebar}"></div>

                <!-- 사이드 바 임시 -->
                <!-- 사이드 바 -->
                <div th:fragment="sidebar">
                    <div id="side-bar">
                        <div class="side-menu">
                            <div>
                                <div class="menu-title-layout">
                                    <div class="menu-title">
                                        <div class="menu-name">MENU</div>
                                    </div>
                                </div>
                                <ul class="menu-bar">
                                    <li class="menu">
                                        <div class="menu-flex">
                                            <div>
                                                <img src="../../../../static/image/admin/board_icon.png" class="icon" />
                                            </div>
                                            <a href="">
                                                <span>게시판 관리</span>
                                            </a>
                                            <div class="triangle-button">
                                                <img
                                                    src="../../../../static/image/admin/arrow_icon.png"
                                                    class="icon triangle-icon triangle"
                                                />
                                            </div>
                                        </div>
                                        <ul class="menus1 menus" style="display: none">
                                            <!-- <li class="select-menu">
                                <a href="adminPage-boardList.jsp">
                                    <span>전체 게시판</span>
                                </a>
                            </li> -->
                                            <li class="select-menu">
                                                <!-- <a th:href="@{/admin/board/challenge/list}">
                                            <span>공지사항 게시판</span>
                                        </a> -->
                                                <a href="../admin/inquiry/inquiry-list.html">
                                                    <span>공지사항 게시판</span>
                                                </a>
                                            </li>
                                            <!-- <li class="select-menu">
                                        <a th:href="@{/admin/board/groupChallenge/list}">
                                            <span>문의답변 게시판</span>
                                        </a>
                                    </li> -->
                                            <li class="select-menu">
                                                <a th:href="../admin/inquiry/inquiry-list.html">
                                                    <span>문의답변 게시판</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu">
                                        <div class="menu-flex">
                                            <div>
                                                <img
                                                    src="../../../../static/image/admin/instagram_icon.png"
                                                    class="icon"
                                                />
                                            </div>
                                            <a>
                                                <span>컨텐츠 관리</span>
                                            </a>
                                            <div class="triangle-button">
                                                <img
                                                    src="../../../../static/image/admin/arrow_icon.png"
                                                    class="icon triangle-icon triangle"
                                                />
                                            </div>
                                        </div>
                                        <ul class="menus2 menus" style="display: none">
                                            <li class="select-menu">
                                                <!-- <a th:href="@{/admin/board/notice/list}">
                                            <span>자료 목록</span>
                                        </a> -->
                                                <a href="../admin/data/data-list.html">
                                                    <span>자료 목록</span>
                                                </a>
                                            </li>
                                            <li class="select-menu">
                                                <!-- <a th:href="@{/admin/board/notice/write}">
                                            <span>프로젝트 목록</span>
                                        </a> -->
                                                <a href="../admin/project/project-list.html">
                                                    <span>프로젝트 목록</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu">
                                        <div class="menu-flex">
                                            <div>
                                                <img
                                                    src="../../../../static/image/admin/edit_write_pen_icon.png"
                                                    class="icon"
                                                />
                                            </div>
                                            <a>
                                                <span>강연 관리</span>
                                            </a>
                                            <div class="triangle-button">
                                                <img
                                                    src="../../../../static/image/admin/arrow_icon.png"
                                                    class="icon triangle-icon triangle"
                                                />
                                            </div>
                                        </div>
                                        <ul class="menus2 menus" style="display: none">
                                            <li class="select-menu">
                                                <!-- <a th:href="@{/admin/board/notice/list}">
                                            <span>강연 등록</span>
                                        </a> -->
                                                <a href="../admin/class/class-list.html">
                                                    <span>강연 목록</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu">
                                        <div class="menu-flex">
                                            <div>
                                                <img src="../../../../static/image/admin/user_icon.png" class="icon" />
                                            </div>
                                            <!-- <a th:href="@{/admin/member/list}">
                                        <span>회원정보 관리</span>
                                    </a> -->
                                            <a href="../admin/member/member-list.html">
                                                <span>회원정보 관리</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 사이드 바 끝-->

                <div class="container">
                    <div class="container-margin">
                        <!-- 헤더 -->
                        <div class="prev-button-layout">
                            <div>
                                <a th:href="@{/admin/board/notice/list}">
                                    <img src="../../../../static/image/admin/prev_icon.png" class="prev-icon" />
                                </a>
                                <a class="back-page" th:href="@{/admin/board/notice/list}">리스트로 돌아가기</a>
                            </div>
                        </div>

                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>공지사항 등록하기</span>
                                </div>
                                <hr />
                                <div class="info-table">
                                    <form th:action="@{/admin/board/notice/write}" method="post">
                                        <div>
                                            <input
                                                type="text"
                                                class="board-title"
                                                name="noticeTitle"
                                                placeholder="제목을 입력해주세요."
                                                autocomplete="off"
                                                th:value="${noticeDTO.noticeTitle}"
                                            />
                                        </div>
                                        <hr />
                                        <div>
                                            <textarea
                                                class="board-content"
                                                name="noticeContent"
                                                placeholder="내용을 입력해주세요."
                                                th:text="${noticeDTO.noticeContent}"
                                            ></textarea>
                                        </div>
                                        <hr />
                                        <div>
                                            <button class="btn_done" type="submit">등록 완료</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <!-- <script src="/js/admin/sidemenu.js"></script> -->
    <script src="../../../../static/js/admin/sidemenu.js"></script>
</html>
