<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/notice/notice-detail.css">
</head>

<body>
    <div id="page-container">
        <div class="newContainer">
            <div id="wBoardWrap">
                <div class="wboard-wrap">
                    <div class="wboard-detail-content">
                        <div class="article-top">
                            <p class="title" style="font-size: 20px; padding-top: 15px; padding-bottom: 15px;">[메이커 모집] 크리에이터 페스티벌 참여 메이커 모집 (~6/12)</p>
                            <div class="info">
                                <em class="user-img"
                                    style="background-image:url(https://static.wadiz.kr/assets/icon/apple-touch-icon.png)"></em>
                                <span class="user-info">위게더
                                    <br>2023.05.10</span>

                            </div>
                        </div>
                        <div class="inner-contents">
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/068badac-e05e-4da1-bd15-29f097136539.jpg"
                                    class="fr-fic fr-dib"></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/1e300638-ba91-414a-9df7-caa1523e9e43.jpg"
                                    class="fr-fic fr-dib">&nbsp; <a href="https://wadiz.typeform.com/to/e1gPjN97"
                                    rel="noopener noreferrer" target="_blank"><img style="margin:0;"
                                        src="https://static.makercenter.wadiz.kr/board/image/5dd72c8b-5c84-41bb-9cb0-0a9f0a70bc71.jpg"
                                        class="fr-fic fr-dib"></a></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/697c8eb3-2f44-43d1-9b76-b4cf1072f43d.jpg"
                                    class="fr-fic fr-dib"></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/7e5f43e9-58ce-4c48-af2c-83c4975ee141.jpg"
                                    class="fr-fic fr-dib"></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/db3e6f80-7d70-49fe-9b32-9be6b4b9bc62.jpg"
                                    class="fr-fic fr-dib"></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/02c8560d-0381-4005-a565-ab8870b2c512.jpg"
                                    class="fr-fic fr-dib">
                                <a href="https://wadiz.typeform.com/to/e1gPjN97" rel="noopener noreferrer"
                                    target="_blank"><img style="margin:0;"
                                        src="https://static.makercenter.wadiz.kr/board/image/2550840f-2bd9-4acb-946d-f9040d7d5ac8.jpg"
                                        class="fr-fic fr-dib"></a>
                            </p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/ae1470d4-1a1e-4f14-9ce0-cc364d4edf8a.jpg"
                                    class="fr-fic fr-dib"></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/370e5968-e448-4ea0-a857-3b6e62130689.jpg"
                                    class="fr-fic fr-dib"></p>
                            <p style="margin:0;"><a href="https://www.wadiz.kr/web/school/detail/1174"
                                    rel="noopener noreferrer" target="_blank"><img style="margin:0;"
                                        src="https://static.makercenter.wadiz.kr/board/image/51170be8-d2ed-4630-a2f2-b9431d60c07c.jpg"
                                        class="fr-fic fr-dib"></a></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/c374d39d-bd94-458e-a1ff-f2c502a498ad.jpg"
                                    class="fr-fic fr-dib"></p>
                            <p style="margin:0;"><a href="https://wadiz.channel.io/lounge" rel="noopener noreferrer"
                                    target="_blank"><img style="margin:0;"
                                        src="https://static.makercenter.wadiz.kr/board/image/610914e2-c211-49a4-abdb-3d0b28f20e3b.jpg"
                                        class="fr-fic fr-dib"></a></p>
                            <p style="margin:0;"><img style="margin:0;"
                                    src="https://static.makercenter.wadiz.kr/board/image/ee01f348-1526-44d7-8de7-57455c1e6291.jpg"
                                    class="fr-fic fr-dib"></p>
                        </div>
                        <div class="article-attached">
                            <ul>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wcommunity-detail-bottom">
                    <div class="wcommunity-share-area">
                        <div class="btn-share">
                            <button class="kakao" onclick="wadiz.share.kakao();"></button>
                            <button class="facebook" onclick="wadiz.share.facebook();"></button>
                            <button class="twitter" onclick="wadiz.share.twitter();"></button>
                        </div>
                    </div>
                </div>
                <div class="wboard-detail-bottom">
                    <div class="wboard-detail-btn-wrap">
                        <a class="wz button" href="#this" onclick="moveList()">목록으로 돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
<script>
    $(function () {
       $("#header").load("header.html");
       $("#footer").load("footer.html");
   });
</script>
</html>