<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/notice-list.css">
</head>
<body>
    <div id="page-container">
      <div id="header"></div>
        <main class="board wzui">
          <!-- 공지사항 상단부 -->
            <div class="ui-header">
              <h2 class="title">공지 사항</h2>
            </div>
            <div aria-hidden="true"></div><div class="ui-tabs">
            </div>
            <!-- 공지사항 목록 -->
            <div class="board-main">
              <ul>
             <li>                   
              <a class="article " href="/web/wboard/newsBoardDetail/8459?headWordId=&amp;cPage=1">
                <em class="category">이벤트</em>
              <em class="status closed">진행 중</em>
                         <em class="notice">중요</em>
                         <em class="notice">BEST</em>
                    <div class="info">
                          <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0510/20230510155628224_0.jpg/wadiz/resize/400/format/jpg/quality/80)"></div>
                       <h3 class="title">[메이커 모집] 크리에이터 페스티벌 참여 메이커 모집 (~6/12)</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.05.10</span>
                      </div>
                    </a>
                  </li>
                 <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8455?headWordId=&amp;cPage=1">
                         <em class="category">이벤트</em>
                          <em class="status closed">진행 중</em>
                         <em class="notice">중요</em>
                        <em class="notice">BEST</em>
                      <div class="info">
                         <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0511/20230511191040713_0.png/wadiz/resize/400/format/jpg/quality/80)"></div>
                       <h3 class="title">[첫구매] 스토어가 처음이라면? 5천원 쿠폰ㅣ최대 50% 혜택받고 인기상품 구매하세요</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.05.08</span>
                      </div>
                    </a>
                  </li>
                 <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8454?headWordId=&amp;cPage=1">
                      <em class="category">이벤트</em>
                      <em class="status closed">진행 중</em>
                       <em class="notice">중요</em>
                        <em class="notice">BEST</em>
                     <div class="info">
                         <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0511/20230511183409859_0.jpg/wadiz/resize/400/format/jpg/quality/80)"></div>
                       <h3 class="title">[이벤트] 제누이오 입점 기념 혜택ㅣ 사전 쿠폰 다운로드 받고 얼리버드가에 만나보세요 (5/16 COMING SOON)</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.05.08</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8442?headWordId=&amp;cPage=1">
                         <em class="category">이벤트</em>
                           <em class="status closed">진행 중</em>
                           <em class="notice">중요</em>
                          <em class="notice">BEST</em>
                     <div class="info">
                         <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0510/20230510094516134_0.jpg/wadiz/resize/400/format/jpg/quality/80)"></div>
                      <h3 class="title">[팝업스토어] 5일간 반짝혜택! 아렌시아 옥풀세럼+바디떡솝 ㅣ전용 쿠폰+최대 할인 (~5/14)</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.04.13</span>
                      </div>
                    </a>
                  </li>
                 <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8439?headWordId=&amp;cPage=1">
                       <em class="category">이벤트</em>
                        <em class="status closed">진행 중</em>
                         <em class="notice">중요</em>                       
                          <em class="notice">BEST</em>
                     <div class="info">
                         <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0508/20230508093613740_0.jpg/wadiz/resize/400/format/jpg/quality/80)"></div>                       
                        <h3 class="title">[스토어] 월간 매거진 | 신상 뷰티 : 펀딩에서 검증받고 스토어에 대거입점 + 최대 5만원 랜덤쿠폰</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.04.10</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8403?headWordId=&amp;cPage=1">
                          <em class="category">이벤트</em>
                          <em class="status closed">진행 중</em>                       
                          <em class="notice">중요</em>                        
                          <em class="notice">BEST</em>                       
                      <div class="info">                        
                          <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0328/20230328103841603_0.jpg/wadiz/resize/400/format/jpg/quality/80)"></div>                       
                        <h3 class="title">[이벤트] 매월 3주차 OPEN | What day is it? 매일 혜택 가득한, 와디즈데이</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.01.27</span>
                      </div>
                    </a>
                  </li>                
                  <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8453?headWordId=&amp;cPage=1">                      
                          <em class="category">이벤트</em>                           <em class="status closed">종료</em>                       
                          <em class="notice">중요</em>                       
                          <em class="notice">BEST</em>                       
                      <div class="info">                       
                          <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0428/20230428165927370_0.jpg/wadiz/resize/400/format/jpg/quality/80)"></div>                       
                        <h3 class="title">[공간와디즈] LET’S GO GREEN TOGETHER 팝업 전시 및 행사 안내(~5/7)</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.04.28</span>
                      </div>
                    </a>
                  </li>                
                  <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8433?headWordId=&amp;cPage=1">                      
                          <em class="category">이벤트</em>                          
                            <em class="status closed">종료</em>                                                                        
                          <em class="notice">중요</em>                                              
                          <em class="notice">BEST</em>                                               
                      <div class="info">                       
                          <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0327/20230327131455586_0.png/wadiz/resize/400/format/jpg/quality/80)"></div>                       
                        <h3 class="title">[메이커 모집] 제 2회 와-이디어 콘테스트 참여 메이커 모집 (~5/8)</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.03.27</span>
                      </div>
                    </a>
                  </li>                
                  <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8432?headWordId=&amp;cPage=1">                     
                          <em class="category">이벤트</em>
                           <em class="status closed">종료</em>
                           <em class="notice">중요</em>
                          <em class="notice">BEST</em>                       
                      <div class="info">                        
                          <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0428/20230428134131111_0.jpg/wadiz/resize/400/format/jpg/quality/80)"></div>                       
                        <h3 class="title">[리뷰 있는 신상] 리뷰로 검증된 5월 신상품을 소개해요ㅣ 기간한정 쿠폰 + 얼리버드 혜택 (~5/4)</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.03.23</span>
                      </div>
                    </a>
                  </li>               
                  <li>
                    <a class="article " href="/web/wboard/newsBoardDetail/8407?headWordId=&amp;cPage=1">                      
                          <em class="category">공지</em>                        
                          <em class="notice">중요</em>                        
                          <em class="notice">BEST</em>                                              
                      <div class="info">
                        
                          <div class="thumb" style="background-image:url(https://cdn.wadiz.kr/ft/images/green001/2023/0131/20230131110759569_0.png/wadiz/resize/400/format/jpg/quality/80)"></div>
                        
                        <h3 class="title">[서비스 안내] 프리오더 서비스가 리뉴얼됩니다.</h3>
                        <span class="author">와디즈</span><span class="created-at">2023.01.30</span>
                      </div>
                    </a>
                  </li>               
              </ul>
            </div>
            <!-- 페이징 -->
            <div class="board-footer">
              <div class="pagination">
                <div class="page">    
                  <div class="desktop-only">
                    <!-- 데스크탑용 버튼 -->
                    <button class="prev-page icon-chevron-left" onclick="movePage(0)" disabled="">
                      <span class="text-hidden">이전 목록</span>
                    </button>      
                    <!-- 데스크탑용 페이지 리스트 -->                    
                      <a class="current" href="#" onclick="movePage(1)">1</a>                   
                      <a href="#" onclick="movePage(2)">2</a>                    
                      <a href="#" onclick="movePage(3)">3</a>                   
                      <a href="#" onclick="movePage(4)">4</a>                    
                      <a href="#" onclick="movePage(5)">5</a>                     
                    <!-- 데스크탑용 버튼 -->
                    <button class="next-page icon-chevron-right" onclick="movePage(7)">
                      <span class="text-hidden">다음 목록</span>
                    </button>
                  </div>
                </div>
              <div class="search">
              </div>
            </div>
          <div aria-hidden="true" style="position: relative; left: 0px; bottom: 48px; width: 100%;"></div>
        </main>
        <div id="footer"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(function () {
     $("#header").load("header.html");
     $("#footer").load("footer.html");
 });
</script>
</html>