
@charset "utf-8";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
}

*{box-sizing:border-box}
.clearfix:after{content:"";clear:both;display:block}
.pull-right{float:right}
.pull-left{float:left}
.sr-only{display:none}
.w2-layout-sub-content *{box-sizing:content-box}
.wd-layout-sub-content *{box-sizing:content-box}
.wd-ui-campaign3 *{box-sizing:content-box}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    line-height: inherit;
    color: inherit;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
}


body{
	line-height: 16px;
}
/* reset with normalize */
body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td,
	form, fieldset, legend, input, textarea, button, select {
	font-family: Roboto, 'Noto Sans KR', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, select, button, table {
	font-family: Roboto, 'Noto Sans KR', sans-serif;
	color: #4d5256;
	letter-spacing: -.03em
}


input::-ms-clear{
	display:none;
}

a {
	text-decoration: none;
	color:inherit
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color:inherit
}
/*
a, button, input, textarea {
	-webkit-transition: border-color .4s, background .4s, color .4s, opacity
		.4s;
	transition: border-color .4s, background .4s, color .4s, opacity .4s
}
*/
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td,
	form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0
}

li {
	list-style: none
}

address, em {
	font-style: normal
}

label {
	cursor: pointer
}

table {
	width: 100%
}

/* common */
a.skip {
	display: block;
	position: absolute;
	top: -1px;
	z-index: 999;
	width: 0;
	height: 0;
	overflow: hidden;
	text-align: center
}

a.skip:active, a.skip:focus {
	z-index: 999;
	width: 100%;
	height: auto;
	padding: 5px;
	background: #FFF
}

.blank {
	background: url(/resources/equity/img/blank.png)
}

.overflow {
	overflow: hidden
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.pr {
	position: relative
}

.va_mid {
	vertical-align: middle
}

.d_block {
	display: block
}

.d_iblock {
	display: inline-block
}

.fw_500 {
	font-weight: 500
}

.split_bar {
	padding: 0 10px;
	font-style: normal
}

.txt_line, .txt_line:hover, .txt_line:focus {
	text-decoration: underline
}



.btn[class*=bg_] {
	border-radius: 0;
	text-shadow: none
}

.btn_wh:before, .btn_wh:after, .btn[class*=bg_]:before, .btn[class*=bg_]:after
	{
	display: none
}

.btn_wh {
	display: inline-block;
	border: 1px solid #e4e4e4;
	border-radius: 8px;
	background: none;
	font-weight: 700;
	color: #4d5256;
	text-shadow: none
}

.btn_wh:hover {
	background: none;
	border-color: #5dbac7;
	color: #009db3
}

.btn_wh.v2 {
	border-radius: 0;
	font-weight: 400
}

.btn_wh.v2:hover {
	border-color: #009db3;
	color: #009db3;
}

.btn_wh.v3 {
	padding: 10px 30px;
	border-color: #25b187 !important;
	border-radius: 3px;
	font-weight: 400;
	font-size: 18px;
	text-align: center
}

.btn_wh.v3:before {
	display: none;
	position: relative;
	left: auto;
	z-index: 1;
	width: 23px;
	height: 21px;
	margin: 0 auto -21px;
	background: url(/resources/equity/img/btn_v3_icon.png) no-repeat
}

.btn_wh.v3:hover, .btn_wh.v3:focus {
	background: #51c19f;
	color: #2d9e7d
}

.btn_wh.v3:hover:before, .btn_wh.v3:focus:before {
	display: block
}

.btn_radius {
	border-radius: 8px !important
}

.btn-xs {
	padding: 1px 8px;
	font-weight: 400;
	font-size: 12px
}

.btn-md {
	padding-right: 20px;
	padding-left: 20px
}

.btn-lg {
	padding-right: 30px;
	padding-left: 30px
}

.btn.v2:after, .btn.v2:before {
	display: none
}

.btn2 {
	padding: 15px 0;
	background: #009db3;
	border: 1px solid #008598;
	box-shadow: inset 2px 2px 6px rgba(255, 255, 255, .5), 2px 2px 3px
		rgba(0, 0, 0, .1);
	font-size: 18px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
	text-align: center;
	color: #fff
}

.btn2:hover, .btn2:focus {
	background: #0eb3c3;
	text-shadow: 1px 1px 3px rgba(89, 233, 234, 1);
	color: #004b56
}

.btn2.reset_btn {
	background: #f8f8f8;
	border-color: #c2c2c2;
	text-shadow: none;
	color: #009db3
}

.btn2.reset_btn:hover, .btn2.reset_btn:focus {
	background: #e0e0e0;
	text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
	color: #777
}

[class^="hvr-"] {
	padding: 6px 12px;
	background: #009db3;
	border: 0;
	text-align: center;
	color: #fff;
	cursor: pointer;
	white-space: nowrap
}

[class^="hvr-"].btn_wh {
	border: 1px solid #e4e4e4;
	border-radius: 8px;
	background: none;
	font-weight: 700;
	color: #4d5256;
	text-shadow: none;
	background: #fff;
}

[class^="hvr-"].btn-xs {
	padding: 1px 8px;
	font-weight: 400;
	font-size: 12px
}



.btn-default, .btn-default:hover, .btn-default:focus {
	background: #b7b7b7;
	border: 1px solid #9f9f9f
}

.hvr-grow {
	padding: 8px 35px;
	border-radius: 3px
}

.hvr-grow, .hvr-grow:hover, .hvr-grow:focus {
	color: #fff
}

.hvr-grow.btn-lg {
	width: 100%;
	height: 92px;
	padding: 20px 35px;
	text-align: left;
	font-size: 20px;
	font-weight: 500
}

.hvr-grow.btn-lg small {
	font-size: 14px;
	font-weight: normal
}

.form-control {
	background: #fff;
	box-shadow: none !important;
	border: 1px solid #dadada;
	border-radius: 2px
}

.form-control:focus {
	border-color: #00b9d4 !important
}

.form-control.read {
	width: 200px;
	border: 0;
	background: #fff
}

.control-label {
	font-weight: 400
}

.form-horizontal .radio-inline {
	padding-top: 0;
	padding-bottom: 5px
}

.input-group-addon {
	background: none;
	border: 0
}

.form-control[contenteditable] {
	height: auto;
	padding-left: 0;
	padding-right: 0;
	line-height: inherit
}
/* form2 */
.frm, .frm2 {
	width: 780px;
	padding: 20px 0 10px 40px
}

.frm2 {
	padding-left: 95px
}

.frm .form-group {
	position: relative;
	margin-bottom: 25px
}

.frm .control-label {
	float: left;
	width: 180px;
	padding-right: 20px;
	font-size: 16px
}

.frm2 .control-label {
	text-align: left;
	font-size: 16px
}

.frm2 .control_bx {
	margin-top: 7px
}

.frm .control_bx {
	float: left;
	width: 550px
}

.frm .control_bx .control-label {
	float: none;
	width: 190px
}

.added_help {
	position: absolute;
	top: 0;
	left: 100%;
	width: 35%
}

.frm .form-control-static {
	padding: 7px 0 7px 7px
}

.frm .control-label.pt0 {
	line-height: 1.1
}

.frm .control-label small {
	display: block;
	padding-top: 3px;
	font-size: 14px;
	color: #a2a2a2
}

.frm .help-block {
	margin-bottom: 0
}

.disabled>* {
	filter: Alpha(opacity = 50);
	opacity: .5
}

.disabled label {
	cursor: default
}

.disabled .btn {
	background: #888;
	border: 1px solid #777;
	filter: Alpha(opacity = 100);
	opacity: 1
}

.required label {
	color: #ea5490
}

.required {
	border-color: #ea5490
}

.required .input-group-btn:first-child>.btn {
	border-right: 0
}



.alertify-o,.alertify-o-log,.alertify-o-show {
    -webkit-transition: all .5s cubic-bezier(.175,.885,.32,1.275);
    -moz-transition: all .5s cubic-bezier(.175,.885,.32,1.275);
    -ms-transition: all .5s cubic-bezier(.175,.885,.32,1.275);
    -o-transition: all .5s cubic-bezier(.175,.885,.32,1.275);
    transition: all .5s cubic-bezier(.175,.885,.32,1.275)
}

.alertify-o-hide {
    -webkit-transition: all .25s cubic-bezier(.6,-.28,.735,.045);
    -moz-transition: all .25s cubic-bezier(.6,-.28,.735,.045);
    -ms-transition: all .25s cubic-bezier(.6,-.28,.735,.045);
    -o-transition: all .25s cubic-bezier(.6,-.28,.735,.045);
    transition: all .25s cubic-bezier(.6,-.28,.735,.045)
}

.alertify-o-log-hide {
    -webkit-transition: all .5s cubic-bezier(.6,-.28,.735,.045);
    -moz-transition: all .5s cubic-bezier(.6,-.28,.735,.045);
    -ms-transition: all .5s cubic-bezier(.6,-.28,.735,.045);
    -o-transition: all .5s cubic-bezier(.6,-.28,.735,.045);
    transition: all .5s cubic-bezier(.6,-.28,.735,.045)
}

.alertify-o-cover {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6
}

.alertify-o-cover-hidden {
    display: none
}

.alertify-o {
    position: fixed;
    z-index: 999999;
    top: 220px;
    left: 50%;
    opacity: 1
}

.alertify-o-hidden {
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    transform: translateY(-150px);
    opacity: 0;
    display: none
}

:root *>.alertify-o-hidden {
    display: block;
    visibility: hidden
}

.alertify-o-logs {
    position: fixed;
    z-index: 5000;
    bottom: 10px;
    right: 10px;
    width: 350px
}

.alertify-o-logs-hidden {
    display: none
}

.alertify-o-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0
}

.alertify-o-log-show {
    right: 0;
    opacity: 1
}

.alertify-o-log-hide {
    -webkit-transform: translate(300px);
    -moz-transform: translate(300px);
    -ms-transform: translate(300px);
    -o-transform: translate(300px);
    transform: translate(300px);
    opacity: 0
}

.alertify-o-dialog {
    padding: 20px
}

.alertify-o-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.alertify-o-inner {
    text-align: center
}

.alertify-o-text {
    margin-bottom: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%
}

.alertify-o-buttons {
    margin-bottom: 20px
}

.alertify-o-button,.alertify-o-button:active,.alertify-o-button:hover,.alertify-o-button:visited {
    background: none;
    text-decoration: none;
    border: none;
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px
}

@media only screen and (max-width: 680px) {
    .alertify-o,.alertify-o-logs {
        width:90%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .alertify-o {
        left: 50%
    }
}

.alertify-o,.alertify-o-log {
    -webkit-font-smoothing: antialiased
}

.alertify-o {
    border: 4px solid #1daac0;
    border-radius: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    background: #fff;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box
}

.alertify-o-title {
    padding-top: 10px;
    text-align: center;
    color: #00af84;
    font-size: 20px;
    font-weight: 500
}

.alertify-o-text {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px
}

.alertify-o-button {
    border-radius: 4px;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.5);
    background-image: -webkit-linear-gradient(top,hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    background-image: -moz-linear-gradient(top,hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    background-image: -ms-linear-gradient(top,hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    background-image: -o-linear-gradient(top,hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    background-image: linear-gradient(top,hsla(0,0%,100%,.3),hsla(0,0%,100%,0));
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    color: #fff;
    font-weight: 500
}

.alertify-o-button:active {
    position: relative;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05)
}

.alertify-o-button-cancel,.alertify-o-button-cancel:focus,.alertify-o-button-cancel:hover {
    border: 1px solid #9f9f9f;
    background: #b7b7b7
}

.alertify-o-button-ok,.alertify-o-button-ok:focus,.alertify-o-button-ok:hover {
    border: 1px solid #369cab;
    border-radius: 2px;
    background: #5fb0bc
}

.alertify-o-log {
    border-radius: 4px;
    background: #1f1f1f;
    background: rgba(0,0,0,.9);
    padding: 15px;
    color: #fff
}

.alertify-o-log-error {
    border: 1px solid red;
    background: #fe1a00;
    background: hsla(0,0%,100%,.9);
    color: red
}

.alertify-o-log-success {
    border: 1px solid #00af84;
    background: #00af84;
    background: hsla(0,0%,100%,.9);
    color: #00af84;
    font-weight: 500
}

.alertify-o-message {
    margin: 35px auto 40px;
    padding: 2px 15px 0
}

.alertify-o>div {
    display: none
}

.alertify-o {
    top: 20%;
    margin-left: -150px;
    border: 1px solid #eee;
    border-radius: 3px;
    width: 300px
}

.alertify-o-dialog {
    padding: 75px 20px 30px
}

.alertify-o-message {
    margin-bottom: 30px;
    line-height: 20px;
    color: #4a4a4a;
    font-size: 12px!important
}

.alertify-o-button,.alertify-o-button:focus,.alertify-o-button:hover {
    outline: none;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 110px;
    height: 42px;
    text-shadow: none;
    line-height: 42px;
    font-size: 14px;
    font-weight: 400
}

.alertify-o-button-ok,.alertify-o-button-ok:focus,.alertify-o-button-ok:hover {
    outline: none;
    border: none;
    background: #50e3c2
}

.alertify-o-button-cancel,.alertify-o-button-cancel:focus,.alertify-o-button-cancel:hover {
    outline: none;
    border: none;
    background: #9b9b9b
}
