h1.wz.text.display1,
h2.wz.text.display1,
h3.wz.text.display1,
h4.wz.text.display1,
h5.wz.text.display1,
h6.wz.text.display1,
p.wz.text.display1,
span.wz.text.display1,
em.wz.text.display1,
label.wz.text.display1 {
    line-height: 40px;
    font-size: 32px;
}

.account-find .wz.container,
.account-find .page-header .tab-list ul,
.account-find .page-header .desc,
.account-find .page-header .wz.text.display1 {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1024px;
    color: #000;
}

.account-find .page-header .wz.text.display1 {
    padding-top: 56px;
    padding-bottom: 36px;
    text-align: left;
}

.account-find .page-header .tab-list {
    position: relative;
    top: 0;
    left: 0;
    transition-property: background-color, -webkit-backdrop-filter, backdrop-filter;
    transition-duration: 0.5s;
    z-index: 100;
    box-shadow: 0 1px #00000014;
    background: #fff;
    width: 100%;
}

/* tab-list */

.account-find .page-header .tab-list ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.account-find .page-header .tab-list ul {
    padding: 0 16px;
}

.account-find .page-header .tab-list ul:after {
    display: block;
    clear: both;
    content: '';
}

.account-find .page-header .tab-list li {
    float: left;
    width: 50%;
}

.account-find .page-header .tab-list li {
    margin-right: 24px;
    width: auto;
}

.account-find .page-header .tab-list a {
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
    text-decoration: none;
    line-height: 48px;
    color: #90949c;
    font-size: 15px;
}

.account-find .page-header .tab-list li.active {
    border-bottom: 2px solid #00BBFF;
    height: 47px;
}

.account-find .page-header .tab-list li.active a {
    color: #0097D2;
}

/* Contents */
.account-find .page-body {
    background: #f5f7fa;
}

.account-find .wz.container {
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding-top: 24px;
    padding-bottom: 160px;
    width: 100%;
    max-width: 400px;
}

.account-find .wz.container.pw-check {
    padding-bottom: 10px;
}

.account-find .wz.container.pw-check .wz.text.body1 {
    margin-bottom: 40px;
    color: #0000008a;
}

.wz.form .field {
    margin: 24px 0;
}

.text-hidden,
.wz-modal.confirm-change-email .label {
    margin: -1px 0 0 !important;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

.text-hidden,
.wz-modal.confirm-change-email .label {
    margin-top: -1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}

.wz.form .field > label {
    display: block;
    margin-bottom: 8px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 17px;
}

.wz.form .field.label-hidden > label {
    display: none;
}

.wz.input {
    display: block;
    position: relative;
    font-size: 17px;
}

.wz.input::after {
    display: inline-block;
    margin-top: -0.2em;
    vertical-align: middle;
    text-transform: none;
    line-height: 1;
    font-family: 'wadizicon' !important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;

    content: '\e934';
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    opacity: 0;
    margin-top: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
    pointer-events: none;
    color: #00BBFF;
    font-size: 1.4117647059em;
}

.wz.input > input,
.wz.input > textarea,
.wz.input.icon > i.icon {
    color: rgba(0, 0, 0, 0.84);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}

.wz.input > input,
.wz.input > textarea {
    transition-property: border-color, height, padding-right, color;
    transition-duration: 0.2s, 0s;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #fff;
    padding: 0 0.9411764706em;
    width: 100%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.84);
    font-size: 17px;
    font-weight: 300;
}

.wz.input > input {
    height: 48px;
    line-height: 1.2em;
    font-size: 17px;
    font-weight: 300;
}

.wz.form .field .helper {
    display: block;
    margin-top: 4px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

.account-find .field .helper.error {
    display: none;
}

.wz.form .field .helper.error,
.wz.form .field.error .helper.wz.input {
    color: #f25555;
}

/* id */
.account-find .wz.container.id-check .wz.text.body1 {
    margin-bottom: 40px;
    color: #0000008a;
}

/* display none */
.account-find .wz.container.id-result {
    display: none;
}

.account-find .wz.container.id-result .wz.text.headline2 {
    margin-top: 24px;
    margin-bottom: 12px;
    color: #000000d6;
}

.account-find .wz.container.id-result .wz.text.body1 {
    color: #0000008a;
}

.account-find .wz.container.id-result .inner-container {
    margin-top: 24px;
}

.account-find .wz.container.id-result .wz.button {
    margin-bottom: 16px;
    text-align: center;
    line-height: 46px;
}

/* modal */
.pwd_modal {
    display: none;
}

/* 반응형 */
@media (max-width: 800px) {
    .account-find .page-header .wz.text.display1 {
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: center;
    }

    .account-find .wz.container,
    .account-find .page-header .tab-list ul,
    .account-find .page-header .desc,
    .account-find .page-header .wz.text.display1 {
        margin: 0 auto;
        padding: 0 16px;
        width: 100%;
        max-width: 1024px;
        color: #000;
    }

    .account-find .wz.container,
    .account-find .page-header .tab-list ul,
    .account-find .page-header .desc,
    .account-find .page-header .wz.text.display1 {
        margin: 0 auto;
        padding: 0 16px;
        width: 100%;
        max-width: 1024px;
        color: #000;
    }

    .account-find .page-header .tab-list {
        position: relative;
        top: 0;
        left: 0;
        transition-property: background-color, -webkit-backdrop-filter, backdrop-filter;
        transition-duration: 0.5s;
        z-index: 100;
        box-shadow: 0 1px #00000014;
        background: #fff;
        width: 100%;
    }

    .account-find .page-header .tab-list ul {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .account-find .page-header .tab-list li {
        float: left;
        width: 50%;
        margin: 0;
    }

    .account-find .page-header .tab-list a {
        display: block;
        width: 100%;
        height: 47px;
        text-align: center;
        text-decoration: none;
        line-height: 48px;
        color: #90949c;
        font-size: 15px;
    }

    .account-find .page-header .tab-list li.active {
        border-bottom: 2px solid #00BBFF;
        height: 47px;
    }

    .account-find .page-header .tab-list li.active a {
        color: #0097D2;
    }

    .account-find .page-header .tab-list ul:after {
        display: block;
        clear: both;
        content: '';
    }

    .account-find .page-header .wz.text.display1 {
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: center;
        line-height: 36px;
        letter-spacing: -0.6px;
        font-size: 28px;
        font-weight: 700;
    }

    .account-find .wz.container {
        padding-bottom: 10px;
        margin: 0 auto;
        border-top: 1px solid rgba(0, 0, 0, 0);
        padding-top: 24px;
        width: 100%;
        max-width: 400px;
    }
}
