<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
    />

    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/project/making/list.css">

    <title>아이디 찾기 | 위게더</title>



</head>
<body>
<div id="page-container">
    <!-- [S] Header -->
    <!-- [E] Header -->

    <!-- [S] Contents -->
    <div id="wadizContainer">
        <div id="mypageWrap" class="mypage">
            <div class="myfunding-wrap">
                <h2 class="mypage-top-title">만든 프로젝트</h2>

                <div class="mypage-project bg">
                    <div class="tab-list">
                        <ul>
                            <li class="active"><a href="/web/wmypage/myfunding/makinglist">전체</a></li>
                            <li><a href="#">작성 중</a></li>
                        </ul>
                    </div>
                    <div class="project-list">
                        <div id="projectCardList" class="card-list pt50">
                            <ul>
                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(214253)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(214253)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(214158)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(214158)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(213261)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(213261)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(213257)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(213257)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(213255)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(213255)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(212961)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(212961)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(212959)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(212959)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="reward">
                                    <div class="visibility-control">
                                        <button type="button" class="btn-more">
                                            <i class="wadizicon wa-more-vert"></i>
                                        </button>
                                        <button type="button" class="btn-control" onclick="deletePrjt(212893)">
                                            삭제
                                        </button>
                                    </div>

                                    <div class="project-card-wrap">
                                        <div class="project-card">
                                            <div class="card-img-section">
                                                <em class="project-img"
                                                >
                                                    <div class="default"><p>대표이미지 등록 필요</p></div>
                                                </em
                                                >

                                                <em class="project-type reward">프로젝트</em>
                                            </div>
                                            <div class="card-info-section making-project">
                                                <h4>제목을 입력해주세요.</h4>
                                                <h5>윰이</h5>

                                                <p class="status confirm"><i></i>작성 중</p>

                                                <p></p>
                                            </div>
                                            <div class="btn-wrap">
                                                <button onclick="goEditRewardProject(212893)" class="btn-line div1">
                                                    스튜디오 바로가기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!-- empty -->
                            <p id="emptyProjectText">
                                만든 프로젝트가 없습니다.<br/>바로 신청해 보시겠어요?<br/><br/>
                                <a href="/web/wsub/openfunding"
                                ><strong>펀딩오픈 신청하기 <i class="wadizicon wa-chevron-right"></i></strong
                                ></a>
                            </p>
                        </div>
                        <!--  // .card-list -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E] Contents -->

    <!-- [S] Footer -->
    <!-- [E] Footer -->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/project/making/list.js"></script>
</html>
