<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
    />

    <link rel="stylesheet" href="/css/account/find/find.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/style.css">

    <title>비밀번호 찾기 | 위게더</title>


</head>
<body>
<div id="page-container">
    <!-- [S] Header -->
    <!-- [E] Header -->

    <!-- [S] Contents -->
    <div class="account-find">
        <div class="page-header">
            <h2 class="wz text display1">아이디∙비밀번호 찾기</h2>
            <div class="tab-list">
                <ul>
                    <li><a href="/account/find/id">아이디 찾기</a></li>
                    <li class="active"><a href="#">비밀번호 찾기</a></li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <div class="wz container pw-check" style="min-height: calc(100vh - 187px)">
                <p class="wz text body1">
                    가입하셨던 이메일 계정을 입력하시면,<br/>비밀번호를 새로 만들 수 있는 링크를
                    이메일로<br/>발송해드립니다.
                </p>
                <form class="wz form>
                    <input type="hidden" id="findType" value="FIND_PASSWORD"/>
                    <div class="label-hidden field">
                        <label class="text-hidden" for="memberId">이메일 주소</label>
                        <div class="wz input">
                            <input id="memberId" type="email" placeholder="이메일 계정"/>
                        </div>
                        <p class="helper error error-text" id="emailError">
                            이메일 형식이 올바르지 않습니다.
                        </p>
                        <p class="helper error error-text" id="notJoinedEmail">
                            와디즈에 등록되어 있지 않은 계정입니다.
                        </p>
                    </div>
                    <button id="BtnSendlink" class="wz primary block button" type="button">
                        링크 발송
                    </button>
                    <button
                            id="BtnReSendlink"
                            class="wz block button"
                            type="button"
                            style="display: none"
                    >
                        링크 재발송
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- [E] Contents -->

    <!-- [S] Footer -->
    <!-- [E] Footer -->

    <!-- [S] modal -->
    <div class="DialogModal_dialogPortal__BM1PV pwd_modal">
        <div
                class="DialogModal_dialogOverlay__2fDsh DialogModal_basic__TvFe7 DialogModal_dialogOverlayAfterOpen__1MGB5"
        >
            <div
                    class="DialogModal_dialogContent__33Iur DialogModal_dialogContentAfterOpen__uf7yA"
                    tabindex="-1"
                    role="dialog"
                    aria-modal="true"
            >
                <div class="BasicDialog_modalWrap__17eb_">
                    <div class="BasicDialog_modalWrapBox__3QCu3">
                        <div class="BasicDialog_dialogBox__kK0GT">
                            <div class="BasicDialog_dialogTitle__3u28L">등록되지 않은 계정</div>
                            <div class="BasicDialog_dialogMessage__35wCp">
                                <p>abc@naver.com는 위게더에 등록되어 있지 않은 계정입니다.</p>
                                <p>다른 계정을 입력해보세요.</p>
                            </div>
                            <div class="BasicDialog_dialogButtonArea__3pf8P BasicDialog_reverse__1oy8X">
                                <button
                                        class="Button_button__cfyja BasicDialog_dialogButton__1I7wu"
                                        type="button"
                                >
                                    <span><span class="Button_children__1BTvH close_btn">확인</span></span>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="BasicDialog_modalClose__2dz6b close_btn" title="닫기">
                            <svg
                                    viewBox="0 0 40 40"
                                    focusable="false"
                                    role="presentation"
                                    class="withIcon_icon__djI-9"
                                    aria-hidden="true"
                            >
                                <path
                                        d="M33.4 8L32 6.6l-12 12-12-12L6.6 8l12 12-12 12L8 33.4l12-12 12 12 1.4-1.4-12-12 12-12z"
                                ></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [E] modal -->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/account/find/find.js"></script>
</html>
