<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>위게더 || 상담 수정</title>
    <link rel="stylesheet" href="/css/consult/consult-register1.css">
    <link rel="stylesheet" href="/css/consult/consult-register2.css">
    <link rel="stylesheet" href="/css/consult/common.css">
    <link rel="stylesheet" href="/css/consult/mypage.css">
    <link rel="stylesheet" href="/css/mypage/project/list.css">
    <link rel="stylesheet" href="/css/modal/modal.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">

</head>
<header th:replace="~{/fix/header :: #header}"></header>
<body th:object="${consultDTO}">
<div id="AppLayout_Container" class="AppLayout_container__3zbzb">
    <div class="AppLayout_main__14bCi">

        <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
            <div id="container" class="ContentsLayout_container__11k-W">
                <div>
                    <div class="Breadcrumb_container__3YjD4"></div>
                    <nav class="DetailNavbar_container__3SkEf">
                        <div class="AppNavbar_container__5uOnI">
                            <div
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="129" height="48" viewBox="0 0 566.94 73.08">
                                    <g id="Layer_2" data-name="Layer 2">
                                        <g id="Layer_1-2" data-name="Layer 1">
                                            <g>
                                                <path d="M17.66,2.7,26.36,42,34.55,2.7H51.87l7.77,40,9.13-40H86.43l-17.24,68H51.53L43.09,27.78,34.81,70.7H17.23L0,2.7Z"/>
                                                <path d="M145,28.7v14H112v13h36v15H94V2.7h53v15H112v11Z"/>
                                                <path d="M192.61,58.08q6.85,0,11.23-3.23a13.16,13.16,0,0,0,5.23-9.15H191v-15h36v9.68a34.65,34.65,0,0,1-2.7,14.13,28.8,28.8,0,0,1-7.37,10.2A32,32,0,0,1,206,70.94a40.67,40.67,0,0,1-13.28,2.14,38.67,38.67,0,0,1-14.53-2.7,35.6,35.6,0,0,1-11.7-7.55,35,35,0,0,1-7.84-11.55,37,37,0,0,1-2.87-14.74,37,37,0,0,1,2.87-14.74,34.91,34.91,0,0,1,7.88-11.55A35.94,35.94,0,0,1,178.38,2.7,39.9,39.9,0,0,1,193.13,0a36.45,36.45,0,0,1,18.34,4.4,44.47,44.47,0,0,1,13.89,13l-11.75,10a25.38,25.38,0,0,0-8.35-9.16,22.15,22.15,0,0,0-12.39-3.4,18,18,0,0,0-7.37,1.57,18.51,18.51,0,0,0-6.13,4.41,21.94,21.94,0,0,0-4.2,6.8,23.56,23.56,0,0,0-1.59,8.85A25.51,25.51,0,0,0,175,45.39a20.42,20.42,0,0,0,4,6.8,17.57,17.57,0,0,0,6,4.36A18.43,18.43,0,0,0,192.61,58.08Z"/>
                                                <path d="M288,28.7v14H255v13h36v15H237V2.7h53v15H255v11Z"/>
                                                <path d="M337,17.7v53H319v-53H297V2.7h61v15Z"/>
                                                <path d="M409,70.7V38.56l-25,6.85V70.7H366V2.7h18V31.17l25-7V2.7h18v68Z"/>
                                                <path d="M490,28.7v14H457v13h36v15H439V2.7h53v15H457v11Z"/>
                                                <path d="M503,2.7h38.69a29.06,29.06,0,0,1,8.43,1.19,18.83,18.83,0,0,1,6.8,3.63,16.78,16.78,0,0,1,4.5,6.27,22.94,22.94,0,0,1,1.64,9q0,6.83-2.33,11.05a17.28,17.28,0,0,1-6.93,6.78l13.16,30H548.16L537.43,45.78,521,49.37V70.7H503ZM544.7,22.56a6,6,0,0,0-1.57-4.12,5.4,5.4,0,0,0-4.21-1.74H521V33.1l16.15-3c2.89-.51,4.88-1.45,6-2.81A7.42,7.42,0,0,0,544.7,22.56Z"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="AppNavbar_maker__2WVfm">
                                <div class="Avatar_avatar__2DI5d Avatar_xs__i50kh"><span></span></div>
                                <div th:text="${nickName}"></div>
                            </div>
                            <div class="AppNavbar_buttonGroup__UcLfm">

                                <button
                                        class="Button_button__1e2A2 Button_tertiaryGrey__3gRf4 Button_text__3KyLl Button_md__1FRMG"
                                        type="button" onclick="location.href='/consults/list'">
                                    <span><span class="Button_children__q9VCZ">나가기</span></span>
                                </button>
                            </div>
                        </div>
                    </nav>
                    <div class="HeaderLayout_container__3fXkO">
                        <div class="HeaderLayout_contents__F4hlC">
                            <h2 class="ProjectTypeFormContainer_title__3Zn37">상담 수정</h2>
                        </div>

                    </div>

                    <form class="consulting-form ProjectTypeFormContainer_form__3kGVN" th:action="@{/consults/modify}" method="post" name="writeForm">
                        <input type="hidden" th:field="*{id}" th:value="*{id}">
                        <section class="Section_container__3md8M spacing-9">
                            <div style="max-width: 630px">
                                <div class="Section_header__1qwS7 spacing-4">
                                    <h2 class="Section_title__ikPIm Section_isRequired__F8rij">카테고리</h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>
                                <div class="SatisfactionFilter_container__1q2UL">
                                    <div class="select-menu small SatisfactionFilter_selectBox__1SsgP" style="width: 548px!important;
    height: 48px!important;">
                                        <div class="css-2b097c-container">
            <span
                    aria-live="polite"
                    aria-atomic="false"
                    aria-relevant="additions text"
                    class="css-7pg0cj-a11yText"
            ></span>
                                            <div class="select-menu__control css-yk16xz-control"
                                                 style="height:48px!important;">
                                                <div
                                                        class="select-menu__value-container select-menu__value-container--has-value css-1hwfws3"
                                                >
                                                    <div class="menu-value select-menu__single-value css-1uccc91-singleValue" th:text="*{consultingCategory}">
                                                    </div>
                                                    <input  th:field="*{consultingCategory}" class="value" type="hidden" value="">
                                                    <input
                                                            id="react-select-4-input"
                                                            readonly=""
                                                            tabindex="0"
                                                            aria-autocomplete="list"
                                                            class="css-62g3xt-dummyInput"
                                                            value=""
                                                    />
                                                </div>
                                                <div class="select-menu__indicators css-1wy0on6">
                                                    <span class="select-menu__indicator-separator css-0"></span>
                                                    <div
                                                            class="select-menu__indicator select-menu__dropdown-indicator css-tlfecz-indicatorContainer"
                                                            aria-hidden="true"
                                                    >
                                                        <svg
                                                                viewBox="0 0 32 32"
                                                                focusable="false"
                                                                role="presentation"
                                                                class="withIcon_icon__3VTbq"
                                                                aria-hidden="true"
                                                        >
                                                            <path d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="select-menu__menu css-9g7j0m-menu" style="display: none">
                                                <div class="select-menu__menu-list css-11unzgr">
                                                    <div
                                                            class="select-menu__option select-menu__option--is-focused select-menu__option--is-selected css-9gakcf-option"
                                                            id="react-select-6-option-0"
                                                            tabindex="-1"
                                                    >
                                                        선택해주세요
                                                    </div>
                                                    <div
                                                            class="select-menu__option css-yt9ioa-option"
                                                            id="react-select-6-option-1"
                                                            tabindex="-1"
                                                    >
                                                        학습
                                                    </div>
                                                    <div
                                                            class="select-menu__option css-yt9ioa-option"
                                                            id="react-select-6-option-2"
                                                            tabindex="-1"
                                                    >
                                                        진로
                                                    </div>
                                                    <div
                                                            class="select-menu__option css-yt9ioa-option"
                                                            id="react-select-6-option-3"
                                                            tabindex="-1"
                                                    >
                                                        입시
                                                    </div>
                                                    <div
                                                            class="select-menu__option css-yt9ioa-option"
                                                            id="react-select-6-option-4"
                                                            tabindex="-1"
                                                    >
                                                        자소서
                                                    </div>
                                                    <div
                                                            class="select-menu__option css-yt9ioa-option"
                                                            id="react-select-6-option-5"
                                                            tabindex="-1"
                                                    >
                                                        면접
                                                    </div>
                                                    <div
                                                            class="select-menu__option css-yt9ioa-option"
                                                            id="react-select-6-option-6"
                                                            tabindex="-1"
                                                    >
                                                        기타
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--                <div class="Section_content__3OkLZ">-->
                                <!--                  <div class="select-menu">-->
                                <!--                    <div class="css-2b097c-container" id="category">-->
                                <!--                      <span-->
                                <!--                        aria-live="polite"-->
                                <!--                        aria-atomic="false"-->
                                <!--                        aria-relevant="additions text"-->
                                <!--                        class="css-7pg0cj-a11yText"-->
                                <!--                      ></span>-->
                                <!--                      -->

                                <!--                          <select class="select-menu__control css-1m205as-control">-->

                                <!--                            <option selected>선택해주세요</option>-->
                                <!--                            <option value="학습">학습</option>-->
                                <!--                            <option value="진로">진로</option>-->
                                <!--                            <option value="입시">입시</option>-->
                                <!--                            <option value="자소서/면접">자소서/면접</option>-->
                                <!--                            <option value="기타">기타</option>-->
                                <!--                          </select>-->

                                <!--                          -->
                                <!--                      </div>-->
                                <!--                    </div>-->
                                <!--                  </div>-->
                            </div>

                        </section>


                        <section class="Section_container__3md8M">
                            <div style="max-width: 630px">
                                <div class="Section_header__1qwS7">
                                    <h2 class="Section_title__ikPIm">제목</h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>

                                <div class="Section_content__3OkLZ">
                                    <div
                                            class="TextField_textField__23rCe TextField_md__2zsQn TextField_right__1qt_G"
                                    >
                                        <label></label>
                                        <div class="TextField_field__1E9vt">
                                            <input th:field="*{consultingTitle}" class="Input_title Input_input__2kAAL Input_md__3-eZ6"
                                                   placeholder="제목을 작성해주세요" maxlength="30" th:value="*{consultingTitle}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!-- 사진 등록 -->
                            <section class="Section_container__3md8M" style="max-width: 630px">
                                <div class="Section_header__1qwS7">
                                    <h2 class="Section_title__ikPIm Section_isRequired__F8rij">썸네일 등록</h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>
                                <div class="Section_description__10Uwo">
                                    상담 대표 사진을 등록해 주세요.
                                </div>
                                <div class="Section_content__3OkLZ">
                                    <div class="StoryVideoOrImageField_container__1lnfV">
                                        <div
                                                class="field Form_field__35I9T required ImageFormField_field__X1jTW StoryImageField_field__3O6yy"
                                                style="padding-left: 0px"
                                        >
                                            <div class="attach-wrap">
                                                <label for="upload1" class="attach">
                                                    <img src="" class="thumbnail representative">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>대표 이미지</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                                <label for="upload2" class="attach">
                                                    <img src="" class="thumbnail">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>이미지 추가</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                                <label for="upload3" class="attach">
                                                    <img src="" class="thumbnail">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>이미지 추가</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                                <label for="upload4" class="attach">
                                                    <img src="" class="thumbnail">
                                                    <div class="x">
                                                        <img src="/image/community/x.png">
                                                    </div>
                                                    <h6 class="plus">+</h6>
                                                    <h6>이미지 추가</h6>
                                                    <span class="file-size"></span>
                                                </label>
                                            </div>
                                            <input type="file" id="upload1" class="upload" style="display: none;">
                                            <input type="file" id="upload2" class="upload" style="display: none;">
                                            <input type="file" id="upload3" class="upload" style="display: none;">
                                            <input type="file" id="upload4" class="upload" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <div style="max-width: 630px; margin-top: 50px">
                                <div class="Section_header__1qwS7">
                                    <h2 class="Section_title__ikPIm">내용 작성</h2>
                                    <div class="Section_guide__2xeJO"></div>
                                </div>
                                <div class="Section_description__10Uwo">
                                    <p>자유롭게 내용을 작성해주세요.</p>
                                </div>
                                <div class="Section_content__3OkLZ">
                                    <div
                                            class="TextField_textField__23rCe TextField_md__2zsQn TextField_right__1qt_G"
                                    >
                                        <label></label>
                                        <div class="TextField_field__1E9vt">
                                            <textarea class="content-textarea Input_input__2kAAL Input_md__3-eZ6"
                                                      placeholder="내용을 작성해주세요" th:text="*{consultingContent}"></textarea>
                                            <input th:field="*{consultingContent}" class="consult-content" type="hidden" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <div class="ProjectTypeFormContainer_buttonWrapper__3fh_J">
                            <button
                                    class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_xl__2x3J_ button_save"
                                    type="button"
                                    style="width: 548px; max-width: 100%" disabled="disabled"
                            >
                                <span><span class="Button_children__q9VCZ">수정하기</span></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/fix/footer :: #footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/modal/modal.js"></script>
<script th:inline="javascript">
    let files = [[${consultDTO.files}]];
</script>
<script src="/js/consult/register-list.js"></script>
<script src="/js/consult/consult-modify.js"></script>
</html>
