#accountWrap {
  width: 100%;
  padding-bottom: 160px;
  background: #f9f9f9;
}

#accountWrap #newContainer {
  background: #f9f9f9;
}

#newContainer {
  min-height: 100%;
  background: #eee;
}

@media screen and (min-width: 1000px) {
  .account-wrap {
    width: 350px;
    margin: 0 auto;
    padding-top: 75px;
  }
}

.account-wrap {
  padding: 35px 20px;
  padding-left: max(20px, env(safe-area-inset-left));
  padding-right: max(20px, env(safe-area-inset-right));
}

.account-wrap h2.small {
  margin-bottom: 0;
}
.account-wrap h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: normal;
}

.email-input-wrap {
  padding-top: 16px;
}

.input-text {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 17px;
  margin-bottom: 7px;
  height: 46px;
  line-height: 45px;
  font-size: 13px;
  color: #4a4a4a;
  background: #fff;
  border: 1px solid #e4e4e4;
  outline: none;
}

.btn-wrap.smaller {
  padding-top: 5px;
}

.btn-wrap {
  width: 100%;
  margin-bottom: 10px;
}

.wz.button.primary {
  background-color: #00c4c4;
  color: #fff;
}
.wz.button.primary,
.wz.button.primary-outline {
  border-color: #00c4c4;
}
.wz.button.block,
.wz.button.fluid {
  width: 100%;
  text-align: center;
}

.wz.button {
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 1.4117647059em;
  height: 48px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box !important;
}

.account-wrap h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: normal;
}
.input-btn-wrap {
  display: flex;
}

.input-btn-wrap .input {
  width: 70%;
}

.input-btn-wrap .btn {
  width: 28%;
  margin-left: 4px;
  display: block;
  background: #e1deda;
  height: 46px;
  line-height: 46px;
  border: none;
  text-align: center;
  overflow: hidden;
}

.btn span {
  line-height: 46px;
  font-size: 13px;
  color: #ffffff;
}

.error-text {
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 1.5;
  color: #e54545;
  display: none;
}

.social-account-wrap {
  position: relative;
  width: 100%;
}

.social-account-wrap .title {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #4a4a4a;
  font-weight: 400;
}

.social-account-wrap p {
  margin: 130px 0px 0px;
  font-size: 12px;
  line-height: 16px;
  color: #4a4a4a;
  font-weight: 400;
}

.social-account-wrap ul {
  width: 100%;
  height: 100%;
}

.social-account-wrap li {
  float: left;
  width: 25%;
}

.social-account-wrap li:first-child a {
  margin-left: 0;
}
.social-account-wrap a.unlinked {
  opacity: 0.3;
}

.social-account-wrap .facebook a,
.social-account-big-wrap .facebook a {
  background: #3b5998;
}

.social-account-wrap a {
  position: relative;
  cursor: pointer;
  display: block;
  height: 42px;
  line-height: 38px;
  text-align: center;
  margin: 0 6px;
  font-size: 22px;
  color: #fff;
  box-sizing: border-box;
}

i.wadizicon,
i.icon::before,
[class*='icon-']::before {
  display: inline-block;
  margin-top: -0.2em;
  vertical-align: middle;
  text-transform: none;
  line-height: 1;
  font-family: 'wadizicon' !important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

i.wadizicon.wa-facebook::before,
i.icon.facebook::before,
.icon-facebook::before {
  content: '';
}

i.wadizicon.wa-naver::before,
i.icon.naver::before,
.icon-naver::before {
  content: '';
}

i.wadizicon.wa-kakao::before,
i.icon.kakao::before,
.icon-kakao::before {
  content: '';
}

.social-account-wrap ul:after {
  content: '';
  clear: both;
  display: block;
}

.social-account-wrap .naver a,
.social-account-big-wrap .naver a {
  background: #02c300;
}

.social-account-wrap .kakao a,
.social-account-big-wrap .kakao a {
  background: #fdd800;
  color: #3f2526;
}

.social-account-wrap .google a,
.social-account-big-wrap .google a {
  background: #fff;
  border: 1px solid #dadce0;
  color: #7c8288;
}

.social-account-wrap li:last-child a {
  margin-right: 0;
}

.sns-text {
  font-size: 15px;
}

.sns-text-wrap {
  margin-bottom: 10px !important;
}

/*연동*/


  .Button_button__3MO4n {
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.15s;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: #0000;
    cursor: pointer;
    padding: 9px 16px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.43;
    white-space: nowrap;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box !important;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

.Button_button__3MO4n.Button_lg__D7OVb {
  padding: 9px 24px;
  line-height: 1.75;
  font-size: 16px;
}

.Button_button__3MO4n.Button_block__3npc4 {
  width: 100%;
}



.SNSButtonList_kakaoButton__2lTDs {
  border-color: #fee500;
  background-color: #fee500;
}

.SNSButtonList_kakaoButton__2lTDs:hover {
  background-color: #fee500;
}

.SNSButtonList_spacer__38ac5 {
  margin-top: 12px;
}

.Button_button__3MO4n .Button_children__raEW4 {
  vertical-align: top;
}

.withIcon_icon__2KxnX {
  display: block;
  transform: scale(1);
  transition: transform 0.3s ease-out;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.SNSButtonList_naverIcon__3TjPM,
.SNSButtonList_kakaoIcon__1s6gw {
  position: absolute;
  left: 16px;
  width: 22px;
  height: 22px;
}

.Button_button__3MO4n.Button_block__3npc4 {
  width: 100%;
}
