#accountWrap {
  width: 100%;
  padding-bottom: 160px;
  background: #f9f9f9;
}

#accountWrap #newContainer {
  background: #f9f9f9;
}

#newContainer {
  min-height: 100%;
  background: #eee;
}

@media screen and (min-width: 1000px) {
  .account-wrap {
    width: 350px;
    margin: 0 auto;
    padding-top: 75px;
  }
}

.account-wrap {
  padding: 35px 20px;
  padding-left: max(20px, env(safe-area-inset-left));
  padding-right: max(20px, env(safe-area-inset-right));
}

.account-wrap h2.small {
  margin-bottom: 0;
}
.account-wrap h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: normal;
}

.email-input-wrap {
  padding-top: 16px;
}

.input-text {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 17px;
  margin-bottom: 7px;
  height: 46px;
  line-height: 45px;
  font-size: 13px;
  color: #4a4a4a;
  background: #fff;
  border: 1px solid #e4e4e4;
  outline: none;
}

.btn-wrap.smaller {
  padding-top: 5px;
}

.btn-wrap {
  width: 100%;
  margin-bottom: 10px;
}

.wz.button.primary {
  background-color: #00BBFF;
  color: #fff;
}
.wz.button.primary,
.wz.button.primary-outline {
  border-color: #00BBFF;
}
.wz.button.block,
.wz.button.fluid {
  width: 100%;
  text-align: center;
}

.wz.button:hover,
.wz.button:focus,
.wz.button.active {
  border-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.wz.button.primary:hover,
.wz.button.primary:focus,
.wz.button.primary.active,
.wz.button.primary-outline:hover,
.wz.button.primary-outline:focus,
.wz.button.primary-outline.active {
  border-color: #00BBFF;
  background-color: #00BBFF;
  color: #fff;
}

.wz.button {
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 1.4117647059em;
  height: 48px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box !important;
}
