.alertify-o-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}


.alertify-o {
  border: 4px solid #1daac0;
  border-radius: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background: #fff;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}


.alertify-o {
  top: 20%;
  margin-left: -150px;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 300px;
}

.alertify-o,
.alertify-o-log {
  -webkit-font-smoothing: antialiased;
}
.alertify-o {
  position: fixed;
  z-index: 999999;
  top: 220px;
  left: 50%;
  opacity: 1;
}

.alertify-o,
.alertify-o-log,
.alertify-o-show {
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.alertify-o-button-ok,
.alertify-o-button-ok:focus,
.alertify-o-button-ok:hover {
  outline: none;
  border: none;
  background: #50e3c2;
}

.alertify-o-button,
.alertify-o-button:focus,
.alertify-o-button:hover {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 110px;
  height: 42px;
  text-shadow: none;
  line-height: 42px;
  font-size: 14px;
  font-weight: 400;
}

.alertify-o-inner {
  text-align: center;
}

.alertify-o-message {
  margin-bottom: 30px;
  line-height: 20px;
  color: #4a4a4a;
  font-size: 12px !important;
}
.alertify-o-message {
  margin: 35px auto 40px;
  padding: 2px 15px 0;
}

.alertify-o-buttons {
  margin-bottom: 20px;
}
