html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}
#accountWrap {
  width: 100%;
  padding-bottom: 160px;
  background: #f9f9f9;
}
#accountWrap #newContainer {
  background: #f9f9f9;
}
.account-wrap {
  padding: 35px 20px;
  padding-left: max(20px, env(safe-area-inset-left));
  padding-right: max(20px, env(safe-area-inset-right));
}
.account-wrap.with-footer {
  padding-bottom: 0;
}
.account-wrap h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: normal;
}
.account-wrap h2.small {
  margin-bottom: 0;
}
.account-wrap h2.big {
  margin-bottom: 16px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: normal;
}
.account-wrap h3 {
  font-size: 13px;
  line-height: 16px;
  color: #4a4a4a;
  font-weight: normal;
}
.account-wrap h4 {
  padding-top: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #4a4a4a;
  font-weight: normal;
}
.account-wrap .account-img {
  padding-top: 16px;
  text-align: center;
}
.account-wrap .account-img .icon_profile_btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
}
.account-wrap h4.with-border {
  margin-top: 16px;
  border-top: solid 1px #e4e4e4;
}
.account-wrap h4.with-border.big {
  margin-top: 20px;
}

.my-info {
  width: 100%;
  height: 56px;
  border-top: solid 1px #e4e4e4;
  padding-left: 20px;
  box-sizing: border-box;
  display: block;
}
.my-info h3 {
  margin-top: 13px;
  margin-bottom: 3px;
}
.my-info p {
  font-size: 10px;
}
.my-info-title {
  padding-bottom: 16px;
}
.my-info h3 a {
  text-decoration: underline;
}
.my-info:after {
  content: '';
  clear: both;
  display: block;
}
.my-info div {
  float: left;
}
.my-info-text {
  width: 90%;
  height: 56px;
}
.my-info-btn {
  width: 5%;
  height: 56px;
  text-align: right;
  margin: 0 5px;
}
.my-info-btn a {
  line-height: 56px;
}
.my-info span {
  padding-left: 20px;
  font-size: 11px;
  line-height: 56px;
}

.my-info-btn i {
  color: #9b9b9b;
  line-height: 56px !important;
}
#accountWrap #newContainer {
  background: #f9f9f9;
}

#newContainer {
  min-height: 100%;
  background: #eee;
}

@media screen and (min-width: 1000px) {
  .account-wrap {
    width: 350px;
    margin: 0 auto;
    padding-top: 75px;
  }
}

.account-wrap {
  padding: 35px 20px;
  padding-left: max(20px, env(safe-area-inset-left));
  padding-right: max(20px, env(safe-area-inset-right));
}
