#accountWrap {
  width: 100%;
  padding-bottom: 160px;
  background: #f9f9f9;
}

#accountWrap #newContainer {
  background: #f9f9f9;
}

#newContainer {
  min-height: 100%;
  background: #eee;
}

@media screen and (min-width: 1000px) {
  .account-wrap {
    width: 350px;
    margin: 0 auto;
    padding-top: 75px;
  }
}

.account-wrap {
  padding: 35px 20px;
  padding-left: max(20px, env(safe-area-inset-left));
  padding-right: max(20px, env(safe-area-inset-right));
}

.account-wrap h2.small {
  margin-bottom: 0;
}
.account-wrap h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: normal;
}

.email-input-wrap {
  padding-top: 16px;
}

.input-text {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 17px;
  margin-bottom: 7px;
  height: 46px;
  line-height: 45px;
  font-size: 13px;
  color: #4a4a4a;
  background: #fff;
  border: 1px solid #e4e4e4;
  outline: none;
}

.btn-wrap.smaller {
  padding-top: 5px;
}

.btn-wrap {
  width: 100%;
  margin-bottom: 10px;
}

.wz.button.primary {
  background-color: #00BBFF;
  color: #fff;
}
.wz.button.primary,
.wz.button.primary-outline {
  border-color: #00BBFF;
}
.wz.button.block,
.wz.button.fluid {
  width: 100%;
  text-align: center;
}

.wz.button {
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 0.2s;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  padding: 0 1.4117647059em;
  height: 48px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box !important;
}

.account-wrap h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: normal;
}

.input-btn-wrap .input {
  width: 70%;
}

.input-btn-wrap div {
  float: left;
}

.input-btn-wrap .btn {
  width: 28%;
  margin-left: 4px;
  display: block;
  background: #8c8881;
  height: 46px;
  line-height: 46px;
  border: none;
  text-align: center;
  overflow: hidden;
}

.btn span {
  line-height: 46px;
  font-size: 13px;
  color: #ffffff;
}

.error-text {
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 1.5;
  color: #e54545;
  display: none;
}

.social-account-wrap {
  position: relative;
  width: 100%;
  padding: 22px 0 35px;
}

.social-account-wrap .title {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #4a4a4a;
  font-weight: 400;
}

.social-account-wrap p {
  margin: 7px 0;
  font-size: 12px;
  line-height: 16px;
  color: #4a4a4a;
  font-weight: 400;
}

.social-account-wrap ul {
  width: 100%;
  height: 100%;
}

.social-account-wrap li {
  float: left;
  width: 25%;
}

.social-account-wrap li:first-child a {
  margin-left: 0;
}
.social-account-wrap a.unlinked {
  opacity: 0.3;
}

.social-account-wrap .facebook a,
.social-account-big-wrap .facebook a {
  background: #3b5998;
}

.social-account-wrap a {
  position: relative;
  cursor: pointer;
  display: block;
  height: 42px;
  line-height: 38px;
  text-align: center;
  margin: 0 6px;
  font-size: 22px;
  color: #fff;
  box-sizing: border-box;
}

i.wadizicon,
i.icon::before,
[class*='icon-']::before {
  display: inline-block;
  margin-top: -0.2em;
  vertical-align: middle;
  text-transform: none;
  line-height: 1;
  font-family: 'wadizicon' !important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

i.wadizicon.wa-facebook::before,
i.icon.facebook::before,
.icon-facebook::before {
  content: '';
}

i.wadizicon.wa-naver::before,
i.icon.naver::before,
.icon-naver::before {
  content: '';
}

i.wadizicon.wa-kakao::before,
i.icon.kakao::before,
.icon-kakao::before {
  content: '';
}

.social-account-wrap ul:after {
  content: '';
  clear: both;
  display: block;
}

.social-account-wrap .naver a,
.social-account-big-wrap .naver a {
  background: #02c300;
}

.social-account-wrap .kakao a,
.social-account-big-wrap .kakao a {
  background: #fdd800;
  color: #3f2526;
}

.social-account-wrap .google a,
.social-account-big-wrap .google a {
  background: #fff;
  border: 1px solid #dadce0;
  color: #7c8288;
}

.social-account-wrap li:last-child a {
  margin-right: 0;
}

.pwd-text {
  font-size: 11px;
  line-height: 14px;
  color: #4a4a4a;
}

.email-input-wrap .pwd-text {
  margin-bottom: 12px;
}

.not-same {
  font-size: 11px;
  line-height: 14px;
}
