<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tr="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지- 자료 목록</title>
        <link rel="stylesheet" href="/css/admin/admin_common.css" />
        <link rel="stylesheet" href="/css/admin/sidemenu.css" />
        <link rel="stylesheet" href="/css/admin/admin_member_list.css" />
        <link rel="stylesheet" href="/css/admin/modal.css" />
        <link rel="stylesheet" href="/css/admin/admin_board.css">
        <link rel="stylesheet" href="/css/admin/admin_board_proposal.css">
        <link rel="stylesheet" href="/css/admin/admin_common.css">
        <link rel="icon" href="/image/logo/favicon.png" />
    </head>

    <body>
        <div>
            <!-- 모달 부분 -->
            <div class="modal">
                <div class="warn-modal">
                    <div id="content-wrap"></div>
                </div>
            </div>

            <div class="info-title-box info-title-box-flex">
                <div class="logo-box-layout">
                    <div class="logo-box">
                        <img src="/image/admin/wegether.svg" style="padding-top: 17px" />
                    </div>
                </div>
                <div>
                    <div class="select-name">
                        <span>자료 목록</span>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <!-- 사이드 바 -->
                 <div th:replace="~{admins/side-bar :: sidebar}"></div>

                <div class="container">
                    <div class="container-margin">
                        <div style="display: flex; justify-content: space-between">
                            <!-- 헤더 -->
                            <div class="DesktopSearchApp_container__2VF9O">
                                <form>
                                    <div class="SearchController_container__35K5i">
                                        <!-- 검색창 -->
                                        <div class="SearchController_keyword__3FcFo">
                                            <input class="search-input deleteButton delete-button" type="search" name="keyword" placeholder="제목을 입력하세요" style="width: 450px; padding: 11px;">
                                        </div>
                                        <!-- 검색 버튼 누르기 -->
                                        <button style="display: none" type="submit"></button>
                                    </div>
                                </form>
                                <!-- 검색창 눌렀을 때 나오는 메뉴 -->
                            </div>
                            <div class="delete-box-layout">
                                <div class="delete-box">
                                    <!-- 삭제 버튼 -->
                                    <button
                                        class="deleteButton delete-button"
                                        onclick="deleteDatas(getSelectedDataIds())"
                                    >
                                        자료 삭제
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>자료 목록</span>
                                </div>

                                <div class="info-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="checkbox-line">
                                                    <input type="checkbox" id="allSelect" />
                                                </th>
                                                <th>No</th>
                                                <th>자료 제목</th>
                                                <th>닉네임</th>
                                                <th>자료 가격</th>
                                                <th>자료 출처(학교)</th>
                                                <th>자료 출처(전공)</th>
                                                <th>등록일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="datas : ${datas}">
                                                <td class="checkbox-line">
                                                    <input
                                                        type="checkbox"
                                                        class="dataCheckbox"
                                                        name="check"
                                                        th:value="${datas.id}"
                                                    />
                                                </td>

                                                <td th:text="${datas.id}"></td>
                                                <td th:text="${datas.dataTitle}"></td>
                                                <td th:text="${datas.memberNickName}" class="member_type is_active"></td>
                                                <td th:text="${datas.dataPrice}"></td>
                                                <td th:text="${datas.dataSchool}"></td>
                                                <td th:text="${datas.dataMajor}"></td>
                                                <td th:text="${datas.dataRegisterDate}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <!-- 폼태그 -->
                        <!-- 페이지 부분 -->
                        <div id="paging-wrap">
                            <a th:if="${adminPagination.prev}" th:href="${adminPagination.startPage - 1}" class="data-change-page paging paging-move">
                                <img src="/image/admin/prev.png" width="15px"></a>
                            <th:block th:each="page:${#numbers.sequence(adminPagination.startPage, adminPagination.endPage)}">
                                <a th:if="${page eq adminPagination.page}" class="paging paging-checked" th:text="${page}"></a>
                                <a th:unless="${page eq adminPagination.page}" th:href="${page}" class="data-change-page paging" th:text="${page}"></a>
                            </th:block>
                            <a th:if="${adminPagination.next}" th:href="${adminPagination.endPage + 1}" class="data-change-page paging paging-move">
                                <img src="/image/admin/next.png" width="15px"></a>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.6.min.js"
            type="application/javascript"></script>
    <script src="/js/admin/bootPay.js"></script>
    <script th:inline="javascript">
        let datas = [[${datas}]];
        console.log(datas);
        let adminPagination = [[${adminPagination}]];
        console.log(adminPagination);
    </script>
    <script src="/js/admin/checkbox.js"></script>
    <script src="/js/admin/page.js"></script>
    <script src="/js/admin/sidemenu.js"></script>
    <script src="/js/admin/paging.js"></script>
    <script src="/js/admin/modal.js"></script>
    <script th:inline="javascript">
        let text = "";

        function getSelectedDataIds() {
            const dataIds = [];
            $(".dataCheckbox:checked").each(function() {
                dataIds.push($(this).val());
            });
            return dataIds;
            console.log(dataIds);
        }

        function deleteDatas(dataIds) {
            $.ajax({
                url: "/admins/data/delete",
                type: "POST",
                // method: "DELETE",
                // dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(dataIds),
                success: function() {
                    showWarnModal("삭제에 성공 하였습니다.");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },
                error: function() {
                    showWarnModal("삭제에 실패 하였습니다.");
                }
            });
        }
    </script>
</html>
