<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/index/introduction.css">
</head>
<body>
    <div id="page-container">
        <main>
            <div id="header"></div>
            <div id="wadiz-about-landing">
                <div class="background"></div>
                <section class="visualContainer">
                  <div class="content">
                    <h2 class="title">다양한 우리가 모여<br>함께 새로운 가치를 <br class="mobileOnly"> 만듭니다</h2>
                    <p class="desc">나로부터 시작해 더 많은 사람들, 더 많은 이야기와 이어지며 <br class="desktopOnly">우리 일상의 새로운 가능성을 그려가는 라이프디자인 펀딩플랫폼 와디즈입니다</p>
                  </div>
                </section>
                <section id="valueContainer" class="valueContainer section">
                  <div class="inner">
                    <strong class="summary">Unique Value</strong>
                    <div class="titleWrapper">
                      <h3 class="title">
                        와디즈에서는 누구나 투자받고 투자하면서 함께 성장합니다
                      </h3>
                    </div>
                    <div class="descWrapper">
                      <p class="desc">
                        사람들은 자신이 지지하는 기업에 투자합니다.<br>
                        한 사람 한 사람의 투자가 모여<br>
                        기업은 성장합니다.
                      </p>
                      <p class="desc">
                        여기, 기업 하나가 출발선에 있습니다.<br>
                        그는 자신의 가치를 증명하고<br>
                        사람들이 그의 가치를  알아봅니다.<br>
                        서로 지지하고 소통하고 공유하면서<br>
                        더 많은 사람들이 그를 알아봅니다.<br>
                        그렇게 기업은 성장합니다.<br>
                        또 다른 기업들이 용기를 얻고 출발선에 섭니다.<br>
                        사람들의 지지를 받는 기업은 성장합니다.<br>
                        세상에 자신만의 가치를 품은<br>
                        기업이 많아집니다.<br>
                        세상이 조금 더 나아집니다.
                      </p>
                      <em class="slogan desc">
                        Better Funding<br>
                        Better Business<br>
                        Better Life
                      </em>
                    </div>
                  </div>
                </section>
                <section class="quoteContainer">
                  <div class="inner">
                    <span class="quoteBefore"><i class="icon quote-before"></i></span>
                    <p class="desc">
                      <strong style="font-weight: bold;">'라이프디자인 펀딩플랫폼’ 와디즈는 대한민국에서 새로운 도전이 자연스러운 환경을 만듭니다.</strong><br>
                      펀딩을 넘어 와디즈 스토어, 공간 와디즈, 파이낸스, 파트너스 등 새로운 사업 영역을 확대하며 스타트업과 중소기업의 성장을 지원하는 종합 D2C(Direct to Customer) 플랫폼입니다.
                    </p>
                    <span class="quoteAfter"><i class="icon quote-after"></i></span>
                  </div>
                </section>
                <section class="missionContainer section">
                  <div class="inner">
                    <strong class="summary">Brand Mission</strong>
                    <div class="titleWrapper">
                      <h3 class="title">
                        올바른 생각이 신뢰를 바탕으로<br>
                        성장하는 세상을 만들고자 합니다
                      </h3>
                    </div>
                    <div class="descWrapper">
                      <p class="desc">
                        와디즈 업의 본질은 단순히 자금을 모으는 것이 아닙니다. 금융시장의 자금이 창업 기업이나 스타트업 등 꼭 필요한 곳에 흘러가도록 하여,<br>
                        더욱 성장하는 세상을 만드는 것이 우리의 미션입니다.
                      </p>
                    </div>
                  </div>
                </section>
                <section class="visionContainer section">
                  <div class="inner">
                    <strong class="summary">Brand Vision</strong>
                    <div class="titleWrapper">
                      <h3 class="title">
                        우리는 누구나 도전할 수 있는<br>
                        세상을 만듭니다.
                      </h3>
                    </div>
                    <div class="descWrapper">
                      <p class="desc">
                        도전이 자유로운 환경, 변화하며 성장하는 사회.<br>
                        내가 믿고 지지하는 가치가 세상에서 인정받을 수 있다는 것.<br>
                        나를 믿어주는 이들의 힘이 더해지면 꿈을 이룰 용기를 낼 수 있다는 것.<br>
                        와디즈는 많은 메이커와 서포터와 함께 ‘누구나 도전할 수 있는 세상’을 그립니다.
                      </p>
                    </div>
                  </div>
                </section>
                <section class="principleContainer section">
                  <div class="inner">
                    <strong class="summary">Wadiz 5 Principles</strong>
                  <div class="titleWrapper">
                    <h3 class="title">
                      와디즈가 일하는 방식
                    </h3>
                  </div>
                  <div class="descWrapper">
                    <p class="desc">
                      와디즈는 서로를 지지하고 도전을 즐기는 기업문화 안에서  아래 5가지 원칙을 가지고 일합니다.
                    </p>
                    </div>
                    <ol class="principleList">
                      <li class="principleItem">
                        <span class="num">1</span>
                        <p class="desc">우리는 옳은 일을 합니다.</p>
                      </li>
                      <li class="principleItem">
                        <span class="num">2</span>
                        <p class="desc">급변의 물살을 즐기며 앞서 나갑니다.</p>
                      </li>
                      <li class="principleItem">
                        <span class="num">3</span>
                        <p class="desc">팀원간의 필요를 채워줍니다.</p>
                      </li>
                      <li class="principleItem">
                        <span class="num">4</span>
                        <p class="desc">파트너와 고객에게 긍정적인 기억을 남깁니다.</p>
                      </li>
                      <li class="principleItem">
                        <span class="num">5</span>
                        <p class="desc">재무적인 이익을 추구합니다.</p>
                      </li>
                    </ol>
                  </div>
                </section>
                <section class="incruitContainer section">
                  <div class="inner">
                    <strong class="join">
                      와디즈는<br>
                      <span class="coloring">최고의 복지는 최고의 동료</span>라고 생각합니다.<br>
                      우리와 함께하시겠습니까?
                    </strong>
                    <a href="https://www.job.wadiz.kr/" target="_blank" class="wdButton">채용 포지션 확인하기</a>
                    <button></button>
                  </div>
                </section>
                <section id="identityContainer" class="identityContainer section">
                  <div class="inner">
                    <strong class="summary">BI</strong>
                    <div class="titleWrapper">
                      <h3 class="title">
                        Brand Identity
                      </h3>
                      <div class="biImage"></div>
                    </div>
                    <div class="descWrapper">
                      <p class="desc">
                        와디즈에 모이는 메이커와 서포터, 투자자들의 가치가 더 빛을 발하길 바랍니다. 이들의 이야기가 더 잘 전달되도록 와디즈의 기업 아이덴티티는 쉽고 단순한 형태로 개발했습니다.
                        때로는 로고의 한 부분이 유동적으로 움직이며 확장합니다. 다양함을 담아내고 시대의 흐름을 만드는 와디즈의 메시지를 담아, ‘더 나은 세상’에 대한 영감을 주고자 합니다.
                      </p>
                      <a href="https://static.wadiz.kr/file/landing/about/wadiz_BI.zip" class="wdButton bi" download="">BI 다운로드</a>
                      <p class="info">다운로드가 안될 때 PC 사용을 권장합니다.</p>
                      <p class="guideline">
                        <em>Guideline</em><br>
                        BI 적용 시 가이드의 규정을 반드시 준수해야 하며, 형태의 왜곡과 변형, 오남용을 금지합니다.
                      </p>
                    </div>
                  </div>
                </section>
              </div>
              <div id="footer"></div>
        </main>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(function () {
     $("#header").load("header.html");
     $("#footer").load("footer.html");
 });
</script>
</html>