<!DOCTYPE html>
<html lang="ko" class="scroll-top scroll-apex" xmlns:th="http://www.thymeleag.org">
<head>
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>   
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover">    
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-PH33MCR"></script>
    <link rel="stylesheet" href="https://static.wadiz.kr/static/web/wui.css?c542abcf">
    <link rel="stylesheet" href="https://static.wadiz.kr/static/web/css/vendor.5f64dbd5.chunk.css">
    <link rel="stylesheet" href="https://static.wadiz.kr/static/web/common.css?6b20ab93">
    <link rel="stylesheet" href="https://static.wadiz.kr/static/web/layout.css?97a6eedb">
    <script type="text/javascript" src="https://static.wadiz.kr/static/web/polyfill.js?b0c96ec4"></script>
    <script type="text/javascript" src="https://static.wadiz.kr/static/web/wui.js?d42e3af0"></script>
    <script type="text/javascript" src="https://static.wadiz.kr/static/web/sentry.43eb656a.js"></script>
    <script type="text/javascript" src="https://static.wadiz.kr/static/web/common.js?db524cda"></script>
    <link rel="stylesheet" href="https://static.wadiz.kr/main/main.c1266dc7.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.wadiz.kr/resources/static/editor/4.0.15/froala_editor.pkgd.min.css?20221122">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.wadiz.kr/resources/static/editor/4.0.15/froala_custom.css?v=20221122">
    <link rel="stylesheet" href="https://use.fontawesome.com/7f85a56ba4.css">
    <style id="ab-css-definitions-3-2-0">
    </style>
    <link rel="stylesheet" href="../../static/css/index/search-list.css">
</head>
<body>
    <div id="page-container">
        <main id="main-app">
            <div class="MainWrapper_content__GZkTa">
                <div class="DesktopSearchResult_headContainer__1hnOM">
                    <div class="DesktopSearchResult_keyword__13uuG">00</div>
                    <h2>검색결과</h2>
                    <div class="DesktopSearchResult_number__kryRO">000</div>
                    <div class="DesktopSearchResult_unit__24BC1">개</div>
                </div>
                <!-- 카테고리란 -->
                <div class="DesktopSearchResult_tabContainer__18T4j">
                    <ul class="SearchResultTabs_tabContainer__3rQre">
                        <li class="SearchResultTabs_activeTab__1jn0j" tabindex="-1" data-ga-category="검색_결과_탭"
                            data-ga-action="클릭" data-ga-label="전체">전체</li>
                        <li class="SearchResultTabs_normalTab__2u9oM" tabindex="-1" data-ga-category="검색_결과_탭"
                            data-ga-action="클릭" data-ga-label="펀딩">프로젝트</li>
                        <li class="SearchResultTabs_normalTab__2u9oM" tabindex="-1" data-ga-category="검색_결과_탭"
                            data-ga-action="클릭" data-ga-label="오픈예정">자료실</li>
                        <li class="SearchResultTabs_normalTab__2u9oM" tabindex="-1" data-ga-category="검색_결과_탭"
                            data-ga-action="클릭" data-ga-label="스토어">상담소</li>
                        <li class="SearchResultTabs_normalTab__2u9oM" tabindex="-1" data-ga-category="검색_결과_탭"
                            data-ga-action="클릭" data-ga-label="프리오더">커뮤니티</li>
                    </ul>
                </div>
                <!-- 검색결과가 있을 때 없을 때를 타임리프문으로 처리해주십시오 -->
                <!-- 검색결과 없을 때 -->
                <section class="EmptyResult_container__3omiy">
                    <h2>검색결과가 없어요</h2>
                    <h4>새로운 프로젝트를 발견해보세요</h4>
                    <div class="EmptyResult_tagContainer__ceRsP">
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">캠핑</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">가방</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">캐리어</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">텐트</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">안경</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">선풍기</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">우산</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">신발</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">보드게임</div>
                        </div>
                        <div class="PopularTag_container__Lxt5N">
                            <div class="PopularTag_keyword__2-ryF" tabindex="-1">키보드</div>
                        </div>
                    </div>
                </section>
                <!-- 검색결과 있을 때 -->
                <div class="SearchResult_container__2t-zd">
                    <div class="SearchResult_cardContainer__1hDo0">
                        <div id="project-search">

                        </div>

                        <div>
                            <a class="StoreCard_item__1V2Vz" href="https://www.wadiz.kr/web/store/detail/4049"
                                data-ec-list="검색_결과_상품카드_스토어" data-ec-id="4049"
                                data-ec-name="[와디즈 레이저 1위]10W 레이저 +블레이드+AI기능 M1 레이저각인기" data-ec-position="2"
                                data-ec-category="테크·가전" data-ec-brand="시안인터내셔널" data-ec-contenttype="STORE"
                                data-ec-price="2200000" data-gtm-vis-first-on-screen-11319722_2115="1916"
                                data-gtm-vis-first-on-screen-11319722_2073="1919"
                                data-gtm-vis-recent-on-screen-11319722_2115="20173"
                                data-gtm-vis-total-visible-time-11319722_2115="2000"
                                data-gtm-vis-recent-on-screen-11319722_2073="20173"
                                data-gtm-vis-total-visible-time-11319722_2073="2000"
                                data-gtm-vis-has-fired-11319722_2115="1" data-gtm-vis-has-fired-11319722_2073="1">
                                <div class="StoreCard_thumbnailContainer__3bBBh"><img class="StoreCard_img__3XMsp"
                                        alt="썸네일 이미지"
                                        srcset="https://cdn2.wadiz.kr/2023/01/31/e02aa89b-3972-492b-b1fe-1640d7f92343.png/wadiz/resize/314/quality/85/ 1x, https://cdn2.wadiz.kr/2023/01/31/e02aa89b-3972-492b-b1fe-1640d7f92343.png/wadiz/resize/628/quality/85/ 2x"
                                        src="https://cdn2.wadiz.kr/2023/01/31/e02aa89b-3972-492b-b1fe-1640d7f92343.png/wadiz/resize/314/quality/85/">
                                </div>
                                <div class="StoreCard_contentContainer__3Mm35">
                                    <div class="StoreCard_title__3pIDs">[와디즈 레이저 1위]10W 레이저 +블레이드+AI기능 M1 레이저각인기</div>
                                    <div class="StoreCard_subText__2xwNo">테크·가전 | 시안인터내셔널</div>
                                    <div class="StoreCardSearchFooter_container__mrmr1">
                                        <div class="StoreCardSearchFooter_upperFooter__2vxSN">
                                            <div class="StoreCardSearchFooter_priceContainer__2qAqu"><span
                                                    class="StoreCardSearchFooter_price__16gun">2,200,000</span><span>원</span>
                                            </div>
                                            <div class="RatingScore_container__AeQ_I RatingScore_smCard02__3cJAW">
                                                <div class="RatingScore_icon__rIS_k"></div><span
                                                    class="RatingScore_score__2a-SN">4.9</span>
                                            </div>
                                        </div>
                                        <div class="StoreCardSearchFooter_bottomFooter__1NQ9S">
                                            <div class="DeliveryBadge_container__3XB44"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="DesktopSearchResult_buttonContainer__1jr2A" style="display: block;">
        <button class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_md__46Ai- Button_block__1-g8w" type="button">
            <span>
                <span class="Button_children__ilFun">더보기 48/567</span>
            </span>
        </button>
    </div>
            </div>
            <div class="FloatingButtons_container__2E5Fl">
                <button type="button"
                    class="FloatingTopButton_pageTop__2gqm9 FloatingTopButton_visible__2sh_N" title="위로 이동"><svg
                        viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3VTbq"
                        aria-hidden="true">
                        <path d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path>
                    </svg>
                </button>
                <button type="button" data-ga-category="공통_최근본_UI" data-ga-action="클릭"
                    data-ga-label="" class="RecentView_container__1boAT" aria-label="최근본" style="display: none;">
                    <div aria-hidden="true"
                        class="RecentView_thumbnail__1lnV0 CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4 CardThumbnail_noanimation__23cSf"
                        style="background-image: url(&quot;https://cdn.wadiz.kr/wwwwadiz/green001/2023/0417/20230417212955241_206217.png/wadiz/resize/200/format/jpg/quality/85/&quot;);">
                    </div>
                </button>
                <div class="ChannelTalk_container__fd848" style="display:none;"><button type="button" aria-label="채널톡 와디즈 고객센터 문의"></button>
                </div>
            </div>
        </main>
        <form action="/web/waccount/wAccountLogin" id="returnForm" method="get" novalidate="novalidate">
            <input type="hidden" id="returnURL" name="returnURL">
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">
    let searches = [[${searches}]];
    console.log(searches);
</script>
<script src="/js/index/search.js"></script>

</html>