<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../../static/css/consult/all.css">
    <link rel="stylesheet" href="../../static/css/consult/class-detail.css">
  </head>
  <body>
    <!-- //header -->
    <!-- scrolltop 버튼 -->
    <div id="container">
      <div class="school-container">
        <div class="school-sub-con">
          <div class="school-title">
            <h3>[온라인 Live] 2023년 펀딩 비기너 클래스</h3>
            <p class="sub-text">아직도 와디즈 펀딩 안해보셨다면?</p>
          </div>
          <div class="school-summary">
            <div class="school-img-con">
              <img src="../../static/image/consulting/course001.jpg" height="390" width="540"/>
            </div>

            <div class="school-sum-info">
              <dl>
                <dt>강의 날짜</dt>
                <dd>2023년 05월 11일(목)</dd>
              </dl>
              <dl>
                <dt>강의 시간</dt>
                <dd>오후 3시 ~ 오후 4시</dd>
              </dl>
              <dl>
                <dt>강의 장소</dt>
                <dd style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                  유튜브 라이브
                </dd>
              </dl>
              <dl>
                <dt>모집/제한 인원</dt>
                <dd><span> 672명 </span> / 800명</dd>
              </dl>
              <div class="done-info">
                <p class="done-apply">
                  <strong>[]님</strong>

                  <br />
                  스쿨 강의 신청이 완료되었습니다.
                </p>
                <p>
                  신청 취소는 강의일의 1일 전인
                  <br />2023. 05. 10. 낮 12시까지만 가능합니다.
                </p>
              </div>
              <dl class="long set-num">
                <dt>신청인원</dt>
                <dd>
                  <input
                    type="text"
                    id="memberCnt"
                    name="memberCnt"
                    class="lect-val-num numOnly"
                    value="1"
                    disabled=""
                  />
                </dd>
              </dl>

              <p class="school-value"><strong>무료</strong></p>

              <div class="school-btn-apply">
                <a class="registeryet" onclick="applySchool()" style="cursor: pointer">신청하기</a>
                <a
                  class="registercom"
                  onclick="cancelApply()"
                  style="display: none; cursor: pointer"
                  >취소하기</a
                >
              </div>
            </div>
          </div>

          <div class="school-con">
            <ul class="school-tab">


              <li><a href="javascript:selectTab(3);">상세</a></li>
            </ul>
            <!-- 강의소개 -->
            <div id="tab-con1" class="tab-con" style="display: block; line-height: 27px">
              <img
                src="https://www.wadiz.kr/ft/images/green001/2023/0208/20230208153126446_1157.gif"
                style="
                  width: 800px;
                  display: block;
                  vertical-align: top;
                  margin: 0px auto;
                  text-align: center;
                  border: none;
                  cursor: pointer;
                "
                fr-original-style="width: 800px; display: block; vertical-align: top; margin: 0px auto; text-align: center;"
                fr-original-class="fr-draggable"
              /><img
                src="https://www.wadiz.kr/ft/images/green001/2023/0407/20230407102207157_1169.png"
                style="
                  width: 800px;
                  display: block;
                  vertical-align: top;
                  margin: 0px auto;
                  text-align: center;
                  border: none;
                  cursor: pointer;
                "
                fr-original-style="width: 800px; display: block; vertical-align: top; margin: 0px auto; text-align: center;"
                fr-original-class="fr-draggable"
              /><a
                fr-original-style=""
                href="https://www.youtube.com/playlist?list=PLUekHOpx5T6FFRWAKVERRN6TynctVNBNv"
                rel="noopener noreferrer"
                style="outline: none; user-select: auto"
                target="_blank"
                ><img
                  src="https://www.wadiz.kr/ft/images/green001/2023/0407/20230407102222552_1169.jpg"
                  style="
                    width: 800px;
                    display: block;
                    vertical-align: top;
                    margin: 0px auto;
                    text-align: center;
                    border: none;
                    cursor: pointer;
                  "
                  fr-original-style="width: 800px; display: block; vertical-align: top; margin: 0px auto; text-align: center;"
                  fr-original-class="fr-draggable" /></a
              ><img
                src="https://www.wadiz.kr/ft/images/green001/2023/0407/20230407102246920_1169.jpg"
                style="
                  width: 800px;
                  display: block;
                  vertical-align: top;
                  margin: 0px auto;
                  text-align: center;
                  border: none;
                  cursor: pointer;
                "
                fr-original-style="width: 800px; display: block; vertical-align: top; margin: 0px auto; text-align: center;"
                fr-original-class="fr-draggable"
              />
            </div>
            <!-- 강사 소개 -->
            <div id="tab-con2" class="tab-con" style="line-height: 27px"></div>
            <!-- 오시는길 -->
            <style>
              #tab-con3 > table {
                width: auto;
              }
            </style>
            <div id="tab-con3" class="tab-con" style="line-height: 27px"></div>
          </div>
        </div>
      </div>
      <!-- //school-container -->
    </div>
    <!-- //container -->

    <!--  결제팝업  -->
    <div class="black-bg-wrap" style="display: none"></div>
    <div class="sch-payment-wrap" style="display: none">
      <div class="sch-payment">
        <!-- <h3 class="sch-pay-h3">스쿨 강의 신청을 시작합니다!</h3> -->
        <h3 class="sch-pay-h3" id="startSchoolTxt">스쿨 강의 신청</h3>
        <h3 class="sch-pay-h3" id="endSchoolTxt" style="display: none">신청이 완료되었습니다!</h3>
        <div class="sch-pay-lect">
          <div class="school-lecture">
            <img
              src="https://www.wadiz.kr/ft/images/green001/2023/0407/20230407101939247_null.jpg"
            />
            <div class="lecture-con">
              <p class="lect-type">
                <span class="lect-type-reward"><i></i>입점설명회</span>
              </p>
              <p class="lect-title">[온라인 Live] 2023년 펀딩 비기너 클래스</p>
              <p class="lect-sub">아직도 와디즈 펀딩 안해보셨다면?</p>
              <p class="lect-info">
                일시 : 05월 11일(목) 오후 3시 ~ 오후 4시
                <br />
                장소 : 유튜브 라이브
              </p>
              <!-- 유료일때 -->

              <p class="lect-result">
                <strong id="frmMemberCnt">1</strong>인 <strong>무료</strong>
              </p>

              <!-- 유료일때 -->
            </div>
          </div>
        </div>

        <!-- 유료일 때 -->
        <!-- step2 수강료 결제 -->
        <div id="schoolForm-2" style="display: none">
          <h4 class="sch-pay-h4">스쿨 신청 과정</h4>

          <p class="point-text">
            "보증금은 강의 참석 후, 영업일 3-5일 이내에 카드 취소처리 되어 환급됩니다. 불참시,
            보증금은 환급되지 않습니다. 신청 취소는 강의일 1일 전인 2015. 02. 14 까지만 가능합니다."
          </p>

          <div class="apply-lect-form">
            <dl>
              <dt>결제수단 선택</dt>
              <dd class="pay-type">
                <label><input type="radio" id="ckPayType" checked="" /> 신용/체크카드</label>
              </dd>
            </dl>
          </div>

          <div class="sch-btn-wrap">
            <button class="btn-pd-indigo mr20" onclick="prevStep()" style="cursor: pointer">
              이전 단계로
            </button>
            <button class="btn-pd-mint" onclick="requestNicepay()" style="cursor: pointer">
              결제 진행
            </button>
          </div>
        </div>
        <!-- //step2 수강료 결제 -->
        <!-- 유료일 때 -->

        <!-- step3 신청완료 -->
        <div id="schoolForm-3" style="display: none">
          <!-- <h4 class="sch-pay-h4">스쿨 신청 과정</h4>
          <div class="sch-pay-step">
            <span class="step-write"><i></i>01 신청서 작성</span><span class="step-link"></span>

           
             <span class="step-finish step-on"><i></i>02 신청완료</span>
          </div> -->

          <div class="comp-text">
            <strong>신청이 완료되었습니다.</strong>
            <p>
              교육 당일 오전, 입력하신 핸드폰 번호로 안내 SMS가 발송됩니다.<br />
              2023년 05월 11일 PM 3시 00분 유튜브 라이브에서 만나요 꼭!
            </p>
          </div>

          <div class="sch-btn-wrap">
            <button class="btn-pd-mint" onclick="completePay()" style="cursor: pointer">
              확인
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="alertify-o-cover" class="alertify-o-cover1" style="display: none"></div>
    <section id="alertify-o" class="alertify-o alertify-o-confirm" style="display: none">
      <article class="alertify-o-inner">
        <p class="alertify-o-message" style="font-size: 15px; padding-top: 2px">
          스쿨 신청을 취소하시겠습니까?
        </p>
        <nav class="alertify-o-buttons">
          <button
            class="alertify-o-button alertify-o-button-cancel"
            id="alertify-o-cancel"
            style="cursor: pointer"
          >
            취소</button
          ><button
            class="alertify-o-button alertify-o-button-ok"
            id="alertify-o-ok"
            style="cursor: pointer"
          >
            확인
          </button>
        </nav>
      </article>
    </section>

    <div id="alertify-o-cover" class="alertify-o-cover2" style="display: none"></div>
    <section id="alertify-o" class="alertify-o alertify-o-alert lastcheck" style="display: none">
      <article class="alertify-o-inner">
        <p class="alertify-o-message" style="font-size: 15px; padding-top: 2px">취소되었습니다.</p>
        <nav class="alertify-o-buttons">
          <button
            class="alertify-o-button alertify-o-button-ok lastok"
            id="alertify-o-ok"
            style="cursor: pointer"
          >
            확인
          </button>
        </nav>
      </article>
    </section>
  </body>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="../../static/js/consult/freeclass-detail.js"></script>

</html>
