<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/f28d5f57bb.js" crossorigin="anonymous"></script>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/mypage/setting/basic-setting.css">
    <link rel="stylesheet" href="/css/mypage/setting/save-password-modal.css">
    <link rel="stylesheet" href="/css/account/login/login.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <title>기본 설정 | 위게더</title>
</head>
<body>
<header th:replace="~{/fix/header :: #header}"></header>

<div id="accountWrap">
    <!-- S : #newContainer -->
    <div id="newContainer">
        <!-- account-wrap -->
        <div class="account-wrap">
            <h2>기본 정보 설정</h2>

            <form id="saveform" th:action="@{/mypage/setting/basic}" method="post" >
<!--                <input type="hidden" name="id" th:value="${memberId}">-->

                <div class="email-input-wrap">
<!--                    <input type="text" name="nickName" class="input-text" maxlength="20" placeholder="닉네임" value="이종문"/>-->
<!--                    <input type="text" name="nickName" class="input-text disable hide" maxlength="20" placeholder="닉네임"-->
<!--                           value="이종문" disabled="" style="display: none"/>-->
                    <div class="input-btn-wrap">
                        <div class="input">
                            <input
                                    name="memberNickname"
                                    type="text"
                                    class="input-text"
                                    placeholder="닉네임"
                                    th:value="${setting.memberNickname}"
                            />
                        </div>

                    </div>
                </div>
<!--                <p id="emailError" class="error-text emailMsg" style="display: none">이메일 형식이 올바르지 않습니다.</p>-->
<!--                <p id="emailJoinedError" class="error-text emailMsg" style="display: none">이미 회원가입된 계정입니다. 다른 이메일을-->
<!--                    입력해주세요.</p>-->
                <p id="emailDropOutError" class="error-text emailMsg" style="display: none">
                    90일 이내에 탈퇴한 이력이 있는 계정은 사용하실 수 없습니다. 다른 이메일을 입력해주세요.
                </p>

                <div class="input-btn-wrap">
                    <div class="input">
                        <input id="mobileNumber" name="memberPhoneNumber" type="text" class="input-text" placeholder="휴대폰 번호"
                               th:value="${setting.memberPhoneNumber}"
                        />
                    </div>


                </div>
                <div class="email-input-wrap small">
                    <div class="btn-wrap">
                        <button type="submit" id="saveBtn" class="wz button primary block btn-block-mint">변경</button>
                    </div>
                </div>
            </form>
                <p id="phoneError" class="error-text emailMsg" style="display: none">휴대폰 번호 형식이 올바르지 않습니다.</p>
                <p class="sns-text-wrap">
                    <strong class="sns-text">SNS 연동</strong>
                    <br>
                    카카오를 연동하시면 피드에서 친구의 활동을 확인할 수 있어요</p>
                <div>
                    <button
                            class="kakao-button Button_button__3MO4n Button_lg__D7OVb Button_block__3npc4 SNSButtonList_kakaoButton__2lTDs SNSButtonList_spacer__38ac5"
                            type="button" th:onclick="@{/login}"
                    >
                    <span
                    ><span class="Button_children__raEW4"
                    ><svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__2KxnX SNSButtonList_kakaoIcon__1s6gw"
                            aria-hidden="true"
                    >
                          <path
                                  d="M16 4.64c-6.96 0-12.64 4.48-12.64 10.08 0 3.52 2.32 6.64 5.76 8.48l-.96 4.96 5.44-3.6 2.4.16c6.96 0 12.64-4.48 12.64-10.08S22.96 4.56 16 4.64z"
                          ></path></svg
                    >카카오 연동하기</span
                    ></span
                    ></button
                    >
                    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=token&amp;client_id=yPLfiIWc1PIqc4_vQtH5&amp;redirect_uri=http%3A%2F%2Flocalhost%3A10000%2Faccounts%2Fnaver-login&amp;state=ec590b74-1b80-4d2f-8d1f-479e00d36538" id="naver_id_login_anchor">

                    <button
                            class="Button_button__3MO4n Button_lg__D7OVb Button_block__3npc4 SNSButtonList_naverButton__1rzZ_ SNSButtonList_spacer__38ac5"
                            type="button"
                    <span
                    ><span class="Button_children__raEW4"
                    ><svg
                            viewBox="0 0 32 32"
                            focusable="false"
                            role="presentation"
                            class="withIcon_icon__2KxnX SNSButtonList_naverIcon__3TjPM"
                            aria-hidden="true"
                    >
                          <path
                                  d="M19.52 5.76v10.32L12.48 5.76H4.8v20.48h7.68V15.92l7.12 10.32h7.6V5.76z"
                          ></path></svg
                    >네이버 연동하기</span
                    ></span
                    >
                    </button>
                    </a>
                </div>
                <!--  <div class="social-account-wrap">
                    <ul>
                      <li class="facebook">
                        <a href="#" id="facebookLink" class="unlinked"><img src="../image/facebook.png" alt="" style="width: 32px; margin-top: 4px" /></a>
                      </li>
                      <li class="naver">
                        <a href="#" id="naverLink" class="unlinked"><img src="../image/naver.png" alt="" style="width: 35px; margin-top: 4px" /></a>
                      </li>
                      <li class="kakao">
                        <a href="#" id="kakaoLink" class="unlinked"><img src="../image/kakao.png" style="width: 30px; margin-top: 7px" alt="" /></a>
                      </li>
                      <li class="google">
                        <a href="#" id="googleLink" class="unlinked"><img src="../image/google.png" alt="" style="width: 30px; margin-top: 5px" /></a>
                      </li>
                    </ul>
                  </div>-->
<!--                <div class="email-input-wrap small">-->
<!--                    <div class="btn-wrap">-->
<!--                        <button type="submit" id="saveBtn" class="wz button primary block btn-block-mint">변경</button>-->
<!--                    </div>-->
<!--                </div>-->
        </div>
        <input type="hidden" id="validEmailFirstCheck" value="Y"/>
        <input type="hidden" id="validEmail" value="1"/>





    </div>
    <!-- //account-wrap -->
</div>
<!-- E : #newContainer -->
</div>
<div id="alertify-o-cover" class="alertify-o-cover" style="display: none;"></div>
<section id="alertify-o" class="alertify-o alertify-o-alert" style="display: none;">
    <article class="alertify-o-inner">
        <p class="alertify-o-message" style="font-size: 15px; padding-top: 2px">저장되었습니다.</p>
        <nav class="alertify-o-buttons">
            <button class="alertify-o-button alertify-o-button-ok" id="alertify-o-ok">확인</button>
        </nav>
    </article>
</section>
<footer th:replace="~{/fix/footer :: #footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/mypage/setting/basic-setting.js"></script>
<script type="text/javascript">
    var naver_id_login = new naver_id_login("yPLfiIWc1PIqc4_vQtH5", "http://localhost:10000/accounts/naver-login");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("green", 5, 40);
    naver_id_login.setDomain("http://localhost:10000");
    naver_id_login.setState(state);
    naver_id_login.init_naver_id_login();
</script>
<script th:inline="javascript">
    let setting = [[${setting}]];
    // let Id=[[${memberId}]];
    console.log(setting);
    // console.log(memberId);
</script>
</html>
