<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/mypage/setting/check-password.css">
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/mypage/setting/check-password-modal.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">


    <title>비밀번호 확인 | 위게더</title>
  </head>
  <header th:replace="~{/fix/header :: #header}"></header>
  <body>
    <div id="accountWrap">
      <!-- S : #newContainer -->
      <div id="newContainer">
        <!-- account-wrap -->
        <div class="account-wrap">
          <h2 class="small">비밀번호 확인</h2>
          <div class="email-input-wrap">
            <form id="saveForm" method="post" action="/web/waccount/wAccountUpdateBasicInfo">
              <input
                type="password"
                id="password"
                name="password"
                class="input-text"
                placeholder="현재 비밀번호"
              />
              <a
                style="
                  display: block;
                  width: 100%;
                  text-align: right;
                  color: #212529;
                  margin-bottom: 60px;
                  text-decoration: underline;
                "
                href="/web/waccount/find/pwd"
                >비밀번호 찾기</a
              >
              <div class="email-input-wrap small">
                <div class="btn-wrap smaller">
                  <button id="submitButton" type="button" class="wz button primary block">
                    확인
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- E : #newContainer -->
    </div>
    <div id="alertify-o-cover" class="alertify-o-cover modalBack" style="display: none"></div>

    <section id="alertify-o" class="alertify-o alertify-o-alert modal" style="display: none">
      <a id="alertify-o-resetFocusBack" class="alertify-o-resetFocus" href="#">Reset Focus</a>
      <article class="alertify-o-inner">
        <p class="alertify-o-message" style="font-size: 15px; padding-top: 2px">
          비밀번호가 일치하지 않습니다.
        </p>
        <nav class="alertify-o-buttons">
          <button class="alertify-o-button alertify-o-button-ok" id="alertify-o-ok">확인</button>
        </nav>
      </article>
      <a id="alertify-o-resetFocus" class="alertify-o-resetFocus" href="#">Reset Focus</a>
    </section>
    <footer th:replace="~{/fix/footer :: #footer}"></footer>

  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script th:inline="javascript">
    let member=[[${member}]];
    console.log(member);
  </script>
  <script src="/js/mypage/setting/check-password.js"></script>


</html>
