<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../my-page/mypage.css" />
    <link rel="stylesheet" href="../setting/check-password.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="accountWrap">
      <!-- S : #newContainer -->
      <div id="newContainer">
        <!-- account-wrap -->
        <div class="account-wrap">
          <h2 class="small">비밀번호 확인</h2>
          <div class="email-input-wrap">
            <form id="saveForm" method="post" action="/web/waccount/wAccountUpdateBasicInfo">
              <input
                type="password"
                id="password"
                name="password"
                class="input-text"
                placeholder="현재 비밀번호"
              />
              <a
                style="
                  display: block;
                  width: 100%;
                  text-align: right;
                  color: #212529;
                  margin-bottom: 60px;
                  text-decoration: underline;
                "
                href="/web/waccount/find/pwd"
                >비밀번호 찾기</a
              >
              <div class="email-input-wrap small">
                <div class="btn-wrap smaller">
                  <button id="submitButton" type="submit" class="wz button primary block">
                    확인
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- E : #newContainer -->
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    const $input = $('input[type=password]');

    $input.on('focus', function () {
      $(this).css('border', '1px solid #50e3c2');
    });
    $input.on('blur', function () {
      $(this).css('border', '1px solid #e4e4e4');
    });
  </script>
</html>
