<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>기본 정보 수정</title>
    <link rel="stylesheet" href="/css/mypage/UpdateBasicInfo.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/header/headerking.css">
    <link rel="stylesheet" href="/css/header/headerMedia.css">
</head>
<body>
<div id="page-container">

    <div id="accountWrap">
        <div id="newContainer">
            <div class="account-wrap">
                <h2>기본 정보 설정</h2>
                <form id="saveForm">
                    <div id="waccountContainer">
                        <div id="tabContent1" class="tab-content">
                            <h5>프로필 사진</h5>
                            <div class="profileimg-wrap">
                                <!-- <button type="button" id="resultProfileImg profile_image" class="profileimg" src="기존_프로필_이미지.jpg" alt="프로필 이미지"><em
                                         style="background-image:url(https://www.wadiz.kr/wwwwadiz/green001/sns_profile_pics/20230510032032299_2782810566.jpg)"></em>
                                 </button>-->
                                <img id="profile_image"  class="profileimg"  style="background-image:url(https://d2v80xjmx68n4w.cloudfront.net/assets/icon/mykmong-profile-default@3x.png
)">
                                <p class="setting-profileimg">
                                    <input type="file" id="file_input" style="display: none;">
                                    <button type="button" id="btn_updatePhoto">
                                        <span>바꾸기</span>
                                    </button>
                                    <button type="button" id="btn_deletePhoto">삭제</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="email-input-wrap">
                        <input type="text" name="realName" class="input-text disable hide" maxlength="20"
                               placeholder="이름" value="" disabled="" style="display: none;">
                        <div class="input-btn-wrap">
                            <div class="input">
                                <input type="email" id="userName" name="userName" class="disable input-text"
                                       placeholder="이메일 계정" value="cbg050430@gmail.com" disabled/>
                            </div>
                            <div id="emailChangeBtn" class="emailAuthBtn btn" data-status="change">
                                <a href="#" onclick="return false;">
                                    <span>변경</span>
                                </a>
                            </div>
                            <div id="emailCheckBtn" class="emailAuthBtn btn" style="display:none;" data-status="check">
                                <a href="#" onclick="return false;">
                                    <span>인증하기</span>
                                </a>
                            </div>
                            <div id="emailRetryBtn" class="emailAuthBtn btn" style="display:none;" data-status="retry">
                                <a href="#" onclick="return false;">
                                    <span>재전송</span>
                                </a>
                            </div>
                        </div>
                        <div id="emailConfirmArea" class="input-btn-wrap" style="display:none;">
                            <div class="input">
                                <input type="text" id="emailAuthCode" class="input-text" placeholder="인증번호">
                                <input type="hidden" id="emailConfirmId" value="5947884">
                                <time class="limit_time" style="position:relative;top:-39px;left:85%;text-align:right;">
                                    <span id="emailMs_timer" style="color:#50e3c2;font-size:13px;"></span>
                                </time>
                            </div>
                            <div id="emailConfirmBtn" class="emailAuthBtn btn" data-status="confirm">
                                <a href="#" onclick="return false;">
                                    <span>인증완료</span>
                                </a>
                            </div>
                        </div>
                        <p id="emailCheckNumberError" class="error-text emailMsg" style="display: none;">인증번호를 잘못
                            입력하셨습니다.
                            다시 입력해주세요.</p>
                        <p id="emailTimeOutTokenError" class="error-text emailMsg" style="display: none;">기간이 만료된
                            인증번호입니다.
                            다시 입력해주세요.</p>
                        <p id="emailTimeOutError" class="error-text emailMsg" style="display: none;">시간이 종료되었습니다. 다시
                            인증해주세요.</p>
                        <p id="emailSuccessNumberCheckMsg" class="error-text emailMsg"
                           style="color: rgb(80, 227, 194); display: none;">인증이 완료되었습니다.</p>
                        <p id="emailError" class="error-text emailMsg">이메일 형식이 올바르지 않습니다.</p>
                        <p id="emailJoinedError" class="error-text emailMsg" style="display: none;">이미 회원가입된 계정입니다. 다른
                            이메일을
                            입력해주세요.</p>
                        <p id="emailDropOutError" class="error-text emailMsg" style="display: none;">90일 이내에 탈퇴한 이력이 있는
                            계정은
                            사용하실 수 없습니다. 다른 이메일을 입력해주세요.</p>
                        <p id="checkEmailInfo" class="info-text emailMsg" style="display: none;">이메일 인증이 필요합니다.</p>
                        <p id="changeEmailInfo" class="info-text emailMsg">로그인 아이디와 안내 메일 발송 주소가
                            변경됩니다.</p>
                        <p id="sendEmailInfo" class="info-text emailMsg" style="display: none;">인증메일이 발송되었습니다.</p>


                        <div class="input-btn-wrap">
                            <div class="input">
                                <input id="mobileNumber" name="mobileNumber" type="tel" class="disable input-text"
                                       placeholder="휴대폰 번호" value="01033006909" disabled="">
                            </div>
                            <div id="mobileCheckBtn" class="mobileAuthBtn btn" style="display:none;"
                                 data-status="check">
                                <a href="#" onclick="return false;">
                                    <span>인증하기</span>
                                </a>
                            </div>
                            <div id="mobileChangeBtn" class="mobileAuthBtn btn" data-status="change">
                                <a href="#" onclick="return false;">
                                    <span>변경</span>
                                </a>
                            </div>
                            <div id="mobileRetryBtn" class="mobileAuthBtn btn" style="display:none;"
                                 data-status="retry">
                                <a href="#" onclick="return false;">
                                    <span>재전송</span>
                                </a>
                            </div>
                        </div>

                        <div id="mobileConfirmArea" class="input-btn-wrap" style="display:none;">

                            <div class="input">
                                <input type="text" id="authCode" class="input-text" placeholder="인증번호">
                                <input type="hidden" id="confirmId" value="">
                                <time class="limit_time" style="position:relative;top:-39px;left:85%;text-align:right;">
                                    <span id="smsMs_timer" style="color:#50e3c2;font-size:13px;"></span>
                                </time>
                            </div>

                            <div id="confirmMobileBtn" class="mobileAuthBtn btn" data-status="confirm">
                                <a href="#" onclick="return false;">
                                    <span>인증완료</span>
                                </a>
                            </div>
                        </div>

                        <div class="email-input-wrap small">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/mypage/UpdateBasicInfo.js"></script>

<script>
    $(function(){
//휴대폰 번호 인증var code2 = "";
        $("#phoneChk").click(function(){
            alert('인증번호 발송이 완료되었습니다.\n휴대폰에서 인증번호 확인을 해주십시오.');

            var phone = $("#phoneNumber").val();

            $.ajax({
                type:"POST", // post 형식으로 발송
                url:"/shop/member/sendSMS1.do", // controller 위치
                data: {phoneNumber:phone}, // 전송할 ㅔ이터값
                cache : false,
                success:function(data){
                    if(data == "error"){ //실패시
                        alert("휴대폰 번호가 올바르지 않습니다.")
                    }else{            //성공시
                        alert("휴대폰 전송이  됨.")
                        code2 = data; // 성공하면 데이터저장
                    }
                }

            });
        });



//휴대폰 인증번호 대조
        $("#phoneChk2").click(function(){
            if($("#phone2").val() == code2){ // 위에서 저장한값을 ㅣ교함
                alert('인증성공')
            }else{
                alert('인증실패')
            }
        });

</script>
</html>