<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../setting/profile.css" />
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/mypage/setting/profile.css">
    <title>프로필 | 위게더</title>
  </head>
  <body>
    <div id="wadizContainer">
      <div id="mypageWrap">
        <div class="myprofile-wrap">
          <link rel="stylesheet" href="https://static.wadiz.kr/static/iam/main.c002b11e.css" />

          <div
            id="iam-supporter-profile-app"
            data-profile-image="https://static.wadiz.kr/assets/icon/profile-icon-6.png"
            data-nickname="이종문"
            data-accnttype-name="개인 회원"
            data-is-valid-joined-premium-membership="false"
            data-my-self="true"
            data-my-funding-all-count="0"
            data-signature-cnt="0"
            data-follower-cnt="0"
            data-following-cnt="0"
            data-target-enc-user-id=""
            data-target-user-id="6319649"
            data-introduceme="안녕"
            data-is-following="false"
            data-my-interest-user-keyword="교육∙키즈,패션∙잡화∙뷰티,홈리빙∙디자인소품,공연∙컬쳐,스포츠∙모빌리티,"
          >
            <section class="SupporterProfile_supporterProfile__2JfLr">
              <div class="SupporterProfile_inner__1C7Nk">
                <h3 class="BlindText_textHidden__1hxwL"></h3>
                <div
                  aria-hidden="true"
                  class="Avatar_avatar__LZmeH Avatar_lg__3QvPi SupporterProfileInfo_avatar__38dOD"
                >
                  <span
                    class="Avatar_hasImage__1330D"
                    style="
                      background-image: url('https://static.wadiz.kr/assets/icon/profile-icon-6.png');
                    "
                  ></span>
                </div>
                <div class="SupporterProfileInfo_supporterInfo__1y5hr">
                  <dl class="SupporterProfileInfo_infoBox__19gDw" aria-label="서포터 정보">
                    <dt class="BlindText_textHidden__1hxwL">서포터 닉네임</dt>
                    <dd class="SupporterProfileInfo_nickname__wbBbS">이종문</dd>
                    <dt class="BlindText_textHidden__1hxwL">회원유형</dt>
                    <dd class="SupporterProfileInfo_accntTypeName__1yp6P">개인 회원</dd>
                  </dl>
                  <strong class="BlindText_textHidden__1hxwL">관심 카테고리</strong>
                  <ul class="SupporterProfileInterestKeyword_interestList__2F6Wl">
                    <li>#교육∙키즈</li>
                    <li>#패션∙잡화∙뷰티</li>
                    <li>#홈리빙∙디자인소품</li>
                    <li>#공연∙컬쳐</li>
                    <li>#스포츠∙모빌리티</li>
                  </ul>
                  <p aria-label="서포터 소개" class="SupporterProfileInfo_introduce__3cZ96">안녕</p>
                  <dl class="SupporterProfileActivityInfo_infoCountBox__lSxat">
                    <div>
                      <dt>참여 프로젝트</dt>
                      <dd>0<span class="BlindText_textHidden__1hxwL">회</span></dd>
                    </div>
                    <div>
                      <dt>게시글</dt>
                      <dd>0<span class="BlindText_textHidden__1hxwL">회</span></dd>
                    </div>
                    <!--            <div>
                      <dt>팔로워</dt>
                      <dd>
                        0<span class="BlindText_textHidden__1hxwL">명</span
                        ><a href="/web/social/follower"><span class="BlindText_textHidden__1hxwL">상세 페이지</span></a>
                      </dd>
                    </div>
                    <div>
                      <dt>팔로잉</dt>
                      <dd>
                        0<span class="BlindText_textHidden__1hxwL">명</span
                        ><a href="/web/social/followingsupporter"><span class="BlindText_textHidden__1hxwL">상세 페이지</span></a>
                      </dd>
                    </div> -->
                  </dl>
                </div>
                <a
                  href="/web/wmypage/myprofile/modifyprofile"
                  class="Button_button__3MO4n Button_md__3TvVa Button_block__3npc4 SupporterProfileInfoCTAButton_button__2aV08"
                  ><span><span class="Button_children__raEW4">프로필 편집</span></span></a
                >
              </div>
            </section>
          </div>

          <div class="mypage-project bg">
            <div class="tab-list">
              <ul role="tablist">
                <li class="active">
                  <a
                    href="/web/wmypage/myprofile/fundinglist/"
                    role="tab"
                    aria-selected="true"
                    aria-controls="tabFunding"
                    tabindex="0"
                    >참여한</a
                  >
                </li>
                <li>
                  <a href="/web/wmypage/myprofile/likelist/" role="tab" tabindex="-1">찜한</a>
                </li>
              </ul>
            </div>
            <div class="project-list" id="tabFunding" tabindex="0">
              <div class="top-area">
                <p id="fundingInfoMessage" class="status-text fundingCount" style="display: none">
                  공개로 참여한 프로젝트입니다.
                </p>
              </div>

              <div id="projectCardList" class="card-list">
                <!-- 없을때 -->
                <!--      <p id="emptyProjectText" style="display: block">공개로 참여한 프로젝트가 없습니다.</p> -->
                <ul>
                  <!-- S : 리워드 리스트 -->
                  <li
                    class="reward"
                    data-hiddentype="L"
                    data-campaintype="RWD"
                    data-campaignid="199851"
                    data-campaignhiddenseq="0"
                  >
                    <div class="visibility-control">
                      <button type="button" class="btn-more">
                        <i class="wadizicon wa-more-vert"></i>
                      </button>
                      <button type="button" class="btn-control hide">숨김</button>
                      <button type="button" class="btn-control show">숨김취소</button>
                    </div>

                    <a href="/web/campaign/detail/199851">
                      <div class="project-card">
                        <div class="card-img-section">
                          <em
                            class="project-img"
                            style="
                              background-image: url(https://cdn.wadiz.kr/wwwwadiz/green001/2023/0421/20230421110130549_199851.jpg/wadiz/format/jpg/quality/80);
                            "
                          ></em>
                          <div class="progressbar-wrap">
                            <dl>
                              <dt><span style="width: 1986%"></span></dt>
                              <dd>
                                <span class="percent">1,986%</span>
                                <span class="amount">19,863,800원 달성</span>

                                <span class="days"> 8일 남음 </span>
                              </dd>
                            </dl>
                          </div>
                        </div>
                        <div class="card-info-section">
                          <h4>하나만 먹어도 단백질 20g충전! 드디어 구현해낸 속세의 맛, 속세케익</h4>
                          <h5>나믹스튜디오 주식회사</h5>

                          <div class="card-category">
                            <span class="category1">푸드</span>
                            <span class="category2">성공해야 리워드</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!--  // .card-list -->
            </div>
          </div>
          <!-- // .myprofile-project -->
        </div>
      </div>
    </div>
  </body>
</html>
