<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 저장 모달</title>
    <link rel="stylesheet" href="../../../static/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="../../../static/css/mypage/setting/save-password-modal.css">
  </head>
  <body>
    <div id="alertify-o-cover" class="alertify-o-cover"></div>
    <section id="alertify-o" class="alertify-o alertify-o-alert">
      <article class="alertify-o-inner">
        <p class="alertify-o-message" style="font-size: 15px; padding-top: 2px">저장되었습니다.</p>
        <nav class="alertify-o-buttons">
          <button class="alertify-o-button alertify-o-button-ok" id="alertify-o-ok">확인</button>
        </nav>
      </article>
    </section>
  </body>
</html>
