<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>설정 | 위게더</title>
    <link rel="stylesheet" href="/css/mypage/setting/setting.css">
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">

    <title>문의 등록 | 위게더</title>
  </head>
  <header th:replace="~{/fix/header :: #header}"></header>
  <body>
    <div id="accountWrap">
      <!-- S : #newContainer -->
      <div id="newContainer">
        <!-- account-wrap with-footer -->
        <div class="account-wrap with-footer">
          <h2 class="big">MY 정보설정</h2>
          <a class="my-info" id="basicInfoUpdateLink" href="/mypage/setting/basic-setting">
            <div class="my-info-text">
              <h3>기본 정보 설정</h3>
              <p>이름, 이메일, 휴대폰, SNS연동 등</p>
            </div>
            <div class="my-info-btn">
              <i class="wadizicon wa-chevron-right"></i>
            </div>
          </a>

          <a class="my-info" href="/mypage/setting/check-password">
            <div class="my-info-text">
              <h3>비밀번호 설정</h3>
              <p>비밀번호 재설정</p>
            </div>
            <div class="my-info-btn">
              <i class="wadizicon wa-chevron-right"></i>
            </div>
          </a>

          <a class="my-info" href="/mypage/setting/set-profile">
            <div class="my-info-text">
              <h3>프로필 정보 설정</h3>
              <p>프로필 사진, 경력, 학력, 관심분야</p>
            </div>
            <div class="my-info-btn">
              <i class="wadizicon wa-chevron-right"></i>
            </div>
          </a>
          <a class="my-info" href="/web/waccount/notificationSetting/fundingNews">
            <div class="my-info-text">
              <h3>새소식 알림 설정</h3>
              <p>프로젝트 별 새소식(메일, 앱 푸시) 수신</p>
            </div>
            <div class="my-info-btn">
              <i class="wadizicon wa-chevron-right"></i>
            </div>
          </a>
          <div class="my-info">
            <h3><a href="/mypage/setting/member-secession">회원 탈퇴</a></h3>
          </div>
        </div>
        <!-- //account-wrap with-footer -->
      </div>
      <!-- E : #newContainer -->
    </div>
    <footer th:replace="~{/fix/footer :: #footer}"></footer>

  </body>
</html>
