<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 재설정 | 위게더</title>
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/mypage/setting/setting-password.css">
  </head>
  <header th:replace="~{/fix/header :: #header}"></header>
  <body>
    <div id="accountWrap">
      <!-- S : #newContainer -->
      <div id="newContainer">
        <!-- account-wrap -->
        <div class="account-wrap">
          <h2 class="small">비밀번호 설정</h2>
          <div class="email-input-wrap">
            <form id="saveform" th:action="@{/mypage/setting/setting-password}" method="post" th:object="${memberVO}">
              <input type="hidden" name="id" th:value="${id}">

              <input
                type="password"
                id="oldPassword"
                name="oldPassword"
                class="input-text valid"
                placeholder="현재 비밀번호"
                aria-required="true"
                aria-invalid="false"
                aria-describedby="oldPassword-error"

              />
              <p id="oldPassword-error" class="error error-text" style="display: none">
                현재 비밀번호를 입력해 주세요.
              </p>
              <p id="oldPasswordError" class="error-text" style="display: none">
                현재 비밀번호가 일치 하지 않습니다.
              </p>

              <input
                type="password"
                class="input-text error"
                th:field="*{memberPassword}"
                placeholder="새 비밀번호"
                maxlength="17"
                aria-autocomplete="list"
                aria-required="true"
                aria-describedby="newPassword-error"
                aria-invalid="true"
              />
              <p id="newPassword-error" class="error error-text" style="display: none">
                비밀번호는 최소 8자리 이상입니다.
              </p>
              <p id="passwordError" class="pwd-text" style="color: #4a4a4a">
                영문, 숫자, 특수문자 (!@#$%^&amp;*+=-)를 모두 조합한 8자 이상
              </p>
              <input
                type="password"
                id="newPasswordConfirm"
                name="newPasswordConfirm"
                class="input-text error"
                placeholder="새 비밀번호 확인"
                maxlength="17"
                aria-required="true"
                aria-describedby="newPasswordConfirm-error"
                aria-invalid="true"
              />
              <p id="newPasswordConfirm-error" class="error error-text" style="display: none">
                비밀번호는 최소 8자리 이상입니다.
              </p>
              <p class="error-text, error not-same" style="display: none">
                비밀번호가 같지 않습니다.
              </p>
              <div class="email-input-wrap small">
                <div class="btn-wrap smaller">
                  <button id="saveBtn" type="button" class="wz button primary block">확인</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- E : #newContainer -->
    </div>
  </body>



  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script th:inline="javascript">
    let member=[[${member}]];
    console.log(member);
  </script>
  <script src="/js/mypage/setting/setting-password.js"></script>
</html>
