* {
    padding: 0;
    margin: 0;
}

label,
button {
    cursor: pointer;
}

.is-hidden {
    display: none !important;
}

.is-block {
    display: block !important;
}

.is-inline-block {
    display: inline-block !important;
}

.is-flex {
    display: flex !important;
}

.is-align-center {
    text-align: center;
}

.is-flex-align-center {
    justify-content: center !important;
}

.is-flex-align-left {
    justify-content: left !important;
}

.is-flex-align-right {
    justify-content: right !important;
}

.is-flex-align-around {
    justify-content:space-around !important;
}

.is-flex-align-between {
    justify-content:space-between !important;
}

.is-flex-align-evenly {
    justify-content:space-evenly !important;
}

td.is_inactive>hr {
    border-bottom: 4px solid gray !important;
}

td.is_active>hr {
    border-bottom: 4px solid green !important;
}

td.is_warning>hr {
    border-bottom: 4px solid rgb(255, 48, 25) !important;
}

div#paging-wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.pages {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1rem;
}

a.paging {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

a.paging-checked {
    color: #0c48dc;
    font-weight: 700;
}

a.paging-move {
    margin: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

a.side-bar-color {
    text-decoration: none;
    color: #e0e0e0
;
}