.AppLayout_container__3zbzb .AppLayout_main__14bCi .AppLayout_contents__wv3DF {
    position: relative;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.FundingContainer_wrapper__3FtZE {
    padding: 40px 66px;
}

.MouseOverGuide_container__3jDBz {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.MouseOverGuide_container__3jDBz .MouseOverGuide_contents__APrXG {
    -ms-flex: 1 1;
    flex: 1 1;
    max-width: 850px;
}

.FundingContainer_wrapper__3FtZE .FundingContainer_mobileNotValid__2y7du {
    margin: 0 16px 24px;
    border: 1px solid #f0f2f5;
    border-radius: 3px;
    background-color: #f5f7fa;
    padding: 16px;
    max-width: 850px;
    color: #495057;
    font-size: 15px;
}

.FundingContainer_wrapper__3FtZE .FundingContainer_mobileNotValid__2y7du {
    margin: 0 0 24px;
}

.FundingContainer_wrapper__3FtZE .FundingContainer_mobileNotValid__2y7du strong {
    font-weight: 700;
}

.FundingContainer_wrapper__3FtZE
.FundingContainer_mobileNotValid__2y7du
.FundingContainer_btnWrapper__m1fpH {
    margin-top: 0;
    text-align: right;
}

/* title */
.FundingHeader_container__2vEbt {
    padding: 0 16px;
    color: #000;
}

.FundingHeader_container__2vEbt {
    padding: 0;
}

.FundingHeader_container__2vEbt .FundingHeader_title__19M9i {
    margin: 0 0 16px;
    line-height: 1;
    font-size: 28px;
    font-weight: 700;
}

.FundingHeader_container__2vEbt .FundingHeader_title__19M9i {
    line-height: 44px;
    font-size: 36px;
}

.FundingHeader_container__2vEbt .FundingHeader_description__1vRHW {
    margin-bottom: 32px;
    line-height: 24px;
    color: #495057;
    font-size: 17px;
}

.FundingHeader_container__2vEbt .FundingHeader_description__1vRHW {
    margin: 0 0 32px;
}

/* contents */
.FundingLayout_container___Cixh {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.FundingLayout_container___Cixh .FundingLayout_contents__12sTn {
    -ms-flex: 1 1;
    flex: 1 1;
    max-width: 850px;
}

.FundingStatus_container__3bqGB {
    margin: 0 16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    color: rgba(0, 0, 0, 0.84);
    font-size: 15px;
}

.FundingStatus_container__3bqGB {
    margin: 0 0 16px;
    padding: 16px 32px;
}

.FundingStatus_container__3bqGB .FundingStatus_label__393mk {
    position: relative;
    margin-bottom: 6px;
}

.FundingStatus_container__3bqGB .FundingStatus_label__393mk .FundingStatus_link__3Dz78 {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
}

.FundingStatus_container__3bqGB .FundingStatus_statusView__D10Ag {
    margin-top: 3px;
    color: #495057;
}

.FundingStatus_container__3bqGB .FundingStatus_statusView__D10Ag {
    margin-top: 3px;
    color: #495057;
}

.FundingStatus_container__3bqGB .FundingStatus_statusView__D10Ag .FundingStatus_icon__1Xrqx.yellow {
    background-color: #ffad15;
}

.FundingStatus_container__3bqGB .FundingStatus_statusView__D10Ag .FundingStatus_icon__1Xrqx {
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.FundingStatus_container__3bqGB .FundingStatus_guide__37jtT {
    padding-left: 14px;
    line-height: 1.67;
    letter-spacing: -0.3px;
    color: #495057;
    font-size: 12px;
}

/* project  */
.FundingContainer_listContainer__1jw_z {
    margin-top: 32px;
}

.PageMenuList_card__1VyAW.PageMenuList_wadizColor__3nQuN {
    border-left-color: #00b2b2;
}

.PageMenuList_card__1VyAW {
    display: block;
    margin-bottom: 16px;
    border: 1px solid #e9ecef;
    border-left-width: 6px;
    border-radius: 3px;
    padding: 16px 32px;
    line-height: 1;
    color: #000;
    font-size: 19px;
}

.PageMenuList_card__1VyAW .PageMenuList_container__1xz-L {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.PageMenuList_card__1VyAW .PageMenuList_name__2nKKm {
    margin-right: 16px;
    font-weight: 700;
}

.PageMenuList_card__1VyAW .PageMenuList_status__3M6fF.PageMenuList_wadizColor__3nQuN {
    color: #00b2b2;
}

.PageMenuList_card__1VyAW .PageMenuList_status__3M6fF {
    font-size: 12px;
    font-weight: 500;
}

.PageMenuList_card__1VyAW .PageMenuList_buttonWrapper__3PXAt {
    margin-left: auto;
}

.wz.button {
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    padding: 0 1.41176em;
    height: 48px;
    vertical-align: middle;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
    font-size: 17px;
    font-weight: 400;
    box-sizing: border-box !important;
    display: inline-block;
    padding-top: 0.07em;
    text-decoration: none;
}

.FundingSubmit_container__3kwkh {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 -1px 1px 0 hsla(0, 0%, 79.2%, 0.5);
    background-color: #fff;
}

.FundingSubmit_container__3kwkh {
    position: relative;
    box-shadow: none;
    background-color: #fff;
}

.wz.button.primary,
.wz.button.primary-outline {
    border-color: #00c4c4;
}

.wz.button.primary:disabled {
    color: hsla(0, 0%, 100%, 0.7);
}

/* right content */
.FundingLayout_container___Cixh .FundingLayout_guideWrapper__3ad2H {
    display: block;
    position: relative;
}

.BannerLinkButton_container__3MHMT {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
    cursor: pointer;
}

.FundingLayout_container___Cixh .FundingLayout_guideWrapper__3ad2H > button {
    margin-bottom: 16px;
}

.BannerLinkButton_container__3MHMT .BannerLinkButton_icon__UDYk2 {
    position: relative;
    margin-right: 16px;
    border-radius: 8px;
    background-color: #f9fafb;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
}

.BannerGuide_guideIcon__1bhqD {
    display: inline-block;
    background: url(https://static.wadiz.kr/studio/funding/static/media/icon-guide.ffa68575.svg) 0 0 no-repeat;
    background-position: 50%;
    background-size: 24px 24px;
    width: 40px;
    height: 40px;
}

.BannerLinkButton_container__3MHMT .BannerLinkButton_content__BzS52 .BannerLinkButton_title__rE4Eg {
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 500;
    color: #adb5bd;
}

.BannerLinkButton_container__3MHMT
.BannerLinkButton_content__BzS52
.BannerLinkButton_description__yl6rf {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-size: 16px;
    font-weight: 700;
    color: #212529;
}

/* 반응형 */
@media (max-width: 959px) {
    .FundingContainer_wrapper__3FtZE {
        padding: 0 16px;
    }

    .ChannelTalk_container__3OcHU {
        display: none;
    }

    .PageMenuList_card__1VyAW {
        display: block;
        margin-bottom: 16px;
        border: 1px solid #e9ecef;
        border-left-width: 6px;
        border-radius: 3px;
        padding: 16px 20px;
        line-height: 1;
        color: #000;
        font-size: 19px;
    }
}

@media screen and (min-width: 960px) {
}
