<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의내역 | 위게더</title>
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="/css/mypage/inquiry/inquiry-detail.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">

  </head>

  <header th:replace="~{/fix/header :: #header}"></header>
  <body>
    <div class="Community_contentWrapper__2tclW">
      <div class="RatingFaq_container__1uVo5">
        <div class="RatingFaq_title__EK2eZ">
          <p class="RatingFaq_info__3DGAB" th:text="${member.memberName}+ '님 안녕하세요'"></p>
          <p><br /> 위게더 서비스에 대해<strong>&nbsp궁금한 사항</strong>이 있다면,<br />
            <strong>문의를 남겨주세요</strong></p>

        </div>
        <div class="RatingFaq_question__2H7l7">
          <h2 class="inquiry-title">문의 내역</h2>
        </div>
        <div class="RatingFaq_wrapper__1NK4g">
          <div class="RewardFaqList_faqList__1FDhJ">
            <th:block th:each="inquiry : ${inquiry}">
              <div class="RewardFaqItem_faqItem__2qbzt">
                <div class="RewardFaqItem_title__2ryy1">
                  <span th:text="${inquiry.inquiryTitle}"></span><i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>문의 내용</strong><br />
                  <span th:text="${inquiry.inquiryContent}"></span>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>답변</strong><br/>
                  <span th:text="${inquiry.answerContent}"></span>
                  <span th:if="${inquiry.answerContent==null}">아직 답변이 등록되지 않았습니다.</span>
                </div>
              </div>
            </th:block>

            <div class="RewardFaqList_helpCenterWrap__3RByl">
              <p>더 궁금한 사항이 있다면?</p>
              <div class="RewardFaqList_helpCenterButtons__1ZhAd">
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="/mypage/inquiry/inquiry-register"
                  class="Button_button__2FuOU Button_primary__2mZni Button_contained__2SIAT Button_sm__16X6h"
                  ><span><span class="Button_children__ilFun">위게더에 문의하기</span></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="~{/fix/footer :: #footer}"></footer>

  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    const $lists = $('.RewardFaqItem_faqItem__2qbzt ');

    $lists.on('click', function () {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });
  </script>
</html>
