<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의내역 | 위게더</title>
    <link rel="stylesheet" href="../../../static/css/mypage/my-page/mypage.css">
    <link rel="stylesheet" href="../../../static/css/mypage/inquiry/inquiry-detail.css">
  </head>
  <body>
    <div class="Community_contentWrapper__2tclW">
      <div class="RatingFaq_container__1uVo5">
        <div class="RatingFaq_title__EK2eZ">
          <p class="RatingFaq_info__3DGAB">
            000님!<br />처음 <strong>000의 열정과 가치에 공감</strong>해주셨듯,<br />마지막까지
            <strong>위게더 회원님들을 응원</strong>해주세요.
          </p>
        </div>
        <div class="RatingFaq_question__2H7l7">
          <h2 class="inquiry-title">문의 내역</h2>
        </div>
        <div class="RatingFaq_wrapper__1NK4g">
          <div class="RewardFaqList_faqList__1FDhJ">
            <div>
              <div class="RewardFaqItem_faqItem__2qbzt active">
                <div class="RewardFaqItem_title__2ryy1">
                  참여 했어요. 결제는 언제, 어떻게 진행되나요?<i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>문의 내용</strong><br />
                  이런건 어떤가요?
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>답변</strong><br />
                  프로젝트 진행중에는 결제 예약 상태이며, 프로젝트 종료 후 다음 1영업일 5시에 결제가
                  진행됩니다. 이때, 결제 실패된 건에 한하여 종료일+4영업일동안 매일 5시에 결제가
                  진행됩니다. (프로젝트 종료일+4영업일 오후 5시 4차 최종 결제 진행)
                </div>
              </div>
              <div class="RewardFaqItem_faqItem__2qbzt">
                <div class="RewardFaqItem_title__2ryy1">
                  결제 실패 알림을 받았어요. 어떻게 해야하나요?<i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>문의 내용</strong><br />
                  이런건 어떤가요?
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>답변</strong><br />
                  잔고 부족이나 한도 초과, 거래 정지등의 사유로 결제가 실패할 수 있습니다. 최종
                  결제일 16시 30분전까지 결제 정보를 변경해주세요. 최종 결제일까지 매 영업일 5시마다
                  결제가 진행됩니다. ・ 결제정보 변경은 로그인 - [마이 위게더] - [참여 내역]에서
                  결제 정보를 변경할 수 있습니다. ・ 반드시 참여한 프로젝트 상세 참여 내역
                  페이지에서 결제 정보를 변경해주세요. [마이 위게더] - [결제 관리 정보]에서 결제
                  정보를 변경하면 해당 카드로 결제가 진행되지 않습니다!
                </div>
              </div>
              <div class="RewardFaqItem_faqItem__2qbzt">
                <div class="RewardFaqItem_title__2ryy1">
                  결제가 진행된 후,다른 결제 정보로 변경할 수 있나요?<i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>문의 내용</strong><br />
                  이런건 어떤가요?
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>답변</strong><br />
                  결제 예약으로 진행되어 이미 종료된 프로젝트는 취소 후 재참여가 불가능하니, 결제 전
                  등록한 결제 정보가 맞는지 확인해 주세요.
                </div>
              </div>
              <div class="RewardFaqItem_faqItem__2qbzt">
                <div class="RewardFaqItem_title__2ryy1">
                  배송지나 옵션을 변경하고 싶어요.<i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>문의 내용</strong><br />
                  이런건 어떤가요?
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>답변</strong><br />
                  프로젝트 진행 중에는 [마이 위게더] - [참여 내역]에서 직접 변경이 가능합니다.
                  프로젝트가 종료된 이후에는 직접 변경이 불가능하니, 아래 [메이커에게 문의하기]를
                  통해 문의해주세요.
                </div>
              </div>
              <div class="RewardFaqItem_faqItem__2qbzt">
                <div class="RewardFaqItem_title__2ryy1">
                  리워드 배송은 언제되나요? 해외 배송도 가능한가요?<i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>문의 내용</strong><br />
                  이런건 어떤가요?
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>답변</strong><br />
                  프로젝트 종료 후 기재된 배송 예정일에 배송되며, 배송 예정일은 프로젝트
                  상세페이지에서 확인할 수 있습니다. 프로젝트 참여 후에는 [마이 위게더] - [참여
                  내역]에서 확인할 수 있습니다. 결제 예약 시 국내 주소만 입력이 가능하니, 해외배송은
                  메이커에게 문의 후 진행해 주세요.
                </div>
              </div>
              <div class="RewardFaqItem_faqItem__2qbzt">
                <div class="RewardFaqItem_title__2ryy1">
                  교환・환불・A/S는 어디로 문의해야하나요?<i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  해당 프로젝트의 교환・환불・A/S 기준은 프로젝트 상단 [환불・정책]탭을 확인해
                  주세요.
                </div>
              </div>
              <div class="RewardFaqItem_faqItem__2qbzt">
                <div class="RewardFaqItem_title__2ryy1">
                  참여 취소는 어떻게 하나요? 부분 취소도 가능한가요?<i
                    class="icon expand-more"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>문의 내용</strong><br />
                  이런건 어떤가요?
                </div>
                <div class="RatingFaq_messageBox__IsEsx RewardFaqItem_content__23yEc">
                  <strong>답변</strong><br />
                  프로젝트 종료 후에는 메이커가 서포터를 위해 리워드 제작을 시작한 상태입니다.
                  따라서 프로젝트 종료 이후에는 참여 취소가 불가하니, 종료 이전에 취소해주세요.
                  프로젝트가 종료되기 이전에는 [마이 위게더] - [참여 내역]에서 참여 취소가
                  가능합니다. 부분 취소는 여러 개의 리워드를 결제 예약한 경우 불가능합니다. 전체
                  취소 후 재참여해 주세요.
                </div>
              </div>
            </div>
            <div class="RewardFaqList_helpCenterWrap__3RByl">
              <p>더 궁금한 사항이 있다면?</p>
              <div class="RewardFaqList_helpCenterButtons__1ZhAd">
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="http://help.wadiz.kr"
                  class="Button_button__2FuOU Button_primary__2mZni Button_contained__2SIAT Button_sm__16X6h"
                  ><span><span class="Button_children__ilFun">위게더에 문의하기</span></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    const $lists = $('.RewardFaqItem_faqItem__2qbzt ');

    $lists.on('click', function () {
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });
  </script>
</html>
