<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleag.org" class="scroll-top scroll-apex" style="--scrollbar-width:17px">

<head>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/dataroom/detail.css" />
	<link rel="stylesheet" href="/css/modal.css" />
	<link rel="stylesheet" href="/css/fix/header.css">
	<link rel="stylesheet" href="/css/fix/footer.css">

<!--	<title>자료실 상세 | 위게더</title>-->
	<title></title>
</head>

<body class style="overflow: auto;">

<header th:replace="~{/fix/header :: #header}"></header>
	<main id="main-app">
		

		<div class="MainWrapper_content__GZkTa">
			<section th:object="${dataDTO}">
				<input type="hidden">
				<div class="MainContainer_root__3gfdh">

					<div id="detail_container" class="DetailHeader_container__3PGje">
						<div class="DetailHeader_detailImageArea__kVGJW">
							<div class="StoreSlider_container__ntgSo">
								<div class="StoreSlider_slickList__kf7h-">
									<div class="slick-slider slick-initialized" dir="ltr">
<!--										<button type="button"-->
<!--											class="StoreSlider_slickArrow__DO_oi Stoimage_containerreSlider_slickPrev__35Vwr" >Previous</button>-->
										<div class="slick-list" style="height: 470px;">
											<div id="image_container" class="slick-track"
												style="width: auto; opacity: 1; border-radius: 16px; overflow: hidden;">


												<!-- image 반복 -->


											</div>
										</div>
<!--										<button type="button"-->
<!--											class="StoreSlider_slickArrow__DO_oi StoreSlider_slickNext__1xnz1">Next</button>-->
									</div>
								</div>
<!--								<span class="StoreSlider_slickIndex__1d6Eo">1/5</span>-->
							</div>
						</div>
						<div id="text_container" class="DetailHeader_detailInfoArea__cSsVa">

							<!-- text 반복 -->

						</div>
					</div>


					<div>

						<div class="DetailContent_container__oYgFG">
							<nav class="DetailTab_container__1NVYg">
								<ul>
									<li class="DetailTab_isActive__2Amuh">
										<a href="/web/store/detail/3297/story" aria-current="page" class="active">
											<span>스토리</span></a>
									</li>
								</ul>
							</nav>
							<div class="storeTabContentsWrapper">
								<div class="storeTabContents">
									<div class="DetailStory_container__2f685">
										<div color="basic"
											class="MessageBox_messageBox__2WX5N MessageBox_basic__1zukz MessageBox_vertical__2ODEW DetailStory_messageBox__kZGnE">
											<svg viewBox="0 0 40 40" focusable="false" role="presentation"
												class="withIcon_icon__3VTbq MessageBox_icon__1NYKB" aria-hidden="true">
												<path fill="none" d="M0 0h40v40H0z"></path>
												<path
													d="M20 1a19 19 0 1 0 19 19A19.06 19.06 0 0 0 20 1zm1 28.6h-2v-13h2zm-1-15.84A1.8 1.8 0 1 1 21.8 12a1.8 1.8 0 0 1-1.8 1.76z">
												</path>
											</svg>
											<div class="MessageBox_content__3Yza8">
												<p class="MessageBox_title__12hBF">구매 전 반드시 확인하세요!</p>
												<div class="MessageBox_description__2Fyxq">
													<ul>
														<li>구매 전 학교와 학과를 반드시 확인하세요.</li>
														<li>이 상품은 구매 시 반품 및 환불이 불가능한 상품입니다.</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="StoreGuide_storeGuide__1xzFN">
											<img alt="팬들이 인정한 성공펀딩 집합샵 가이드" class="StoreGuide_image__Lk8Bn"
												src="https://static.wadiz.kr/main/media/store-basic-guide-pc.2088a86e.png">
										</div>
										<div class="ProjectChangeNotice_container__3tNIH">
											<div>
												<section class="ContentFoldHeight_container__1-2AN">
													<div class="ContentFoldHeight_contentWrap__1Gap2 ContentFoldHeight_unFold__xRt8E"
														style="height: auto;">
														<div
															class="ContentFoldHeight_content__14HU9 ContentFoldHeight_afterhide__MEGAt">
															<div>
																<div class="ContentFoldHeight_contentItem__3F3bZ">
																	<div class="ProjectChangeNotice_notice__38XfH">
																		<h3>자료 구매 전, 꼭 확인하세요!</h3>
																		<ol
																			class="ProjectChangeNoticeList_container__vqeVW">
																			<li>
																				<div
																					class="ProjectChangeNoticeItem_container__2evEx">
																					<strong class="ProjectChangeNoticeItem_title__1pvye">교환 환불 불가</strong>
																					<p class="ProjectChangeNoticeItem_description__1JNRj">
																						위게더에 판매중인 모든 자료는 환불이 불가합니다.</p>
																				</div>
																			</li>
																		</ol>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
										<div class="StoryContents_container__3lMLz">
											<div>
												<section class="ContentFoldHeight_container__1-2AN">
													<div class="ContentFoldHeight_contentWrap__1Gap2 ContentFoldHeight_unFold__xRt8E hidden"
														style="height: auto;">
														<!--<div class="ContentFoldHeight_content__14HU9">-->
														<div>
															<div>
																<div class="inner-contents fr-view">

																	<!-- Content 섹션 -->


												</section>
											</div>
										</div>
<!--										<div class="ProductNoticeInfo_container__3xV2h">-->
<!--											<div class="ProductEtcInfo_container__3w3bk">-->
<!--												<div role="button"-->
<!--													class="ProductEtcInfo_titleArea__4p9Wk ProductEtcInfo_fold__26Z5O"-->
<!--													id="btn1">-->
<!--													<strong>상품 정보 제공 고시</strong>-->
<!--													<div class="MoreButton_button__3qNcH ProductEtcInfo_button__rAty1">-->
<!--														<svg viewBox="0 0 32 32" focusable="false" role="presentation"-->
<!--															class="withIcon_icon__3VTbq MoreButton_icon__2UKz5 rotate-icon"-->
<!--															aria-hidden="true">-->
<!--															<path-->
<!--																d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">-->
<!--															</path>-->
<!--														</svg>-->
<!--													</div>-->
<!--												</div>-->
<!--												<div>-->
<!--													<div>-->
<!--														<div class="ProductNoticeInfo_noticeWrap__3loGP">-->
<!--															<div class="ProductNoticeInfo_notice__3u2Da"-->
<!--																style="height: auto;">-->
<!--																<div class="ProductNoticeInfo_notiContainer__1Ui4k"-->
<!--																	style="display:none;">-->
<!--																	<div class="ProductNoticeInfo_notiItem__1fAaD">-->
<!--																		<div class="ProductNoticeInfo_title__1btSh">상품-->
<!--																			상세정보</div>-->
<!--																		<div-->
<!--																			class="ProductNoticeInfo_description__1tNfd">-->
<!--																			기타 재화</div>-->
<!--																	</div>-->
<!--																	<div class="ProductNoticeInfo_notiItem__1fAaD">-->
<!--																		<div class="ProductNoticeInfo_title__1btSh">품명 및-->
<!--																			모델명</div>-->
<!--																		<div-->
<!--																			class="ProductNoticeInfo_description__1tNfd">-->
<!--																			만월화투</div>-->
<!--																	</div>-->
<!--																	<div class="ProductNoticeInfo_notiItem__1fAaD">-->
<!--																		<div class="ProductNoticeInfo_title__1btSh">법에-->
<!--																			의한 인증・허가 등을 받았음을 확인할 수 있는 경우 그에 대한 사항</div>-->
<!--																		<div-->
<!--																			class="ProductNoticeInfo_description__1tNfd">-->
<!--																			해당 없음</div>-->
<!--																	</div>-->
<!--																	<div class="ProductNoticeInfo_notiItem__1fAaD">-->
<!--																		<div class="ProductNoticeInfo_title__1btSh">제조국-->
<!--																			또는 원산지</div>-->
<!--																		<div-->
<!--																			class="ProductNoticeInfo_description__1tNfd">-->
<!--																			한국</div>-->
<!--																	</div>-->
<!--																	<div class="ProductNoticeInfo_notiItem__1fAaD">-->
<!--																		<div class="ProductNoticeInfo_title__1btSh">제조자,-->
<!--																			수입품의 경우 수입자를 함께 표기</div>-->
<!--																		<div-->
<!--																			class="ProductNoticeInfo_description__1tNfd">-->
<!--																			올린스튜디오</div>-->
<!--																	</div>-->
<!--																	<div class="ProductNoticeInfo_notiItem__1fAaD">-->
<!--																		<div class="ProductNoticeInfo_title__1btSh">A/S-->
<!--																			책임자와 전화번호 또는 소비자상담 관련 전화번호</div>-->
<!--																		<div-->
<!--																			class="ProductNoticeInfo_description__1tNfd">-->
<!--																			010-8416-3254 (올린스튜디오)</div>-->
<!--																	</div>-->
<!--																</div>-->
<!--															</div>-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="ProductEtcInfo_container__3w3bk">-->
<!--											<div role="button" class="ProductEtcInfo_titleArea__4p9Wk" id="btn2">-->
<!--												<strong>메이커 정보</strong>-->
<!--												<div class="MoreButton_button__3qNcH ProductEtcInfo_button__rAty1">-->
<!--													<svg viewBox="0 0 32 32" focusable="false" role="presentation"-->
<!--														class="withIcon_icon__3VTbq MoreButton_icon__2UKz5 rotate-icon2"-->
<!--														aria-hidden="true">-->
<!--														<path-->
<!--															d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">-->
<!--														</path>-->
<!--													</svg>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="ProductEtcInfo_container__3w3bk">-->
<!--											<div>-->
<!--												<div class="DetailStory_seller__O9uJ6" style="display:none;">-->
<!--													<div>-->
<!--														<div class="ProductEtcInfoSellerItem_container__1UoOI">-->
<!--															<div class="ProductEtcInfoSellerItem_title__17qWQ">판매자명-->
<!--															</div>-->
<!--															<div>정석현</div>-->
<!--														</div>-->
<!--														<div class="ProductEtcInfoSellerItem_container__1UoOI">-->
<!--															<div class="ProductEtcInfoSellerItem_title__17qWQ">연락처</div>-->
<!--															<div>010-8416-3254</div>-->
<!--														</div>-->
<!--														<div class="ProductEtcInfoSellerItem_container__1UoOI">-->
<!--															<div class="ProductEtcInfoSellerItem_title__17qWQ">이메일 주소-->
<!--															</div>-->
<!--															<div>olindesigner@gmail.com</div>-->
<!--														</div>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="ProductEtcInfo_container__3w3bk">-->
<!--											<div role="button" class="ProductEtcInfo_titleArea__4p9Wk" id="btn3">-->
<!--												<strong>서비스 유의사항</strong>-->
<!--												<div class="MoreButton_button__3qNcH ProductEtcInfo_button__rAty1">-->
<!--													<svg viewBox="0 0 32 32" focusable="false" role="presentation"-->
<!--														class="withIcon_icon__3VTbq MoreButton_icon__2UKz5 rotate-icon3"-->
<!--														aria-hidden="true">-->
<!--														<path-->
<!--															d="M16 22.4L5.6 12l1.12-1.12L16 20.16l9.28-9.28L26.4 12 16 22.4z">-->
<!--														</path>-->
<!--													</svg>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--										<div class="ProductEtcInfo_container__3w3bk">-->
<!--											<div>-->
<!--												<div class="DetailStory_service__2rTtM" style="display:none;">-->
<!--													<div>-->
<!--														<ul>-->
<!--															<li>전자상거래 등에서의 소비자보호에 관한 법률에 의한 반품규정이 판매자가 지정한 반품 조건보다-->
<!--																우선합니다.</li>-->
<!--															<li>전자상거래 등에서의 소비자보호에 관한 법률에 의거하여 미성년자가 물품을 구매하는 경우, 법정대리인이-->
<!--																동의하지 않으면 미성년자 본인 또는 법정대리인이 구매를 취소할 수 있습니다.</li>-->
<!--															<li>위게더의 결제시스템을 이용하지 않고 판매자와 직접 거래하실 경우 상품을 받지 못하거나 구매한 상품과-->
<!--																상이한 상품을 받는 등 피해가 발생할 수 있으니 유의하시기 바랍니다.</li>-->
<!--															<li>위게더에 등록된 판매상품과 상품의 내용은 판매자가 등록한 것으로 위게더는 등록된 내용에 대하여 일체의-->
<!--																책임을 지지 않습니다.</li>-->
<!--														</ul>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
										<div class="StoreReport_container__R-jF6">
											<strong class="StoreReport_title__2LbBR">자료에 문제가 있나요?</strong>
											<div class="StoreReport_buttonArea__1PHh0">
												<button type="button">신고하기
													<svg viewBox="0 0 40 40" focusable="false" role="presentation"
														class="withIcon_icon__3VTbq StoreReport_chevronRightIcon__2lf3X"
														aria-hidden="true">
														<path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z">
														</path>
													</svg>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="FloatingButtons_container__2E5Fl">
			<button type="button" class="FloatingTopButton_pageTop__2gqm9 FloatingTopButton_visible__2sh_N"
				title="위로 이동">
				<svg viewBox="0 0 40 40" focusable="false" role="presentation" class="withIcon_icon__3VTbq"
					aria-hidden="true">
					<path d="M33 30l-1.4 1.4L20 19.8 8.4 31.4 7 30l13-13zm1-21H6v2h28z"></path>
				</svg>
			</button>
			<button type="button" data-ga-category="공통_최근본_UI" data-ga-action="클릭" data-ga-label=""
				class="RecentView_container__1boAT" aria-label="최근본" style="display: none;">
				<div aria-hidden="true"
					class="RecentView_thumbnail__1lnV0 CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4 CardThumbnail_noanimation__23cSf"
					style="background-image: url(&quot;https://cdn2.wadiz.kr/2022/12/13/b1c973d0-aae9-4778-9751-71c3f2953a13.jpg/wadiz/resize/400/format/jpg/quality/85/&quot;);">
				</div>
			</button>
		</div>
	</main>
<footer th:replace="~{/fix/footer :: #footer}"></footer>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
	let dataDTO = [[${dataDTO}]];
	let dataId = [[${dataDTO.id}]];
	let id = [[${session.id}]];
	console.log(dataDTO);
</script>

<script src="/js/modal.js"></script>
<script src="/js/dataroom/detail.js"></script>
</html>