<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/dataroom/list.css" />
	<link rel="stylesheet" href="/css/fix/header.css">
	<link rel="stylesheet" href="/css/fix/footer.css">
	<title>자료실 목록 | 위게더</title>
</head>

<body>
<header th:replace="~{/fix/header :: #header}"></header>
<div id="page-container">
	<main id="main-app">
		<div class="MainWrapper_content__GZkTa">
			<div class="Main_rootContainer__vlVi7">
				<div class="Main_category__rPdmH">
					<p class="Main_categoryName__3JZzJ">전체</p>
					<div>
						<ul class="OrderSelectDesktop_sortContainer__1YLsr">
							<li class="like OrderSelectDesktop_sortItem__12TKi OrderSelectDesktop_active__YTP2K"
								data-ga-category="스토어(홈)_정렬" data-ga-action="클릭" data-ga-label="인기순">인기순</li>
							<li class="trand OrderSelectDesktop_sortItem__12TKi" data-ga-category="스토어(홈)_정렬"
								data-ga-action="클릭" data-ga-label="추천순">조회순</li>
							<li class="new OrderSelectDesktop_sortItem__12TKi" data-ga-category="스토어(홈)_정렬"
								data-ga-action="클릭" data-ga-label="최신순">최신순</li>
						</ul>
					</div>
				</div>
				<div class="Main_cardListContainer__1P_Ai">
					<div id="list-container" class="CardTable_container__1H8Vc" style="width: calc(100% - 0px); ">

					</div>
					<div style="height: 1px;"></div>
				</div>
			</div>
			<div style="height: 160px;"></div>
		</div>
	</main>
</div>
<footer th:replace="~{/fix/footer :: #footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
	let projects = [[${projects}]];
	console.log(projects);
</script>
<script src="/js/project/list.js"></script>
</html>