<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
    />

    <link rel="stylesheet" href="/css/account/find/find.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/account/account-header.css">

    <title>아이디 찾기 | 위게더</title>


</head>
<body>
<div id="page-container">
    <header th:replace="~{/accounts/account-header :: #wz-header}"></header>
    <!-- [S] Header -->
    <!-- [E] Header -->

    <!-- [S] Contents -->
    <div class="account-find">
        <div class="page-header">
            <h2 class="wz text display1">아이디∙비밀번호 찾기</h2>
            <div class="tab-list">
                <ul>
                    <li class="active"><a href="#">아이디 찾기</a></li>
                    <li><a href="/accounts/find/pwd">비밀번호 찾기</a></li>
                </ul>
            </div>
        </div>
        <div class="page-body">
            <!-- [S] id check -->
            <div class="wz container id-check" style="min-height: calc(100vh - 187px)">
                <p class="wz text body1">
                    와디즈는 이메일을 아이디로 사용합니다.<br/>소유하고 계신 계정을 입력해보세요.<br/>가입여부를
                    확인해드립니다.
                </p>
                <form class="wz form" id="form-findId">
                    <div class="label-hidden field">
                        <label class="text-hidden" for="memberId">이메일 주소</label>
                        <div class="wz input">
                            <input
                                    id="memberId"
                                    class="input-text"
                                    type="email"
                                    name="memberId"
                                    value=""
                                    placeholder="이메일 계정"
                            />
                        </div>
                        <em id="emailError" class="helper error" style="display: none">이메일 형식이 올바르지 않습니다.</em>
                    </div>
                    <button id="btnIsJoinedEmail" class="wz primary block button" type="button">
                        확인
                    </button>
                </form>
            </div>
            <!-- [E] id check -->

            <!-- [S] id result -->
            <div class="wz container id-result">
                <div class="isJoin-email-wrap">
                    <p id="inputedEmail" class="wz text headline2">email</p>
                    <p id="joinedEmail" class="wz text body1">
                        회원으로 등록된 이메일 아이디입니다.<br/>해당 이메일로 로그인하고 와디즈를
                        이용하세요!
                    </p>
                    <p id="notJoinedEmail" class="wz text body1">
                        는 와디즈에 등록되어 있지 않은 계정입니다.
                    </p>
                    <div class="inner-container">
                        <a id="goToJoin" class="wz primary block button" href="../register.html"
                        >회원가입하기</a
                        >
                        <a id="goToLogin" class="wz primary block button" href="../login.html"
                        >로그인</a
                        >
                        <a id="btn-recheck" class="wz block button" href="id.html">다시 확인</a>
                    </div>
                </div>
            </div>
            <!-- [E] id result -->
        </div>
    </div>
    <!-- [E] Contents -->

    <!-- [S] Footer -->
    <!-- [E] Footer -->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/account/find/find.js"></script>
</html>
