a,
em,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ConfirmModal_overlay__9xcDs {
    display: inline-flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.ConfirmModal_sizeLg__KHkYl {
    padding: 40px;
    width: 640px;
    max-width: calc(100% - 48px);
}

.ConfirmModal_confirmModal__1x2Tw {
    display: inline-flex;
    flex-direction: column;
    outline: none;
    border-radius: 16px;
    box-shadow: 0 32px 40px -2px rgba(10, 22, 70, 0.12), 0 0 5px rgba(10, 22, 70, 0.06);
    background: #fff;
    padding: 24px;
    max-height: calc(100vh - 160px);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_header__gkXhb {
    display: flex;
    flex-direction: column;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_title__ubaBW {
    line-height: 28px;
    letter-spacing: -0.6px;
    font-size: 18px;
    font-weight: 700;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.ConfirmModal_sizeLg__KHkYl .ConfirmModal_title__ubaBW {
    line-height: 38px;
    letter-spacing: -0.6px;
    font-size: 28px;
    font-weight: 700;
}

div[title] {
    color: #212529;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_content__3KM88.ConfirmModal_hasTitle__3rvSc {
    margin-top: 12px;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_content__3KM88 {
    display: inline-flex;
    flex-direction: column;
    overflow: auto;
    color: #495057;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_content__3KM88 .ConfirmModal_message__Mi2Ur {
    line-height: 28px;
    letter-spacing: -0.3px;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    width: 100%;
    resize: none;
}

[class*='ConfirmModal_message'] {
    word-break: keep-all;
    word-wrap: break-word;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_footer__gfGBl {
    position: relative;
    margin-top: 24px;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_footer__gfGBl .ConfirmModal_buttonGroup__3YCl5 {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_footer__gfGBl .ConfirmModal_buttonGroup__3YCl5 .ConfirmModal_negativeButton__3VxAF {
    margin-right: 8px;
}

.Button_button__2FuOU.Button_md__46Ai- {
    padding: 9px 16px;
    line-height: 1.45;
    font-size: 14px;
}

.Button_button__2FuOU.Button_text__2-UCU {
    border-color: rgba(0, 0, 0, 0);
}

button[class*='Button_button'] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Button_button__2FuOU span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.Button_button__2FuOU .Button_children__ilFun {
    vertical-align: top;
}

.Button_button__2FuOU span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.ConfirmModal_confirmModal__1x2Tw .ConfirmModal_footer__gfGBl .ConfirmModal_buttonGroup__3YCl5 .ConfirmModal_positiveButton__Fafi9 {
    margin-right: 0;
}

.Button_button__2FuOU.Button_primary__2mZni.Button_text__2-UCU {
    border-color: rgba(0, 0, 0, 0);
}

.Button_button__2FuOU.Button_md__46Ai- {
    padding: 9px 16px;
    line-height: 1.45;
    font-size: 14px;
}

.Button_button__2FuOU.Button_primary__2mZni {
    border-color: #00c4c4;
    color: #00c4c4;
}

.ConfirmModal_sizeLg__KHkYl {
    padding: 40px;
    width: 640px;
    max-width: calc(100% - 48px);
}
