<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> 위게더 || 강연 </title>
    <link rel="stylesheet" href="/css/consult/consult-main.css">
    <link rel="stylesheet" href="/css/consult/consult-list.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"/>
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
  </head>
  
  <body>
  <header th:replace="~{/fix/header :: #header}"></header>
    <div class="MainWrapper_content__GZkTa">
    <section class="container">
      <div class="banner">
          <div id="first-temp"></div>
          <div class="image"><img src="/image/consulting/banner.png"></div>
          <div class="image"></div>
          <div class="image"></div>
          <div class="image"></div>
          <div class="image"></div>
          <div class="image"></div>
          <div id="last-temp"></div>
      </div>
<!--      <div class="arrow prev">&lt;</div>-->
<!--      <div class="arrow next">&gt;</div>-->
<!--      -->
<!--      <div class="dots">-->
<!--          <div class="dot 1"></div>-->
<!--          <div class="dot 2"></div>-->
<!--          <div class="dot 3"></div>-->
<!--          <div class="dot 4"></div>-->
<!--          <div class="dot 5"></div>-->
<!--          <div class="dot 6"></div>-->
<!--      </div>-->
  </section>

    <div class="schoolMakerOpenArea">
      <section class="MakerAcademy_container__2dhnm">
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UC4AMbNJY7i4_MEcZIBrEMqw"
          rel="noreferrer"
          ><span class="schoolMakerOpenfundingBox MakerAcademy_box__K7zyT"
            ><span class="MakerAcademy_btnPlay__18eNI"><span class="font-blind">play</span></span
            ><span class="schoolMakerOpenfundingBoxImages MakerAcademy_images__3NLjp"></span></span
          ><button
            rel="noreferrer noopener"
            class="Button_button__2FuOU Button_primary__2mZni Button_text__2-UCU Button_xl__1FM1L Button_endIcon__1WriQ schoolMakerOpenfundingButton MakerAcademy_button__3_Auc"
            type="button"
          >
            <span
              ><span class="Button_children__ilFun"
                ><span>내가 참여한 위게더 강연</span></span
              ><svg
                viewBox="0 0 40 40"
                focusable="false"
                role="presentation"
                class="withIcon_icon__3VTbq Button_icon__t6yp6"
                aria-hidden="true"
              >
                <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></button
        ></a>
      </section>


      
      <section class="OpenfundingEquity_container__1uU-g">
        <a th:href="@{/consults/list}" rel="noreferrer noopener"
          ><span class="schoolMakerOpenfundingBox OpenfundingEquity_box__8cHHE"
            ><span
              class="schoolMakerOpenfundingBoxImages OpenfundingEquity_images__2eVc-"
            ></span></span
          ><button
            class="Button_button__2FuOU Button_info__2TXD6 Button_text__2-UCU Button_xl__1FM1L Button_endIcon__1WriQ schoolMakerOpenfundingButton OpenfundingEquity_button__1HA2B"
            type="button"
          >
            <span
              ><span class="Button_children__ilFun"
                ><span>위게더 상담 센터</span></span
              ><svg
                viewBox="0 0 40 40"
                focusable="false"
                role="presentation"
                class="withIcon_icon__3VTbq Button_icon__t6yp6"
                aria-hidden="true"
              >
                <path d="M28 20L15 33l-1.4-1.4L25.2 20 13.6 8.4 15 7l13 13z"></path></svg></span></button></a>
      </section>
    </div>
    <div class="SchoolLecture_schoolContainer__3x4lG">
      <div class="SchoolLectureBar_mainLectureTop__2zPvH">
        <div class="SchoolLectureBar_mainLectureTitle__2-UO4">
          <div class="SchoolLectureBar_innerCon__NzsvG">
            <p class="SchoolLectureBar_thisMonth__1W1B2"><strong>5</strong> 월</p>
            <p class="SchoolLectureBar_innerText__37ZdE">
              모집 중인 와디즈 스쿨 강의 리스트<span
                >와디즈 스쿨 일정은 월 단위로 업데이트 됩니다.</span
              >
            </p>
          </div>
        </div>
     
      </div>
      <div class="SchoolLectureListContents_mainLectureInfo__B271f ">
        <div class="SchoolLectureListDesktop_mainSchoolLecture__3f2nw main-container">
<!--          <div class="SchoolLectureListDesktop_schoolLecture__2EK3P" data-is-end="false">-->
<!--            <span-->
<!--              class="SchoolLectureListDesktop_background__2Kqf_ SchoolLectureListDesktop_visible__2lI79"-->
<!--              style="-->
<!--                background-image: -webkit-image-set(-->
<!--                  url('https://cdn.wadiz.kr/ft/images/green001/2023/0510/20230510152215149_null.jpg/wadiz/thumbnail/253/format/jpg/quality/95/')-->
<!--                    1x,-->
<!--                  url('https://cdn.wadiz.kr/ft/images/green001/2023/0510/20230510152215149_null.jpg/wadiz/thumbnail/506/format/jpg/quality/95/')-->
<!--                    2x-->
<!--                );-->
<!--              "-->
<!--            ></span-->
<!--            ><a href="/web/school/detail/1174"-->
<!--              ><div class="SchoolLectureListDesktop_lectureCon__BhKMl">-->
<!--                <p class="SchoolLectureListDesktop_lectureType__8_hUF">-->
<!--                  <span><i class="SchoolLectureListDesktop_reward__A5Tp2"></i>입문</span>-->
<!--                </p>-->
<!--                <p class="SchoolLectureListDesktop_lectureTitle__2wTDN">-->
<!--                  [온라인 Live] 크리에이터 페스티벌 온라인 설명회-->
<!--                </p>-->
<!--                <p class="SchoolLectureListDesktop_lectureSub__3soFP">-->
<!--                  2023 최대 규모 기획전과 함께해요!-->
<!--                </p>-->
<!--                <p class="SchoolLectureListDesktop_lectureInfo__1dFY_">-->
<!--                  일시 : 05월 23일(화) 오후 3시 00분 ~ 오후 4시 30분<br />장소 : 유튜브 라이브-->
<!--                </p>-->
<!--                <p class="SchoolLectureListDesktop_lectureNum__oypsR">-->
<!--                  <em>절찬리 모집 중!</em><strong>69 /</strong> 250 명-->
<!--                </p>-->
<!--              </div></a-->
<!--            >-->
<!--          </div>-->

        </div>
      </div>
    </div>
    </div>
    <div class="board-footer">
    <div class="pagination">
      <div class="page">
        <div class="desktop-only">
          <!-- 데스크탑용 버튼 -->
          <!--                    <button class="prev-page icon-chevron-left" onclick="movePage(0)" disabled="">-->
          <!--                      <span class="text-hidden">이전 목록</span>-->
          <!--                    </button>-->
          <a th:if="${lecturePagination.prev}" th:href="${lecturePagination.startPage - 1}"
             class="prev-page icon-chevron-left change-page" style="width: 19px;"></a>
          <!-- 데스크탑용 페이지 리스트 -->
          <th:block th:each="page:${#numbers.sequence(lecturePagination.startPage, lecturePagination.endPage)}">
            <a th:if="${page eq lecturePagination.page}" class="current" th:text="${page}"></a>
            <a th:unless="${page eq lecturePagination.page}" class="change-page" th:href="${page}"
               th:text="${page}"></a>
          </th:block>
          <!-- 데스크탑용 버튼 -->
          <!--      <button class="next-page icon-chevron-right" onclick="movePage(7)">
                  <span class="text-hidden">다음 목록</span>
                </button>-->
          <a th:if="${lecturePagination.next}" th:href="${lecturePagination.endPage + 1}"
             class="next-page icon-chevron-right change-page paging paging-move" style="width: 1px;"></a>
        </div>
      </div>
    </div>
    </div>
  <footer th:replace="~{/fix/footer :: #footer}"></footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--<script src="consult-main.js"></script>-->
  <script th:inline="javascript">
    let lists = [[${lists}]];
    console.log(lists);
  </script>
  <script src="/js/lecture/main-list.js"></script>
</html>
