<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,viewport-fit=cover"
        />
        <link rel="stylesheet" href="/css/community/community-register.css"/>
        <link rel="stylesheet" href="/css/admin/class-register.css" />
        <link rel="stylesheet" href="/css/admin/community.css" />
        <link rel="stylesheet" href="/css/admin/admin_board.css">
        <link rel="stylesheet" href="/css/admin/admin_board_proposal.css">
        <link rel="stylesheet" href="/css/admin/admin_common.css">
        <title>위게더 || 강연 등록</title>

        <!-- 강연 등록 css -->
        <link href="https://static.wadiz.kr/studio/funding/static/css/5.6aa6dee4.chunk.css" rel="stylesheet" />
        <link href="https://static.wadiz.kr/studio/funding/static/css/main.2b8a3946.chunk.css" rel="stylesheet" />

        <link
            rel="stylesheet"
            type="text/css"
            href="https://static.wadiz.kr/studio/funding/static/css/6.eb91f874.chunk.css"
        />
    <style>
        .attach {
           margin-right: 12px !important;
            width: 180px !important;
            height: 180px !important;
        }
    </style>
    </head>
    <body class="ReactModal__Body--open" aria-hidden="true">
        <div data-react-modal-body-trap="" tabindex="0" style="position: absolute; opacity: 0"></div>
        <div id="root">
            <div id="AppLayout_Container" class="AppLayout_container__3zbzb">
                <div class="AppLayout_main__14bCi">
                    <div id="AppLayout_Contents" class="AppLayout_contents__wv3DF">
                        <div
                            id="container"
                            class="ContentsLayout_container__11k-W"
                            style="display: flex; justify-content: center"
                        >
                            <div class="FundingStoryContainer_container__33WY0" style="width: 550px">
                                <div class="HeaderLayout_container__3fXkO">
                                    <div class="HeaderLayout_contents__F4hlC">
                                        <div style="display: flex; justify-content: space-between">
                                            <div>
                                                <h2 class="FundingStoryContainer_title__1r0ZE">강연 등록</h2>
                                                <p class="FundingStoryContainer_description__1sMTR">
                                                    강연 관련 내용을 작성해주세요.
                                                </p>
                                            </div>
                                            <div>
                                                <button
                                                    class="Button_button__2FuOU Button_secondary__LNLsN Button_contained__2SIAT Button_lg__1Dftp gray CommunityCommentWriteButton_button__3bPl4"
                                                    type="button"
                                                >
                                                    <span
                                                        ><span class="Button_children__ilFun reviewButton"
                                                            ><a href="community-register.html">뒤로 가기</a></span
                                                        ></span
                                                    >
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/lectures/register}" th:object="${lectureDTO}" method="post" name="registerForm"
                                    class="wz form FundingStoryFormContainer_form__326Zc Form_form__3ASTU"
                                    action=""
                                >
                                    <div class="Loader_loader__d9YUC Form_loader__1YJ5I"></div>

                                    <!-- 강연 제목 -->
                                    <section class="Section_container__3md8M spacing-9" style="max-width: 630px">
                                        <div class="Section_header__1qwS7 spacing-4">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">강연 제목</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="TextField_textField__23rCe TextField_md__2zsQn">
                                                <label></label>
                                                <div class="TextField_field__1E9vt">
                                                    <input
                                                        th:field="*{lectureTitle}"
                                                        placeholder="제목을 입력해 주세요"
                                                        maxlength="40"
                                                        type="text"
                                                        class="Input_input__2kAAL Input_md__3-eZ6"
                                                        aria-invalid="false"
                                                        name="lectureTitle"
                                                        style="padding-left: 8px"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <!-- 강연 날짜 -->
                                    <section class="Section_container__3md8M spacing-9" style="max-width: 630px">
                                        <div class="Section_header__1qwS7 spacing-4">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">강연 날짜</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="TextField_textField__23rCe TextField_md__2zsQn">
                                                <label></label>
                                                <div class="TextField_field__1E9vt">
                                                    <input
                                                            th:field="*{lectureDate}"
                                                            placeholder="강연 날짜를 입력해 주세요"
                                                        maxlength="40"
                                                        type="text"
                                                        class="Input_input__2kAAL Input_md__3-eZ6"
                                                        aria-invalid="false"
                                                        name="lectureDate"
                                                            style="padding-left: 8px"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <!-- 강연 시간 -->
                                    <section class="Section_container__3md8M spacing-9" style="max-width: 630px">
                                        <div class="Section_header__1qwS7 spacing-4">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">강연 시간</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="TextField_textField__23rCe TextField_md__2zsQn">
                                                <label></label>
                                                <div class="TextField_field__1E9vt">
                                                    <input
                                                            th:field="*{lectureTime}"
                                                        placeholder="강연 시간을 입력해 주세요"
                                                        maxlength="40"
                                                        type="text"
                                                        class="Input_input__2kAAL Input_md__3-eZ6"
                                                        aria-invalid="false"
                                                        name="lectureTime"
                                                            style="padding-left: 8px"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <!-- 강연 위치 -->
                                    <section class="Section_container__3md8M spacing-9" style="max-width: 630px">
                                        <div class="Section_header__1qwS7 spacing-4">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">강연 위치</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="TextField_textField__23rCe TextField_md__2zsQn">
                                                <label></label>
                                                <div class="TextField_field__1E9vt">
                                                    <input
                                                            th:field="*{lectureLocation}"
                                                        placeholder="강연 위치를 입력해 주세요"
                                                        maxlength="40"
                                                        type="text"
                                                        class="Input_input__2kAAL Input_md__3-eZ6"
                                                        name="lectureLocation"
                                                            style="padding-left: 8px"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <!-- 강연 총 인원 -->
                                    <section class="Section_container__3md8M spacing-9" style="max-width: 630px">
                                        <div class="Section_header__1qwS7 spacing-4">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">강연 총 인원</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="TextField_textField__23rCe TextField_md__2zsQn">
                                                <label></label>
                                                <div class="TextField_field__1E9vt">
                                                    <input id="lectureTotalPersonnel"
                                                        placeholder="강연 총 인원을 입력해 주세요"
                                                        maxlength="40"
                                                        type="text"
                                                        class="Input_input__2kAAL Input_md__3-eZ6 personnel"
                                                        aria-invalid="false"
                                                        name="lectureTotalPersonnel"
                                                           style="padding-left: 8px"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </section>


                                    <!-- 사진 등록 -->
                                    <section class="Section_container__3md8M" style="max-width: 630px">
                                        <div class="Section_header__1qwS7">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">썸네일 등록</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_description__10Uwo">
                                            강연 관련 대표 사진을 등록해 주세요.
                                        </div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="StoryVideoOrImageField_container__1lnfV">
                                                <div
                                                    class="field Form_field__35I9T required ImageFormField_field__X1jTW StoryImageField_field__3O6yy"
                                                    style="padding-left: 0px"
                                                >
                                                    <div class="attach-wrap" style="margin-bottom: 26px;">
                                                        <label for="upload1" class="attach">
                                                            <img src="" class="thumbnail">
                                                            <div class="x">
                                                                <img src="/image/lecture/x.png">
                                                            </div>
                                                            <h6 class="plus">+</h6>
                                                            <h6>대표 이미지</h6>
                                                            <span class="file-size"></span>
                                                        </label>
                                                        <label for="upload2" class="attach">
                                                            <img src="" class="thumbnail">
                                                            <div class="x">
                                                                <img src="/image/lecture/x.png">
                                                            </div>
                                                            <h6 class="plus">+</h6>
                                                            <h6>제목 사진</h6>
                                                            <span class="file-size"></span>
                                                        </label>
                                                        <label for="upload3" class="attach">
                                                            <img src="" class="thumbnail">
                                                            <div class="x">
                                                                <img src="/image/lecture/x.png">
                                                            </div>
                                                            <h6 class="plus">+</h6>
                                                            <h6>내용 사진</h6>
                                                            <span class="file-size"></span>
                                                        </label>
                                                        <input type="file" id="upload1" name="upload1" class="upload" style="display: none;">
                                                        <input type="file" id="upload2" name="upload2" class="upload" style="display: none;">
                                                        <input type="file" id="upload3" name="upload3" class="upload" style="display: none;">
                                                </div>
                                                    <strong>맞는 위치에 사진을 업로드 해주세요.</strong>
                                            </div>
                                        </div>
                                        </div>
                                    </section>
                                    <!-- 강연 내용 -->
                                    <section class="Section_container__3md8M" style="max-width: 630px">
                                        <div class="Section_header__1qwS7">
                                            <h2 class="Section_title__ikPIm Section_isRequired__F8rij">강연 내용</h2>
                                            <div class="Section_guide__2xeJO"></div>
                                        </div>
                                        <div class="Section_content__3OkLZ">
                                            <div class="StorySummaryField_container__25ePA">
                                                <div class="field Form_field__35I9T FormFieldTextarea_field__33Ncu">
                                                    <div class="wide column-2"></div>
                                                    <div class="wide column-4">
                                                        <div class="wz input">
                                                            <textarea style="resize: none"
                                                                placeholder="내용 입력"
                                                                maxlength="100"
                                                                name="lectureContent"
                                                                rows="5"
                                                            ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="StoryEditorForComingWrapper_container__1cngW"></div>
                                    <div class="FundingStoryContainer_btnWrapper__32tvJ">
                                        <button
                                            class="Button_button__1e2A2 Button_primary__PxOJr Button_contained__TTXSM Button_lg__3vRQD ok-button"
                                            type="button"
                                            style="width: 100%"
                                        >
                                            <span><span class="Button_children__q9VCZ">저장하기</span></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Toast_toast__1b_B2"><div class="Toast_content__G-bTq"></div></div>
        </div>

        <div data-react-modal-body-trap="" tabindex="0" style="position: absolute; opacity: 0"></div>
        <div class="modal">
            <div class="warn-modal">
                <div id="content-wrap"></div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.6.min.js"
            type="application/javascript"></script>
    <


        <script src="/js/modal/modal.js"></script>
    <script src="/js/lecture/register.js"></script>
</html>
