<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>찜 목록 | 위게더</title>
    <link rel="stylesheet" href="/css/mypage/heart-list/heart.css">
    <link rel="stylesheet" href="/css/mypage/my-page/mypage.css">
  </head>
  <body>
    <section>
      <div class="App_titleBox__GffUu"><h2 class="App_title__2iUXo">찜하기</h2></div>
      <div class="App_filterBox__1vsSG">
        <div class="FilterTab_container__2g8IL App_filterTab__xeYLJ">
          <ul class="FilterTab_filterList__2TOrX">
            <li class="FilterTab_filterItem__ILzy1 all">
              <button

                class="Button_button__2FuOU Button_tertiaryMint__2aF4q Button_contained__2SIAT Button_md__46Ai- FilterTab_button__2puLN"
                type="button"
              >
                <span><span class="Button_children__ilFun">전체</span></span>
              </button>
            </li>
            <li class="FilterTab_filterItem__ILzy1 project">
              <button
                class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_md__46Ai- FilterTab_button__2puLN"
                type="button"
              >
                <span><span class="Button_children__ilFun">프로젝트</span></span>
              </button>
            </li>
            <li class="FilterTab_filterItem__ILzy1 data">
              <button
                class="Button_button__2FuOU Button_tertiaryGrey__3jJV7 Button_contained__2SIAT Button_md__46Ai- FilterTab_button__2puLN"
                type="button"
              >
                <span><span class="Button_children__ilFun">자료</span></span>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="App_content__lI9Y7 App_hasContent__2eWnq">
        <div class="App_inner__29LAc">
          <ul class="ProjectCardList_container__2Q0Js App_projectCardList__1KfbT">

            <!--<li class="ProjectCardList_cardList__Eh497">
              <div class="ProjectCard_container__1jpWF App_projectCard__2z3D2">
                <a
                  class="ProjectCard_card__EvFnb"
                  href="/web/store/detail/3855?_refer_section_st=찜하기_상품카드_스토어_0"
                  data-ec-id="3855"
                  data-ec-name="5개동시 고속충전가능 쿨린MAX 50000mAh보조배터리"
                  data-ec-brand="와디즈 주식회사"
                  data-ec-category="테크·가전"
                  data-ec-list="찜하기_상품카드_스토어"
                  data-ec-position="0"
                  data-ec-price="54900"
                  data-ec-contenttype="STORE"
                  data-gtm-vis-recent-on-screen-11319722_2073="2510"
                  data-gtm-vis-first-on-screen-11319722_2073="2510"
                  data-gtm-vis-total-visible-time-11319722_2073="2000"
                  data-gtm-vis-recent-on-screen-11319722_2115="2510"
                  data-gtm-vis-first-on-screen-11319722_2115="2510"
                  data-gtm-vis-total-visible-time-11319722_2115="2000"
                  data-gtm-vis-has-fired-11319722_2073="1"
                  data-gtm-vis-has-fired-11319722_2115="1"
                  ><div class="ProjectCard_thumbnailBox__3nf2n">
                    <div
                      aria-hidden="true"
                      class="ProjectCard_projectCardImage__1wSoK CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                      style="
                        background-image: url('https://cdn2.wadiz.kr/2022/12/12/26263237-fb52-48af-8cbd-333502ab8fb9.jpg/wadiz/resize/400/format/jpg/quality/85/');
                      "
                    ></div>
                    <em class="ProductTypeBadge_badge__1vQ-m ProjectCard_badge___LsIT">바로구매</em>
                  </div>
                  <div class="ProjectCard_infoBox__3ILIU">
                    <div
                      class="ProjectInfo_container__aMXhM ProjectInfo_containerStore__2hufL ProjectCard_projectInfoStore__21AkS"
                    >
                      <div class="ProjectInfo_flexBox__1VtoL">
                        <em class="ProjectInfo_state__3kvLA"
                          >54,900 <span class="ProjectInfo_unit__2GehO">원</span></em
                        >
                      </div>
                    </div>
                    <strong class="ProjectCard_title__3ZLcD"
                      >5개동시 고속충전가능 쿨린MAX 50000mAh보조배터리</strong
                    >
                    <dl class="ProjectCard_subInfo__nidZs">
                      <dt class="ProjectCard_fontBlind__2JaYu">카테고리</dt>
                      <dd class="ProjectCard_subInfoText__-pKhs">테크·가전</dd>
                      <dt class="ProjectCard_fontBlind__2JaYu">메이커</dt>
                      <dd class="ProjectCard_subInfoText__-pKhs ProjectCard_ellipsis1__3fNOy">
                        와디즈 주식회사
                      </dd>
                    </dl>
                  </div>
                  <div class="CardSpinner_container__1cKRs">
                    <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px">
                      <svg viewBox="25 25 50 50" aria-label="Loading">
                        <g class="Loader_circular__2dy3E">
                          <circle
                            class="Loader_path__2uhmv"
                            cx="50"
                            cy="50"
                            r="20"
                            fill="none"
                            stroke-width="4"
                            stroke-miterlimit="10"
                          ></circle>
                        </g>
                      </svg>
                    </div></div></a
                ><button
                  type="button"
                  class="WishButton_button__1ZqbG WishButton_interaction__2FCel"
                  aria-label="찜하기 버튼"
                  aria-pressed="true"
                  data-ga-category="공통_상품카드_스토어"
                  data-ga-action="찜하기_취소"
                  data-ga-label=""
                >
                  <svg
                    viewBox="0 0 32 32"
                    focusable="false"
                    role="presentation"
                    class="withIcon_icon__3VTbq"
                    aria-hidden="true"
                  >
                    <path
                      d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"
                    ></path>
                  </svg>
                </button>
              </div>
            </li>-->

           <!-- <li class="ProjectCardList_cardList__Eh497">
              <div class="ProjectCard_container__1jpWF App_projectCard__2z3D2">
                <a
                  class="ProjectCard_card__EvFnb"
                  href="/web/campaign/detail/199851?_refer_section_st=찜하기_상품카드_펀딩_2"
                  data-ec-id="199851"
                  data-ec-name="하나만 먹어도 단백질 20g충전! 드디어 구현해낸 속세의 맛, 속세케익"
                  data-ec-brand="나믹스튜디오 주식회사"
                  data-ec-category="푸드"
                  data-ec-list="찜하기_상품카드_펀딩"
                  data-ec-position="2"
                  data-ec-contenttype="REWARD"
                  data-gtm-vis-recent-on-screen-11319722_2073="2510"
                  data-gtm-vis-first-on-screen-11319722_2073="2510"
                  data-gtm-vis-total-visible-time-11319722_2073="2000"
                  data-gtm-vis-recent-on-screen-11319722_2115="2511"
                  data-gtm-vis-first-on-screen-11319722_2115="2511"
                  data-gtm-vis-total-visible-time-11319722_2115="2000"
                  data-gtm-vis-has-fired-11319722_2073="1"
                  data-gtm-vis-has-fired-11319722_2115="1"
                  ><div class="ProjectCard_thumbnailBox__3nf2n">
                    <div
                      aria-hidden="true"
                      class="ProjectCard_projectCardImage__1wSoK CardThumbnail_thumbnail__3bDBJ CardThumbnail_visible__343f4"
                      style="
                        background-image: url('https://cdn.wadiz.kr/wwwwadiz/green001/2023/0421/20230421110130549_199851.jpg/wadiz/resize/400/format/jpg/quality/85/');
                      "
                    ></div>
                    <em class="ProductTypeBadge_badge__1vQ-m ProjectCard_badge___LsIT">프로젝트</em>
                  </div>
                  <div class="ProjectCard_infoBox__3ILIU">
                    <div class="ProjectInfo_container__aMXhM">
                      <em class="ProjectInfo_state__3kvLA"
                        >1,986<span class="ProjectInfo_unitPercent__1gnFw"
                          >% 달성 중이에요</span
                        ></em
                      >
                      <div class="ProjectInfo_alignRight__27mRq"></div>
                    </div>
                    <strong class="ProjectCard_title__3ZLcD"
                      >하나만 먹어도 단백질 20g충전! 드디어 구현해낸 속세의 맛, 속세케익</strong
                    >
                    <dl class="ProjectCard_subInfo__nidZs">
                      <dt class="ProjectCard_fontBlind__2JaYu">카테고리</dt>
                      <dd class="ProjectCard_subInfoText__-pKhs">푸드</dd>
                      <dt class="ProjectCard_fontBlind__2JaYu">메이커</dt>
                      <dd class="ProjectCard_subInfoText__-pKhs ProjectCard_ellipsis1__3fNOy">
                        나믹스튜디오 주식회사
                      </dd>
                    </dl>
                  </div>
                  <div class="CardSpinner_container__1cKRs">
                    <div class="CardSpinner_loader__2-LrZ" style="width: 32px; height: 32px">
                      <svg viewBox="25 25 50 50" aria-label="Loading">
                        <g class="Loader_circular__2dy3E">
                          <circle
                            class="Loader_path__2uhmv"
                            cx="50"
                            cy="50"
                            r="20"
                            fill="none"
                            stroke-width="4"
                            stroke-miterlimit="10"
                          ></circle>
                        </g>
                      </svg>
                    </div></div></a
                ><button
                  type="button"
                  class="WishButton_button__1ZqbG WishButton_interaction__2FCel"
                  aria-label="찜하기 버튼"
                  aria-pressed="true"
                  data-ga-category="공통_상품카드_펀딩"
                  data-ga-action="찜하기_취소"
                  data-ga-label=""
                >
                  <svg
                    viewBox="0 0 32 32"
                    focusable="false"
                    role="presentation"
                    class="withIcon_icon__3VTbq"
                    aria-hidden="true"
                  >
                    <path
                      d="M22.16 4h-.007a8.142 8.142 0 0 0-6.145 2.79A8.198 8.198 0 0 0 9.76 3.998a7.36 7.36 0 0 0-7.359 7.446c0 5.116 4.64 9.276 11.6 15.596l2 1.76 2-1.76c6.96-6.32 11.6-10.48 11.6-15.6v-.08A7.36 7.36 0 0 0 22.241 4h-.085z"
                    ></path>
                  </svg>
                </button>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
    </section>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script th:inline="javascript">
    console.log("들어옴");
    let hearts = [[${hearts}]];
  </script>
  <script src="/js/mypage/heart/heart.js"></script>
</html>
