<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.AdminMapper">

    <!-- 공지사항 목록 -->
    <select id="noticeSelectAll" resultType="noticeVO">
        SELECT ID, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGISTER_DATE
        FROM TBL_NOTICE
    </select>

    <!-- 공지사항 등록 -->
    <insert id="noticeInsert">
        INSERT INTO TBL_NOTICE(ID, NOTICE_TITLE, NOTICE_CONTENT)
        VALUES(SEQ_NOTICE.NEXTVAL, #{noticeTitle}, #{noticeContent})
    </insert>

    <!-- 공지사항 상세 -->
    <select id="noticeSelect" resultType="noticeVO">
        SELECT ID, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGISTER_DATE
        FROM TBL_NOTICE
        WHERE ID = #{id}
    </select>

    <!-- 공지사항 수정 -->
    <update id="noticeUpdate">
        UPDATE TBL_NOTICE
        SET NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENT = #{noticeContent}
        WHERE ID = #{id}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="noticeDelete">
        DELETE FROM TBL_NOTICE WHERE ID = #{id}
    </delete>

</mapper>