<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.CardMapper">
    <insert id="insert">
        INSERT INTO TBL_CARD
        (ID, MEMBER_ID, CARD_NUMBER, CARD_BIRTH_DATE, CARD_PASSWORD)
        VALUES(SEQ_CARD.NEXTVAL, #{memberId}, #{cardNumber}, #{cardBirthDate}, #{cardPassword})

    </insert>

    <select id="selectAll" resultType="cardVO">
        SELECT CARD_NUMBER, CARD_BIRTH_DATE
        FROM TBL_CARD
        WHERE MEMBER_ID = #{memberId}
        ORDER BY ID DESC
    </select>

    <delete id="delete">
        DELETE FROM TBL_CARD
        WHERE ID = #{id}
    </delete>

</mapper>