<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.ConsultingMapper">
    <insert id="insertConsulting">
        INSERT INTO TBL_CONSULTING
        (ID, MEMBER_ID, CONSULTING_TITLE, CONSULTING_CONTENT, CONSULTING_CATEGORY)
        VALUES(SEQ_CONSULTING.NEXTVAL, #{memberId}, #{consultingTitle}, #{consultingContent}, #{consultingCategory})
    </insert>



</mapper>