<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.ConsultingReplyMapper">

<!-- 일반 댓글   -->
    <insert id="insertReply">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_REPLY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPLY
        (ID, REPLY_CONTENT, REPLY_GROUP, REPLY_DEPTH)
        VALUES(#{id}, #{replyContent}, #{id}, 0)
    </insert>

<!-- 대댓글-->
    <insert id="insertReplyAgain">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_REPLY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPLY
        (ID, REPLY_CONTENT, REPLY_GROUP, REPLY_DEPTH)
        VALUES(#{id}, #{replyContent}, #{replyGroup}, 1)
    </insert>

<!--일반 댓글 조회-->
    <select id="selectAll" resultType="consultReplyDTO">
  SELECT MEMBER_NICKNAME, A.ID, REPLY_CONTENT,REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, A.CONSULTING_ID, A.MEMBER_ID, F.ID FILE_ID, FILE_PATH, FILE_UUID, FILE_NAME
  FROM TBL_FILE F RIGHT OUTER JOIN
  		(
           		SELECT M.MEMBER_NICKNAME, G.ID, REPLY_CONTENT,REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, G.CONSULTING_ID, G.MEMBER_ID, M.FILE_ID
			    FROM TBL_MEMBER M JOIN
			    (
			    SELECT ROWNUM W, R.ID, REPLY_CONTENT,REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, R.CONSULTING_ID, R.MEMBER_ID
			    FROM TBL_CONSULTING C JOIN
			    (
			    SELECT R.ID, REPLY_CONTENT, REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, A.CONSULTING_ID, A.MEMBER_ID
			    FROM TBL_CONSULTING_REPLY A JOIN TBL_REPLY R
			    ON A.ID = R.ID AND REPLY_DEPTH = 0  AND A.CONSULTING_ID = #{consultingId}
			    ORDER BY R.ID DESC
			    ) R
			       <![CDATA[
			    ON C.ID = R.CONSULTING_ID AND ROWNUM <= #{lecturePagination.page} * #{lecturePagination.rowCount}
			    ) G
			    ON M.ID = G.MEMBER_ID AND W > (#{lecturePagination.page} - 1) * #{lecturePagination.rowCount}
			      ]]>
		) A
		ON F.ID = A.FILE_ID
    </select>


    <!--일반댓글 대댓글 총개수-->
    <select id="selectCountOfReply" resultType="_int">
        SELECT COUNT(R.ID)
        FROM TBL_CONSULTING_REPLY A JOIN TBL_REPLY R
        ON A.ID = R.ID AND A.CONSULTING_ID =#{consultingId}
    </select>

    <!--일반댓글 총개수-->
    <select id="selectCount" resultType="_int">
        SELECT COUNT(R.ID)
        FROM TBL_CONSULTING_REPLY A JOIN TBL_REPLY R
        ON A.ID = R.ID AND A.CONSULTING_ID =#{consultingId} AND R.REPLY_DEPTH = 0
    </select>


    <!--대 댓글 조회-->
    <select id="selectAllAgain" resultType="consultReplyDTO">
        SELECT MEMBER_NICKNAME, A.ID, REPLY_CONTENT,REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, A.CONSULTING_ID, A.MEMBER_ID, F.ID FILE_ID, FILE_PATH, FILE_UUID, FILE_NAME
          FROM TBL_FILE F RIGHT OUTER JOIN
            (
                   SELECT M.MEMBER_NICKNAME, G.ID, REPLY_CONTENT,REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, G.CONSULTING_ID, G.MEMBER_ID, M.FILE_ID
                    FROM TBL_MEMBER M JOIN
                        (
                            SELECT ROWNUM W, R.ID, REPLY_CONTENT,REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, R.CONSULTING_ID, R.MEMBER_ID
                            FROM TBL_CONSULTING C JOIN
                                (
                                    SELECT R.ID, REPLY_CONTENT, REPLY_GROUP, REPLY_DEPTH, REPLY_REGISTER_DATE, A.CONSULTING_ID, A.MEMBER_ID
                                    FROM TBL_CONSULTING_REPLY A JOIN TBL_REPLY R
                                    ON A.ID = R.ID AND REPLY_DEPTH = 1  AND A.CONSULTING_ID = #{consultingId}
                                    ORDER BY R.ID DESC
                                ) R
                            ON C.ID = R.CONSULTING_ID
                        ) G
                    ON M.ID = G.MEMBER_ID
             ) A
            ON F.ID = A.FILE_ID
    </select>

    <!--대댓글 총개수-->
    <select id="selectCountOfReplyAgain" resultType="_int">
        SELECT COUNT(R.ID)
        FROM TBL_CONSULTING_REPLY A JOIN TBL_REPLY R
        ON A.ID = R.ID AND A.CONSULTING_ID =#{consultingId} AND REPLY_GROUP = #{replyGroup} AND = REPLY_DEPTH = 1
    </select>

    <!--중간테이블 삽입-->
    <insert id="insertMiddle">
    INSERT INTO TBL_CONSULTING_REPLY
    (ID, MEMBER_ID, CONSULTING_ID)
    VALUES(#{id}, #{memberId}, #{consultingId})
    </insert>

<!-- //////////////////////여기서부턴 삭제   -->

    <!-- 일반 댓글 // 대댓글 삭제    -->
    <delete id="deleteReply">
        DELETE FROM TBL_REPLY
        WHERE ID =#{id}
    </delete>

<!-- 대댓글 전체삭제-->
    <delete id="deleteReplyAgainAll">
        DELETE FROM TBL_REPLY
        WHERE REPLY_GROUP =#{replyGroup}
    </delete>

<!-- 중간테이블 관련 삭제   -->
    <delete id="deleteMiddle">
        DELETE FROM TBL_CONSULTING_REPLY
        WHERE ID =#{id}
    </delete>
<!--  중간테이블 조회-->
    <select id="selectMiddle" resultType="consultingReplyVO">
        SELECT ID, MEMBER_ID, CONSULTING_ID
        FROM TBL_CONSULTING_REPLY
        WHERE ID =#{id}
    </select>

<!--  원하는 댓글 조회-->
    <select id="select" resultType="consultReplyDTO">
        SELECT ID, REPLY_CONTENT, REPLY_GROUP, REPLY_DEPTH
        FROM TBL_REPLY
        WHERE ID = #{id}
    </select>

<!-- 원하는 댓글포함 대댓글 조회  -->
    <select id="selectAgain" resultType="consultReplyDTO">
        SELECT ID, REPLY_CONTENT, REPLY_GROUP, REPLY_DEPTH
        FROM TBL_REPLY
        WHERE REPLY_GROUP = #{replyGroup} AND REPLY_DEPTH = 1
    </select>


<!--  컨설팅 게시글 삭제할때 모든 댓글 삭제  -->
    <!--그 게시글에 해당되는 모든 중간테이블 삭제-->
    <delete id="deleteMiddleAll">
        DELETE FROM TBL_CONSULTING_REPLY
        WHERE CONSULTING_ID =#{consultingId}
    </delete>


    <!--  그해당 하는 게시글에 중간테이블 전체 조회-->
    <select id="selectMiddleAll" resultType="consultingReplyVO">
        SELECT ID, MEMBER_ID, CONSULTING_ID
        FROM TBL_CONSULTING_REPLY
        WHERE CONSULTING_ID = #{consultingId}
    </select>

    <!--////////////////여기서 부턴 댓글 수정-->
<!-- 댓글 수정  -->
    <update id="update">
        UPDATE TBL_REPLY
        SET REPLY_CONTENT = #{replyContent}, REPLY_UPDATE_DATE = SYSDATE
        WHERE ID = #{id}
    </update>




</mapper>