<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.DataMapper">

<!--  자료 목록 조회  -->

    <select id="selectAll" resultType="dataDTO">
        SELECT D.ID, DATA_TITLE, DATA_CONTENT, DATA_PRICE, DATA_REGISTER_DATE, DATA_UPDATE_DATE, DATA_READ_COUNT,
        D.MEMBER_ID, MEMBER_NICKNAME
        FROM
            (
            SELECT ROWNUM R, D.ID, DATA_TITLE, DATA_CONTENT, DATA_PRICE, DATA_REGISTER_DATE, DATA_UPDATE_DATE,
            DATA_READ_COUNT,
            D.MEMBER_ID, MEMBER_NICKNAME
            FROM
            (
                SELECT D.ID, DATA_TITLE, DATA_CONTENT, DATA_PRICE, DATA_REGISTER_DATE, DATA_UPDATE_DATE, DATA_READ_COUNT,
                D.MEMBER_ID, MEMBER_NICKNAME
                FROM TBL_MEMBER M JOIN TBL_DATA D
                ON M.ID = D.MEMBER_ID
                <choose>
                    <when test="categoryType.type != 'all' and !categoryType.type.equals('') ">
                        AND DATA_MAJOR = #{categoryType.type}
                    </when>
                </choose>
                ORDER BY
                <choose>
                    <when test="categoryType.order == 'new'">
                        DATA_REGISTER_DATE
                    </when>
                    <otherwise>
                        DATA_READ_COUNT
                    </otherwise>
                </choose>
                DESC
            ) D
            <![CDATA[
                WHERE ROWNUM <= #{dataPagination.page} * #{dataPagination.rowCount}
            ]]>

        <![CDATA[
        ) D WHERE R > (#{dataPagination.page} - 1) * #{dataPagination.rowCount}
        ]]>
    </select>

    <!--  자료 등록  -->
    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_DATA.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_DATA(ID, DATA_TITLE, DATA_CONTENT, DATA_PRICE, DATA_SCHOOL, DATA_MAJOR, MEMBER_ID)
        VALUES(#{id}, #{dataTitle}, #{dataContent}, #{dataPrice}, #{dataSchool}, #{dataMajor}, 2L)
    </insert>


    <!--  자료 상세 조회  -->
    <select id="select" resultType="dataDTO">
        SELECT D.ID, DATA_TITLE, DATA_CONTENT, DATA_PRICE, DATA_REGISTER_DATE, DATA_UPDATE_DATE, DATA_READ_COUNT, DATA_SCHOOL, DATA_MAJOR, D.MEMBER_ID, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_SCHOOL, MEMBER_MAJOR, MEMBER_INTRODUCING, MEMBER_POINT
        FROM TBL_DATA D JOIN TBL_MEMBER M
                        ON M.ID = D.MEMBER_ID AND D.ID = #{id}

    </select>

    <!--  자료 상세 조회 : wish  -->
<!--    <select id="selectWish" resultType="_int">-->
<!--        SELECT COUNT(W.DATA_ID)-->
<!--            FROM TBL_DATA D INNER JOIN TBL_WISH_DATA W-->
<!--            ON D.ID = W.DATA_ID;-->
<!--    </select>-->

    <!--  list count  -->
    <select id="selectCountOfData" resultType="_int">
        SELECT COUNT(D.ID)
        FROM TBL_MEMBER M JOIN TBL_DATA D
        ON M.ID = D.MEMBER_ID
    </select>




<!--    소영 마이페이지에서 내가 구매한 자료, 내가 등록한 자료 조회-->

<!--    내가 등록한 자료-->
    <select id="selectmydata" resultType="dataDTO">
    SELECT ID, DATA_TITLE, DATA_UPDATE_DATE
    FROM TBL_DATA WHERE MEMBER_ID=#{memberId}
    </select>



    <!--    소영 마이페이지-내가 업로드한 자료-->


    <select id="selectMyData" resultType="dataDTO">
        SELECT D.ID || TO_CHAR(DATA_REGISTER_DATE,'YYYYMMDD') NUM, DATA_TITLE, DATA_CONTENT,  CONCAT(CONCAT(DATA_SCHOOL, ' '), DATA_MAJOR) || ' / ' || DATA_PRICE INFO, DATA_UPDATE_DATE
        FROM TBL_DATA D LEFT JOIN TBL_DATA_FILE DF ON D.ID=DF.DATA_ID JOIN TBL_FILE F ON DF.ID = F.ID
        WHERE D.MEMBER_ID=#{memberId}
    </select>



<!--    <select id="selectMyData" resultType="dataDTO">-->
<!--        SELECT F.ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE-->
<!--        FROM TBL_FILE F JOIN TBL_DATA_FILE DF JOIN TBL_DATA D -->
<!--        ON F.ID = DF.ID AND DF.DATA_ID = #{dataId}-->

<!--    </select>-->
</mapper>