<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.FileMapper">

    <!--  community  -->
    <insert id="communityInsert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_FILE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_FILE
        (ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE)
        VALUES(#{id}, #{filePath}, #{fileUuid}, #{fileName}, #{fileSize}, #{fileType})
    </insert>

    <select id="communitySelectAll" resultType="communityFileDTO">
        SELECT F.ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE, COMMUNITY_ID
        FROM TBL_FILE F JOIN TBL_COMMUNITY_FILE C
        ON F.ID = C.ID AND COMMUNITY_ID = #{communityId}
        ORDER BY FILE_TYPE DESC
    </select>

    <delete id="communityDelete">
        DELETE FROM TBL_FILE
        WHERE ID = #{id}
    </delete>



    <!--  consulting  -->
    <insert id="consultingInsert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_FILE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_FILE
        (ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE)
        VALUES(#{id}, #{filePath}, #{fileUuid}, #{fileName}, #{fileSize}, #{fileType})
    </insert>

    <select id="consultingSelectAll" resultType="consultingFileDTO">
        SELECT F.ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE, CONSULTING_ID
        FROM TBL_FILE F JOIN TBL_CONSULTING_FILE C
        ON F.ID = C.ID AND CONSULTING_ID = #{consultingId}
        ORDER BY FILE_TYPE DESC
    </select>

    <delete id="consultingDelete">
        DELETE FROM TBL_FILE
        WHERE ID = #{id}
    </delete>











<!--  data  -->
<!--    <select id="dataSelectAll" resultType="dataFileDTO">-->
<!--        SELECT F.ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, DATA_ID-->
<!--        FROM TBL_FILE F JOIN TBL_DATA_FILE D-->
<!--        ON F.ID = D.ID AND DATA_ID = #{dataId}-->
<!--    </select>-->

    <select id="dataSelectAll" resultType="dataFileDTO">
        SELECT DF.DATA_ID, F.ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE
        FROM TBL_DATA D, TBL_DATA_FILE DF, TBL_FILE F
        WHERE D.ID = DF.DATA_ID AND DATA_ID = #{dataId} AND DF.ID = F.ID
    </select>

    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_FILE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_FILE
        (ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE)
        VALUES(#{id}, #{filePath}, #{fileUuid}, #{fileName}, #{fileSize}, #{fileType})
    </insert>








    <insert id="projectInsert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_FILE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_FILE
        (ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE)
        VALUES(#{id}, #{filePath}, #{fileUuid}, #{fileName}, #{fileSize}, #{fileType})
    </insert>


    <select id="projectSelectAll" resultType="projectFileDTO">
        SELECT PF.PROJECT_ID, F.ID, FILE_PATH, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_TYPE
        FROM TBL_PROJECT P, TBL_PROJECT_FILE PF, TBL_FILE F
        WHERE P.ID = PF.PROJECT_ID AND PROJECT_ID = #{projectId} AND PF.ID = F.ID
    </select>
</mapper>