<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.MainMapper">


    <select id="mainPSelectAll" resultType="MainDTO">
    SELECT P.ID, P.PROJECT_TITLE, F.FILE_UUID, F.FILE_NAME, F.FILE_SIZE, F.FILE_PATH
    FROM TBL_PROJECT P, TBL_PROJECT_FILE PF, TBL_FILE F
    WHERE P.ID = PF.PROJECT_ID AND PF.ID = F.ID
    </select>

    <select id="mainDSelectAll" resultType="MainDTO">
    SELECT D.ID, D.DATA_TITLE,D.DATA_READ_COUNT, D.DATA_REGISTER_DATE, F.FILE_UUID , F.FILE_NAME , F.FILE_PATH, F.FILE_SIZE
    FROM TBL_DATA D, TBL_DATA_FILE DF, TBL_FILE F
    WHERE D.ID = DF.DATA_ID AND DF.ID = F.ID
    ORDER BY D.DATA_READ_COUNT DESC
   </select>

    <select id="mainDRSelectAll" resultType="MainDTO">
    SELECT D.ID, D.DATA_TITLE,D.DATA_READ_COUNT, D.DATA_REGISTER_DATE, F.FILE_UUID , F.FILE_NAME , F.FILE_PATH, F.FILE_SIZE
    FROM TBL_DATA D, TBL_DATA_FILE DF, TBL_FILE F
    WHERE D.ID = DF.DATA_ID AND DF.ID = F.ID
    ORDER BY D.DATA_REGISTER_DATE DESC
   </select>

    <select id="mainCSelectAll" resultType="MainDTO">
    SELECT C.ID, C.COMMUNITY_TITLE, C.COMMUNITY_REGISTER_DATE, F.FILE_UUID , F.FILE_NAME , F.FILE_PATH, F.FILE_SIZE
    FROM TBL_COMMUNITY C, TBL_COMMUNITY_FILE CF, TBL_FILE F
    WHERE C.ID = CF.COMMUNITY_ID AND CF.ID = F.ID
</select>



<!--    <select id ="searchPSelectAll" resultType="MainDTO">-->
<!--            SELECT P.ID, P.PROJECT_TITLE, P.PROJECT_MAJOR, F.FILE_UUID, F.FILE_NAME, F.FILE_SIZE, F.FILE_PATH-->
<!--            FROM TBL_PROJECT P, TBL_PROJECT_FILE PF, TBL_FILE F-->
<!--            WHERE P.ID = PF.PROJECT_ID AND PF.ID = F.ID-->
<!--            ORDER BY P.ID DESC-->
<!--    </select>-->

    <!--프로젝트 전체 목록-->
    <select id ="searchPSelectAll" resultType="MainDTO">
    SELECT F.ID, PROJECT_TITLE, PROJECT_MAJOR, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_PATH
    FROM
            (
            SELECT ROWNUM R, ID, PROJECT_TITLE, PROJECT_MAJOR, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_PATH
            FROM
                (
                    SELECT ROWNUM R, P.ID, P.PROJECT_TITLE, P.PROJECT_MAJOR, F.FILE_UUID, F.FILE_NAME, F.FILE_SIZE, F.FILE_PATH
                    FROM TBL_PROJECT P, TBL_PROJECT_FILE PF, TBL_FILE F
                    WHERE P.ID = PF.PROJECT_ID AND PF.ID = F.ID
                    ORDER BY P.ID DESC
                 )
            <![CDATA[
                WHERE ROWNUM <= #{mainProjectPagination.page} * #{mainProjectPagination.rowCount}
            )
        F WHERE R > (#{mainProjectPagination.page} - 1) * #{mainProjectPagination.rowCount}
        ]]>
        <if test="search.keyword != null">
            AND PROJECT_TITLE LIKE '%'||#{search.keyword}||'%'
        </if>
    </select>


    <!--프로젝트 총 갯수-->
    <select id="selectCountOfProject" resultType="_int">
        SELECT COUNT(ID) FROM TBL_PROJECT
    </select>


<!--&lt;!&ndash; 자료실 전체 목록 &ndash;&gt;-->
<!--<select id="searchDSelectAll" resultType="MainDTO">-->
<!--     SELECT F.ID, DATA_TITLE, DATA_MAJOR, DATA_PRICE, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_PATH-->
<!--    FROM-->
<!--            (-->
<!--            SELECT ROWNUM R, ID, DATA_TITLE, DATA_MAJOR, DATA_PRICE, FILE_UUID, FILE_NAME, FILE_SIZE, FILE_PATH-->
<!--            FROM-->
<!--                (-->
<!--                    SELECT ROWNUM R, D.ID, D.DATA_TITLE, D.DATA_MAJOR, D.DATA_PRICE, F.FILE_UUID, F.FILE_NAME, F.FILE_SIZE, F.FILE_PATH-->
<!--                    FROM TBL_DATA D, TBL_DATA_FILE DF, TBL_FILE F-->
<!--                    WHERE D.ID = DF.DATA_ID AND DF.ID = F.ID-->
<!--                    ORDER BY D.ID DESC-->
<!--                 )-->
<!--            <![CDATA[-->
<!--                WHERE ROWNUM <= #{mainDataPagination.page} * #{mainDataPagination.rowCount}-->
<!--            )-->
<!--        F WHERE R > (#{mainDataPagination.page} - 1) * #{mainDataPagination.rowCount}-->
<!--        ]]>-->
<!--    <if test="search.keyword != null">-->
<!--        AND DATA_TITLE LIKE '%'||#{search.keyword}||'%'-->
<!--    </if>-->
<!--</select>-->

<!--&lt;!&ndash;자료실 총 갯수&ndash;&gt;-->
<!--<select id="selectCountOfData" resultType="_int">-->
<!--    SELECT COUNT(ID) FROM TBL_DATA-->
<!--</select>-->

</mapper>