<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.MemberMapper">
    <!-- 아이디중복검사 & 아이디 찾기  -->
    <select id="selectByMemberId" resultType="memberVO">
        SELECT ID, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE_NUMBER, MEMBER_STATUS, MEMBER_GRADE, MEMBER_LOGIN_STATUS, SNS_PROFILE
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 회원가입-->
    <insert id="insert">
        INSERT INTO TBL_MEMBER
        (ID, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE_NUMBER, MEMBER_STATUS, MEMBER_GRADE)
        VALUES(SEQ_MEMBER.NEXTVAL, #{memberId}, #{memberPassword}, #{memberName}, #{memberNickname}, #{memberPhoneNumber}, '1' , 'USER')
    </insert>

    <!--  로그인 -->
    <select id="selectByMemberIdAndMemberPassword" resultType="long">
        SELECT ID FROM TBL_MEMBER WHERE MEMBER_ID = #{memberId} AND MEMBER_PASSWORD = #{memberPassword}
    </select>

    <!--  비밀번호 재설정  -->
    <update id="updatePassword">
        UPDATE TBL_MEMBER
        SET MEMBER_PASSWORD = #{memberPassword}
        WHERE ID = #{id}
    </update>

<!--   카카오나 로그인 상태 업데이트-->
    <update id="updateLoginStatusToKakao">
         UPDATE TBL_MEMBER
        SET MEMBER_LOGIN_STATUS = 'KAKAO', SNS_PROFILE = #{snsProfile}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!--   네이버로 로그인 상태 업데이트-->
    <update id="updateLoginStatusToNaver">
        UPDATE TBL_MEMBER
        SET MEMBER_LOGIN_STATUS = 'NAVER', SNS_PROFILE= #{snsProfile}
        WHERE MEMBER_ID = #{memberId}
    </update>

<!--    세션 맴버 아이디로 아이디 찾기-->
    <select id="selectById" resultType="memberVO">
        SELECT ID, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_SCHOOL, MEMBER_MAJOR, MEMBER_INTRODUCING, MEMBER_PHONE_NUMBER, MEMBER_STATUS, MEMBER_GRADE, MEMBER_LOGIN_STATUS, FILE_NAME, SNS_PROFILE, MEMBER_POINT
        FROM TBL_MEMBER
        WHERE ID = #{id}
    </select>

<!--파일을 조인한 것 가져오기-->
    <select id="selectIdAndProfile" resultType="profileMemberDTO">
        	SELECT ID, MEMBER_ID, MEMBER_PASSWORD, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE_NUMBER, MEMBER_STATUS, MEMBER_GRADE, MEMBER_LOGIN_STATUS, FILE_PATH, FILE_UUID, FILE_NAME
        	FROM TBL_MEMBER
            WHERE ID = #{id}
    </select>

<!--    마이페이지 프로필-->
    <update id="updateProfile">
        UPDATE TBL_MEMBER
        SET MEMBER_SCHOOL=#{memberSchool}, MEMBER_MAJOR=#{memberMajor}, MEMBER_INTRODUCING=#{memberIntroducing}
        WHERE id=#{id}
    </update>





























<!--    소영 마이페이지 화면 띄우기-->
    <select id="selectmypage" resultType="memberDTO">
    SELECT M.MEMBER_NAME, M.MEMBER_LOGIN_STATUS, M.MEMBER_POINT, M.MEMBER_NICKNAME, M.MEMBER_PHONE_NUMBER
    FROM TBL_MEMBER M
    WHERE M.ID =#{id}


    </select>


<!--    회원 탈퇴-->
    <update id="updateMemberS">
    UPDATE TBL_MEMBER
    SET MEMBER_STATUS='0'
    WHERE ID=#{id}
    </update>

<!--    마이페이지 기본 정보 설정-->

    <update id="updateBasicSet">
        UPDATE TBL_MEMBER
        SET MEMBER_NICKNAME = #{memberNickname}, MEMBER_PHONE_NUMBER = #{memberPhoneNumber}
        WHERE ID=#{id}
    </update>
















    <!-- 마이페이지 사진 가져오기 -->
    <select id="selectMyPageImage" resultType="MemberDTO">
        SELECT F.FILE_PATH, F.FILE_UUID, F.FILE_NAME
        FROM TBL_MEMBER M JOIN TBL_FILE F
        ON M.FILE_ID = F.ID AND M.ID = #{id}
    </select>









</mapper>