<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.PayMapper">

    <!--  결제 pay insert  -->
    <insert id="insertPay">
        INSERT INTO TBL_PAY
        (ID, MEMBER_ID, DATA_ID, PAY_POINT_USE)
        VALUES(SEQ_PAY.NEXTVAL, #{memberId}, #{dataId}, #{payPointUse})
    </insert>

    <!--  결제 member update  -->
    <update id="updateMemberPoint">
        UPDATE TBL_MEMBER
        SET MEMBER_POINT = MEMBER_POINT - #{payPointUse}
        WHERE ID = #{memberId}
    </update>


    <!--  결제 member update  -->
    <update id="updateMemberPointPlus">
        UPDATE TBL_MEMBER
        SET MEMBER_POINT = MEMBER_POINT + #{getHistory}
        WHERE ID = #{memberId}
    </update>


    <!--  결제 point insert  -->
    <!--  적립  -->
    <insert id="insertPoint">
        INSERT INTO TBL_POINT
        (ID, MEMBER_ID, DATA_ID, POINT_HISTORY, POINT_CATEGORY)
        VALUES(SEQ_POINT.NEXTVAL, #{memberId}, #{dataId}, #{getHistory}, '적립')
    </insert>

    <!--  사용  -->
    <insert id="insertPayPoint">
        INSERT INTO TBL_POINT
        (ID, MEMBER_ID, DATA_ID, POINT_HISTORY, POINT_CATEGORY)
        VALUES(SEQ_POINT.NEXTVAL, #{memberId}, #{dataId}, #{payPointUse}, '사용')
    </insert>


</mapper>