<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.PointMapper">
<!-- 회원가입 2000원 적립   -->
    <insert id="insertJoinPoint">
    INSERT INTO TBL_POINT
    (ID, MEMBER_ID, POINT_HISTORY, POINT_CATEGORY)
    VALUES(SEQ_POINT.NEXTVAL, #{memberId}, 2000, '적립'
    )
    </insert>



    <select id="selectMyPoint" resultType="pointDTO">

    SELECT ID, MEMBER_NAME , MEMBER_POINT, POINT_HISTORY, POINT_CATEGORY, DATA_TITLE,
        DATA_ID, POINT_RECORD_DATE
    FROM (SELECT M.ID, M.MEMBER_NAME ,M.MEMBER_POINT, P.POINT_HISTORY, P.POINT_CATEGORY, D.DATA_TITLE,
        Y.DATA_ID, P.POINT_RECORD_DATE
        FROM TBL_MEMBER M JOIN TBL_POINT P
        ON M.ID=P.MEMBER_ID
        LEFT OUTER JOIN TBL_DATA D ON P.DATA_ID =D.ID LEFT OUTER JOIN TBL_PAY Y ON D.ID=Y.DATA_ID
        WHERE M.ID =#{id}
        ORDER BY POINT_RECORD_DATE DESC) T
       WHERE ID=#{id}

    </select>
</mapper>