<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.ProjectMapper">

    <!--    <프로젝트 목록>-->
    <select id="projectSelectAll" resultType="projectDTO">
        SELECT P.ID, P.MEMBER_ID, PROJECT_TITLE, PROJECT_INTRODUCING, PROJECT_MAJOR, PROJECT_SCHOOL,
        PROJECT_REGISTER_DATE, PROJECT_UPDATE_DATE, PROJECT_END_DATE, PROJECT_READ_COUNT,
        PROJECT_NOW_PERSONNEL, PROJECT_TOTAL_PERSONNEL
        FROM (
        SELECT ROWNUM R, P.ID, P.MEMBER_ID, PROJECT_TITLE, PROJECT_INTRODUCING, PROJECT_MAJOR, PROJECT_SCHOOL,
        PROJECT_REGISTER_DATE, PROJECT_UPDATE_DATE, PROJECT_END_DATE, PROJECT_READ_COUNT,
        PROJECT_NOW_PERSONNEL, PROJECT_TOTAL_PERSONNEL
        FROM TBL_MEMBER M JOIN TBL_PROJECT P
        <![CDATA[
        ON M.ID = P.MEMBER_ID AND ROWNUM <= #{page} * #{rowCount}
        ORDER BY P.ID DESC
        ]]>
        ) P WHERE R > (#{page} - 1) * #{rowCount}
    </select>


    <!-- 프로젝트 등록>-->
    <insert id="projectInsert">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_PROJECT.NEXTVAL FROM DUAL
        </selectKey>
    INSERT INTO TBL_PROJECT
    (ID, MEMBER_ID, PROJECT_TITLE, PROJECT_INTRODUCING, PROJECT_MAJOR, PROJECT_SCHOOL,
    PROJECT_REGISTER_DATE, PROJECT_UPDATE_DATE, PROJECT_END_DATE, PROJECT_READ_COUNT, PROJECT_NOW_PERSONNEL, PROJECT_TOTAL_PERSONNEL)
    VALUES(#{id},#{memberId},#{projectTitle},#{projectIntroducing},#{projectMajor},#{projectSchool},
     SYSDATE,SYSDATE,#{projectEndDate},#{projectReadCount},#{projectNowPersonnel},#{projectTotalPersonnel})
    </insert>



    <!--     <프로젝트 상세>-->
    <select id="select" resultType="ProjectDTO">
        SELECT ID, MEMBER_ID, PROJECT_TITLE, PROJECT_INTRODUCING, PROJECT_MAJOR, PROJECT_SCHOOL,
         PROJECT_REGISTER_DATE, PROJECT_UPDATE_DATE, PROJECT_END_DATE, PROJECT_READ_COUNT, PROJECT_NOW_PERSONNEL, PROJECT_TOTAL_PERSONNEL
        FROM TBL_PROJECT
        WHERE ID= #{id}
    </select>

    <update id="projectUpdate">
        UPDATE TBL_PROJECT
            SET MEMBER_ID=#{memberId}, PROJECT_TITLE=#{projectTitle}, PROJECT_INTRODUCING=#{projectIntroducing}, PROJECT_MAJOR=#{projectMajor},
            PROJECT_SCHOOL=#{projectSchool},PROJECT_REGISTER_DATE=SYSDATE, PROJECT_UPDATE_DATE=SYSDATE, PROJECT_END_DATE=#{projectEndDate},
                PROJECT_READ_COUNT=#{projectReadCount}, PROJECT_NOW_PERSONNEL=#{projectNowPersonnel}, PROJECT_TOTAL_PERSONNEL=#{projectTotalPersonnel}
            WHERE ID= #{id}
    </update>

    <delete id="projectDelete">
        DELETE FROM TBL_PROJECT
        WHERE ID= #{id}
    </delete>



    <select id="selectCountOfProject" resultType="_int">
        SELECT COUNT(ID)
        FROM TBL_PROJECT
    </select>
</mapper>