<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.WishProjectMapper">

<!--    찜 하기-->
    <insert id="insert">
        INSERT INTO TBL_WISH_PROJECT
        (ID, MEMBER_ID, PROJECT_ID)
        VALUES(SEQ_PROJECT.NEXTVAL, #{memberId}, #{projectId})
    </insert>

<!--    프로젝트 찜 조회-->
    <select id="selectAll" resultType="projectDTO">
      SELECT  p.MEMBER_ID, p.PROJECT_TITLE, PROJECT_SCHOOL || ' ' || PROJECT_MAJOR info , PROJECT_NOW_PERSONNEL|| ' / ' || PROJECT_TOTAL_PERSONNEL now
      FROM TBL_PROJECT p, TBL_WISH_PROJECT w
      WHERE p.ID =w.PROJECT_ID AND p.MEMBER_ID =#{memberId}
    </select>

<!--    찜 취소-->
    <delete id="delete">
       DELETE FROM TBL_WISH_PROJECT
       WHERE ID = #{id}
    </delete>

</mapper>