<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.WishDataMapper">
    <select id="selectAll" resultType="dataDTO">
        SELECT  W.MEMBER_ID, D.DATA_TITLE, DATA_SCHOOL || ' ' || DATA_MAJOR info, DATA_PRICE
        FROM TBL_DATA D, TBL_WISH_DATA W
        WHERE W.MEMBER_ID=#{memberId} AND D.ID =W.DATA_ID
    </select>

</mapper>