<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegether.app.mapper.WishProjectMapper">

<!--    찜 하기-->
    <insert id="insert">
        INSERT INTO TBL_WISH_PROJECT
        (ID, MEMBER_ID, PROJECT_ID)
        VALUES(SEQ_PROJECT.NEXTVAL, #{memberId}, #{projectId})
    </insert>

<!--    찜 조회-->
    <select id="selectAll" resultType="wishProjectVO">
      SELECT ID, MEMBER_ID, PROJECT_ID
      FROM TBL_WISH_PROJECT
    </select>

<!--    찜 취소-->
    <delete id="delete">
       DELETE FROM TBL_WISH_PROJECT
       WHERE ID = #{id}
    </delete>

</mapper>